<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:with="http://www.thymeleaf.org/extras/with" layout:decorate="~{/D_TambahPelamar/layoutpelamar}"
    with:title="'B210'">
<th:block layout:fragment="content">

    <form id="form-pelamar">
        <table id="re" class="table" style="border-spacing:20px; border:none;">
            <tr>
                <td colspan="6" style="color: rgb(25, 25, 112);font-size:12px;">Nama Lengkap*</td>
                <td colspan="6" style="color: rgb(25, 25, 112);font-size:12px;">Nama Panggilan*</td>
            </tr>
            <tr>
                <td colspan="6"><input
                        style="border: 2px solid rgb(0,0,102);font-size:12px;border-radius:4px;width:100%; padding: 5px 10px;"
                        class="haha form-control" id="fullName" type="text"></td>
                <td colspan="6"><input
                        style="border: 2px solid rgb(0,0,102);font-size:12px;border-radius:4px;width:100%; padding: 5px 10px;"
                        class="haha form-control" type="text" id="nickName"></td>
            </tr>
            <tr>
                <td colspan="3" style="color: rgb(25, 25, 112);font-size:12px;">Tempat lahir*</td>
                <td colspan="3" style="color: rgb(25, 25, 112);font-size:12px;">Tgl. Lahir(dd-mm-yyyy)*</td>
                <td colspan="3" style="color: rgb(25, 25, 112);font-size:12px;">Jenis Kelamin*</td>
                <td colspan="3" style="color: rgb(25, 25, 112);font-size:12px;">Agama*</td>
            </tr>
            <tr>
                <td colspan="3">
                    <input
                        style="border: 2px solid rgb(0,0,102);font-size:12px;border-radius:4px;width:100%; padding: 5px 10px;"
                        type="text" id="pob" class="haha form-control">
                </td>

                <td colspan="3">
                    <input
                        style="border: 2px solid rgb(0,0,102);font-size:12px;border-radius:4px;width:100%; padding: 5px 10px;"
                        type="text" id="dob" class="haha form-control">
                </td>

                <td colspan="3">
                    <select
                        style="border: 2px solid rgb(0,0,102);font-size:12px;border-radius:4px;width:100%; padding: 5px 10px;"
                        class="haha form-control" id="gender">
                        <option th:value="false">Wanita</option>
                        <option th:value="true">Pria</option>
                    </select>
                </td>
                <td colspan="3">
                    <select
                        style="border: 2px solid rgb(0,0,102);font-size:12px;border-radius:4px;width:100%; padding: 5px 10px;"
                        class="haha form-control" id="religionId">
                        <option th:each="item:${listagama}" th:value="${item.id}" th:text="${item.name}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="color: rgb(25, 25, 112);font-size:12px;">Tinggi(cm)*</td>
                <td colspan="3" style="color: rgb(25, 25, 112);font-size:12px;">Berat(kg)*</td>
                <td colspan="3" style="color: rgb(25, 25, 112);font-size:12px;">Kewarganegaraan*</td>
                <td colspan="3" style="color: rgb(25, 25, 112);font-size:12px;">Suku Bangsa</td>
            </tr>
            <tr>
                <td colspan="3"><input
                        style="border: 2px solid rgb(0,0,102);font-size:12px;border-radius:4px;width:100%; padding: 5px 10px;"
                        type="text" id="high" class="haha form-control"></td>
                <td colspan="3"><input
                        style="border: 2px solid rgb(0,0,102);font-size:12px;border-radius:4px;width:100%; padding: 5px 10px;"
                        type="text" id="weight" class="haha form-control"></td>
                <td colspan="3"><input
                        style="border: 2px solid rgb(0,0,102);font-size:12px;border-radius:4px;width:100%; padding: 5px 10px;"
                        type="text" id="nationality" class="haha form-control"></td>
                <td colspan="3"><input
                        style="border: 2px solid rgb(0,0,102);font-size:12px;border-radius:4px;width:100%; padding: 5px 10px;"
                        type="text" id="ethnic" class="haha form-control"></td>
            </tr>
            <tr>
                <td colspan="6" style="color: rgb(25, 25, 112);font-size:12px;">Kegemaran / Hobi</td>
                <td colspan="3" style="color: rgb(25, 25, 112);font-size:12px;">Jenis Identitas*</td>
                <td colspan="3" style="color: rgb(25, 25, 112);font-size:12px;">Nomor Identitas</td>
            </tr>
            <tr>
                <td colspan="6"><input
                        style="border: 2px solid rgb(0,0,102);font-size:12px;border-radius:4px;width:100%; padding: 5px 10px;"
                        class="haha form-control" type="text" id="hobby"></td>
                <td colspan="3">

                    <select
                        style="border: 2px solid rgb(0,0,102);font-size:12px;border-radius:4px;width:100%; padding: 5px 10px;"
                        class="haha form-control" id="identityTypeId">
                        <option th:each="item:${listidentitytype}" th:value="${item.Id}" th:text="${item.name}">
                        </option>
                    </select>
                </td>
                <td colspan="3"><input
                        style="border: 2px solid rgb(0,0,102);font-size:12px;border-radius:4px;width:100%; padding: 5px 10px;"
                        class="haha form-control" type="text" id="identityNo"></td>
            </tr>
            <tr>
                <td colspan="3" style="color: rgb(25, 25, 112);font-size:12px;">Email*</td>
                <td colspan="3" style="color: rgb(25, 25, 112);font-size:12px;">No. Hp</td>
                <td colspan="3" style="color: rgb(25, 25, 112);font-size:12px;">No. HP Alternatif</td>
                <td colspan="3" style="color: rgb(25, 25, 112);font-size:12px;">No. Telp (Rmh/Orang Tua)*</td>
            </tr>
            <tr>
                <td colspan="3"><input
                        style="border: 2px solid rgb(0,0,102);font-size:12px;border-radius:4px;width:100%; padding: 5px 10px;"
                        type="email" id="email" class="haha form-control" required></td>
                <td colspan="3"><input
                        style="border: 2px solid rgb(0,0,102);font-size:12px;border-radius:4px;width:100%; padding: 5px 10px;"
                        type="text" id="phoneNumber1" class="haha form-control"></td>
                <td colspan="3"><input
                        style="border: 2px solid rgb(0,0,102);font-size:12px;border-radius:4px;width:100%; padding: 5px 10px;"
                        type="text" id="phoneNumber2" class="haha form-control"></td>
                <td colspan="3"><input
                        style="border: 2px solid rgb(0,0,102);font-size:12px;border-radius:4px;width:100%; padding: 5px 10px;"
                        type="text" id="parentPhoneNumber" class="haha form-control"></td>
            </tr>
            <tr>
                <td colspan="3" style="color: rgb(25, 25, 112);font-size:12px;">Anak Ke*</td>
                <td colspan="3" style="color: rgb(25, 25, 112);font-size:12px;">Dari Berapa Saudara*</td>
                <td colspan="3" style="color: rgb(25, 25, 112);font-size:12px;">Status Pernikahan*</td>
                <td colspan="3" style="color: rgb(25, 25, 112);font-size:12px;">Tahun Pernikahan</td>
            </tr>
            <tr>
                <td colspan="3"><input
                        style="border: 2px solid rgb(0,0,102);font-size:12px;border-radius:4px;width:100%; padding: 5px 10px;"
                        type="text" id="childSequence" class="haha form-control"></td>
                <td colspan="3"><input
                        style="border: 2px solid rgb(0,0,102);font-size:12px;border-radius:4px;width:100%; padding: 5px 10px;"
                        type="text" id="howManyBrothers" class="haha form-control"></td>
                <td colspan="3">
                    <input
                        style="border: 2px solid rgb(0,0,102);font-size:12px;border-radius:4px;width:100%; padding: 5px 10px;"
                        type="hidden" id="Id">
                    <select
                        style="border: 2px solid rgb(0,0,102);font-size:12px;border-radius:4px;width:100%; padding: 5px 10px;"
                        class="form-control" id="maritalStatusId">
                        <option th:each="item:${listmaritalstatus}" th:value="${item.id}" th:text="${item.name}">
                        </option>
                    </select>
                </td>
                <td colspan="3">
                    <select
                        style="border: 2px solid rgb(0,0,102);font-size:12px;border-radius:4px;width:100%; padding: 5px 10px;"
                        id="marriageYear" class="haha form-control">
                        <option th:value="1990">1990</option>
                        <option th:value="1991">1991</option>
                        <option th:value="1992">1992</option>
                        <option th:value="1993">1993</option>
                        <option th:value="1994">1994</option>
                        <option th:value="1995">1995</option>
                        <option th:value="1996">1996</option>
                        <option th:value="1997">1997</option>
                        <option th:value="1998">1998</option>
                        <option th:value="1999">1999</option>
                        <option th:value="2000">2000</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td colspan="6"
                    style="border-bottom: 3px solid #000080; font-size:15px; font-weight:bold; color: rgb(25, 25, 112);font-size:12px;;"
                    ;>Alamat Sesua Identitas</td>
                <td colspan="6"
                    style="border-bottom: 3px solid #000080; font-size:15px; font-weight:bold; color: rgb(25, 25, 112);font-size:12px;;"
                    ;> Alamat Sesuai Tempat Tinggal Saat Ini </td>
            </tr>
            <tr>
                <td colspan="6" style="color: rgb(25, 25, 112);font-size:12px;">Alamat</td>
                <td colspan="6" style="color: rgb(25, 25, 112);font-size:12px;"> Alamat </td>
            </tr>
            <tr>
                <td colspan="6"><input
                        style="border: 2px solid rgb(0,0,102);font-size:12px;border-radius:4px;width:100%; padding: 5px 10px;"
                        class="haha form-control " type="text" id="address1"></td>

                <td colspan="6"><input
                        style="border: 2px solid rgb(0,0,102);font-size:12px;border-radius:4px;width:100%; padding: 5px 10px;"
                        class="haha form-control" type="text" id="address2"></td>
            </tr>
            <tr>
                <td colspan="2" style="color: rgb(25, 25, 112);font-size:12px;">Kode Pos*</td>
                <td colspan="2" style="color: rgb(25, 25, 112);font-size:12px;">RT*</td>
                <td colspan="2" style="color: rgb(25, 25, 112);font-size:12px;">RW*</td>
                <td colspan="2" style="color: rgb(25, 25, 112);font-size:12px;">Kode Pos*</td>
                <td colspan="2" style="color: rgb(25, 25, 112);font-size:12px;">RT*</td>
                <td colspan="2" style="color: rgb(25, 25, 112);font-size:12px;">RW*</td>
            </tr>
            <tr>
                <td colspan="2"><input
                        style="border: 2px solid rgb(0,0,102);font-size:12px;border-radius:4px;width:100%; padding: 5px 10px;"
                        type="text" id="postalCode1" class="haha form-control"></td>
                <td colspan="2"><input
                        style="border: 2px solid rgb(0,0,102);font-size:12px;border-radius:4px;width:100%; padding: 5px 10px;"
                        type="text" id="rt1" class="haha form-control"></td>
                <td colspan="2"><input
                        style="border: 2px solid rgb(0,0,102);font-size:12px;border-radius:4px;width:100%; padding: 5px 10px;"
                        type="text" id="rw1" class="haha form-control"></td>
                <td colspan="2"><input
                        style="border: 2px solid rgb(0,0,102);font-size:12px;border-radius:4px;width:100%; padding: 5px 10px;"
                        type="text" id="postalCode2" class="haha form-control"></td>
                <td colspan="2"><input
                        style="border: 2px solid rgb(0,0,102);font-size:12px;border-radius:4px;width:100%; padding: 5px 10px;"
                        type="text" id="rt2" class="haha form-control"></td>
                <td colspan="2"><input
                        style="border: 2px solid rgb(0,0,102);font-size:12px;border-radius:4px;width:100%; padding: 5px 10px;"
                        type="text" id="rw2" class="haha form-control"></td>
            </tr>
            <tr>
                <td colspan="2" style="color: rgb(25, 25, 112);font-size:12px;">Desa/Kelurahan*</td>
                <td colspan="2" style="color: rgb(25, 25, 112);font-size:12px;">Kecamatan*</td>
                <td colspan="2" style="color: rgb(25, 25, 112);font-size:12px;">Kota*</td>
                <td colspan="2" style="color: rgb(25, 25, 112);font-size:12px;">Desa/Kelurahan*</td>
                <td colspan="2" style="color: rgb(25, 25, 112);font-size:12px;">Kecamatan*</td>
                <td colspan="2" style="color: rgb(25, 25, 112);font-size:12px;">Kota*</td>
            </tr>
            <tr>
                <td colspan="2"><input
                        style="border: 2px solid rgb(0,0,102);font-size:12px;border-radius:4px;width:100%; padding: 5px 10px;"
                        class="haha form-control" type="text" id="kelurahan1"></td>
                <td colspan="2"><input
                        style="border: 2px solid rgb(0,0,102);font-size:12px;border-radius:4px;width:100%; padding: 5px 10px;"
                        class="haha form-control" type="text" id="kecamatan1"></td>
                <td colspan="2"><input
                        style="border: 2px solid rgb(0,0,102);font-size:12px;border-radius:4px;width:100%; padding: 5px 10px;"
                        class="haha form-control" type="text" id="region1"></td>
                <td colspan="2"><input
                        style="border: 2px solid rgb(0,0,102);font-size:12px;border-radius:4px;width:100%; padding: 5px 10px;"
                        class="haha form-control" type="text" id="kelurahan2"></td>
                <td colspan="2"><input
                        style="border: 2px solid rgb(0,0,102);font-size:12px;border-radius:4px;width:100%; padding: 5px 10px;"
                        class="haha form-control" type="text" id="kecamatan2"></td>
                <td colspan="2"><input
                        style="border: 2px solid rgb(0,0,102);font-size:12px;border-radius:4px;width:100%; padding: 5px 10px;"
                        class="haha form-control" type="text" id="region2"></td>
            </tr>
        </table>

        <input class="btn-primary" style="float: right; display: block;" type="button" value="Simpan"
            id="simpan_"></input>
        <input class="btn-danger" type="button" value="Batal" data-dismiss="modal"
            style="float: right; display: block;"></input>
        <input type="hidden" id="max">
    </form>

    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script th:src="@{/js/jquery.validate.min.js}"></script>

    <script th:inline="javascript">
        $("#form-pelamar").validate();

        $(function () {
            $("#dob").datepicker({
                dateFormat: 'yy-mm-dd'
            });
        });

        $(document).ready(function () {
            console.log("Ready...........");
            $("#simpan_").click(function () {
                var datafullName = $('#fullName').val();
                var datadob = $('#dob').val();
                var datapob = $('#pob').val();

                var datahigh = $('#high').val();
                var dataweight = $('#weight').val();
                var dataemail = $('#email').val();

                var dataparentPhoneNumber = $('#parentPhoneNumber').val();
                var datachildSequence = $('#childSequence').val();
                var datahowManyBrothers = $('#howManyBrothers').val();

                var datapostalCode1 = $('#postalCode1').val();
                var datapostalCode2 = $('#postalCode2').val();
                var datart1 = $('#rt1').val();
                var datart2 = $('#rt2').val();
                var datarw1 = $('#rw1').val();
                var datarw2 = $('#rw2').val();

                if ((datafullName == '') || (datadob == '') || (datapob == '') ||
                    (datahigh == '') || (dataweight == '') || (dataemail == '') ||
                    (dataparentPhoneNumber == '') || (datachildSequence == '') ||
                    (datahowManyBrothers == '') || (datapostalCode1 == '') || (datapostalCode2 == '') ||
                    (datart1 == '') ||
                    (datart2 == '') || (datarw1 == '') || (datarw2 == '')) {
                    alert('Wajib Mengisi Form Tanda *');
                    event.preventDefault();
                }

                //sini
                $.ajax({
                    url: '/api/tambahpelamar/validate/' + $('#email').val(),
                    type: 'get',
                    success: function (hasil) {
                        console.log("success validate");
                        if (hasil > 0) {
                            alert("Data sudah ada, cek kembali email");
                        } else {
                            $.ajax({
                                url: '/api/tambahpelamar/validate1/' + $(
                                    '#phoneNumber1').val(),
                                type: 'get',
                                success: function (hasil1) {
                                    console.log("success validate");
                                    if (hasil1 > 0) {
                                        alert(
                                            "Data sudah ada, cek kembali nomor hp1"
                                            );
                                    } else {
                                        $.ajax({
                                            url: '/api/tambahpelamar/validate2/' +
                                                $('#phoneNumber2')
                                                .val(),
                                            type: 'get',
                                            success: function (hasil2) {
                                                console.log(
                                                    "success validate"
                                                );
                                                if (hasil2 > 0) {
                                                    alert(
                                                        "Data sudah ada, cek kembali nomor hp2"
                                                        );
                                                } else {
                                                    $.ajax({
                                                        url: '/api/tambahpelamar/validate3/' +
                                                            $(
                                                                '#parentPhoneNumber'
                                                                )
                                                            .val(),
                                                        type: 'get',
                                                        success: function (
                                                            hasil3
                                                        ) {
                                                            console
                                                                .log(
                                                                    "success validate"
                                                                );
                                                            if (hasil3 >
                                                                0
                                                            ) {
                                                                alert
                                                                    (
                                                                        "Data sudah ada, cek kembali nomor hp orang tua"
                                                                        );
                                                            } else {
                                                                $.ajax({
                                                                    url: '/api/tambahpelamar/validate0/' +
                                                                        $(
                                                                            '#identityNo'
                                                                            )
                                                                        .val() +
                                                                        '/' +
                                                                        $(
                                                                            '#identityTypeId'
                                                                            )
                                                                        .val(),
                                                                    type: 'get',
                                                                    success: function (
                                                                        hasil0
                                                                    ) {
                                                                        console
                                                                            .log(
                                                                                "success validate"
                                                                            );
                                                                        if (hasil0 >
                                                                            0
                                                                        ) {
                                                                            alert
                                                                                (
                                                                                    "Data sudah ada, cek identitas"
                                                                                    );
                                                                        } else {
                                                                            savebio
                                                                                ();
                                                                        }
                                                                    }
                                                                })


                                                            }
                                                        }
                                                    })

                                                }
                                            }
                                        })


                                    }
                                }
                            })


                        }
                    }
                })
                ///sini
            })
        })

        function savebio() {
            var str = '{';
            str += '"createdBy": 1, ';
            str += '"createdOn": "2019-10-22T00:44:48.371+0000",';
            str += '"modifiedBy": 1,';
            str += '"modifiedOn": null,';
            str += '"deletedBy": null,';
            str += '"deletedOn": null,';
            str += '"fullName": "' + $('#fullName').val() + '",';
            str += '"nickName": "' + $('#nickName').val() + '",';
            str += '"pob": "' + $('#pob').val() + '",';
            str += '"dob": "' + $('#dob').val() + '",';
            str += '"gender": false,';
            str += '"religionId": ' + $('#religionId').val() + ',';
            str += '"high": ' + $('#high').val() + ',';
            str += ' "weight": ' + $('#weight').val() + ',';
            str += ' "nationality": "' + $('#nationality').val() + '",';
            str += ' "ethnic": "' + $('#ethnic').val() + '",';
            str += ' "hobby": "' + $('#hobby').val() + '",';
            str += ' "identityTypeId": ' + $('#identityTypeId').val() + ',';
            str += ' "identityNo": "' + $('#identityNo').val() + '",';
            str += ' "email": "' + $('#email').val() + '",';
            str += '"phoneNumber1": "' + $('#phoneNumber1').val() + '",';
            str += '"phoneNumber2": "' + $('#phoneNumber2').val() + '",';
            str += ' "parentPhoneNumber": "' + $('#parentPhoneNumber').val() + '",';
            str += ' "childSequence": "' + $('#childSequence').val() + '",';
            str += '  "howManyBrothers": "' + $('#howManyBrothers').val() + '",';
            str += ' "maritalStatusId": ' + $('#maritalStatusId').val() + ',';


            str += ' "expiredToken": null,';
            str += ' "marriageYear": "' + $('#marriageYear').val() + '",';
            str += '"companyId": 1,';

            str += '"delete": false,';
            str += '"complete": false,';
            str += '"process": false';

            str += '}';
            console.log(str);

            $.ajax({
                url: '/api/tambahpelamar/addbio',
                type: 'post',
                data: str,
                success: function () {
                    getmax();
                },
                dataType: 'json',
                contentType: 'application/json'
            })
        }

        function getmax() {
            var max = 0;
            $.ajax({
                url: '/api/tambahpelamar/apimax',
                type: 'get',
                success: function (data) {
                    console.log(data);
                    $('#max').val(data);

                    savedata(data);
                },
            });
        }


        function savedata(bioid) {
            console.log("7777777777777 " + $('#max').val())
            var str = '{';
            str += '"createdBy": 1, ';
            str += '"createdOn": "2019-10-09T17:00:00.000+0000",';
            str += '"modifiedBy": 1,';
            str += '"modifiedOn": "2019-10-09T17:00:00.000+0000",';
            str += '"deletedBy": 1,';
            str += '"deletedOn": "2019-10-09T17:00:00.000+0000",';
            str += '"biodataId": ' + bioid + ',';
            str += '"address1": "' + $('#address1').val() + '",';
            str += '"postalCode1": "' + $('#postalCode1').val() + '",';
            str += '"rt1": "' + $('#rt1').val() + '",';
            str += '"rw1": "' + $('#rw1').val() + '",';
            str += '"kelurahan1": "' + $('#kelurahan1').val() + '",';
            str += '"kecamatan1": "' + $('#kecamatan1').val() + '",';
            str += '"region1": "' + $('#region1').val() + '",';
            str += '"address2": "' + $('#address2').val() + '",';
            str += '"postalCode2": "' + $('#postalCode2').val() + '",';
            str += '"rt2": "' + $('#rt2').val() + '",';
            str += '"rw2": "' + $('#rw2').val() + '",';
            str += '"kelurahan2": "' + $('#kelurahan2').val() + '",';
            str += '"kecamatan2": "' + $('#kecamatan2').val() + '",';
            str += '"region2": "' + $('#region2').val() + '",';
            str += '"delete": true';

            str += '}';
            console.log(str);

            $.ajax({
                url: '/api/tambahpelamar/',
                type: 'post',
                data: str,
                success: function () {
                    location.replace('/D_CariPelamar/view')
                },
                dataType: 'json',
                contentType: 'application/json'
            })
        }
    </script>
</th:block>

</html>