<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with" >

<th:block layout:fragment="content">
    <div id="listbiodata">
        <div style="font-size:20px;">Biodata&nbsp;<a id="editbutton" th:value="${id}" style="color:rgb(0,0,102);"><span class="fa fa-edit"></span></a></div>
        <table class="table" style=" width: 100%">
            <thead style="border-top: 3px solid rgb(0,0,102);">
            <input type="hidden" th:value="${id}" id="ambilid">
            <tr th:each="item : ${listbio}" style="border-top: 2px solid rgb(0,0,102);">
                <td>Nama Lengkap</td>
                <td >:</td>
                <td th:text="${item.fullName}"></td>
            </tr>
            <tr th:each="item : ${listbio}" style="border-top: 2px solid rgb(0,0,102);">
                <td>Nama Panggilan</td>
                <td>:</td>
                <td th:text="${item.nickName}"></td>
            </tr>
            <tr th:each="item : ${listbio}" style="border-top: 2px solid rgb(0,0,102);">
                <td>Kontak</td>
                <td>:</td>
                <td th:text="${item.email} + ' / ' + ${item.phoneNumber1}"></td>
            </tr>
            <tr th:each="item : ${listbio}" style="border-top: 2px solid rgb(0,0,102);">
                <td>Tempat, Tgl. Lahir</td>
                <td>:</td>
                <td th:text="${item.pob} + ', ' + ${#dates.format(item.dob, 'dd-MMM-yyyy')}"></td>
            </tr>
            <tr th:each="item : ${listbio}" style="border-top: 2px solid rgb(0,0,102);">
                <td>Jenis Kelamin, Tinggi (cm), Berat (kg)</td>
                <td>:</td>
                <td th:text="${item.gender} ? 'Pria' + ', ' + ${item.high} + ', ' + ${item.weight} : 'Wanita' + ', ' + ${item.high} + ', ' + ${item.weight}" ></td>
            </tr>
            <tr th:each="item : ${listbio}" style="border-top: 2px solid rgb(0,0,102);">
                <td>Agama</td>
                <td>:</td>
                <td th:text="${item.religion.name}"></td>
            </tr>
            <tr th:each="item : ${listbio}" style="border-top: 2px solid rgb(0,0,102);">
                <td>Kewarganegaraan, Suku Bangsa</td>
                <td>:</td>
                <td th:text="${item.nationality} + ', ' + ${item.ethnic}"></td>
            </tr>
            <tr th:each="item : ${listbio}" style="border-top: 2px solid rgb(0,0,102);">
                <td>Kegemaran / Hobi</td>
                <td>:</td>
                <td th:text="${item.hobby}"></td>
            </tr>
            <tr th:each="item : ${listbio}" style="border-top: 2px solid rgb(0,0,102);">
                <td>Jenis & Nomor Identitas</td>
                <td>:</td>
                <td th:text="${item.identity.name} + ' - ' + ${item.identityNo}"></td>
            </tr>
            <tr th:each="item : ${listbio}" style="border-top: 2px solid rgb(0,0,102);">
                <td>Status & Tahun Pernikahan</td>
                <td>:</td>
                <td th:text="${item.marital.name} + ' - ' + ${item.marriageYear}"></td>
            </tr>
            </thead>
        </table>

    </div>

    <div class="modal fade" id="editmodalbio" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="width:80%;">
            <div class="modal-content" style="border-radius:10px;border: 2px solid rgb(0,0,102);">
                <div class="modal-header" style="border-top-left-radius:8px;border-top-right-radius:8px;background-color:rgb(0,0,102); color:white;">
                    <h5 class="modal-title" style="font-size:20"><strong>Edit Biodata</strong></h5>
                </div>
                <div class="modal-body" id="modalbodyeditbiodata">

                </div>
            </div>
        </div>
    </div>

    <script src="/bootstrap/dist/js/jquery.min.js"></script>

</th:block>

<th:block layout:fragment="jsghifari">

    <script>


        $("#tambah").on('submit', 'form', function(){
            var vUrl = $(this).attr('action');
            var vData = $(this).serialize();

            $.ajax({
                url:vUrl,
                type:'post',
                data:vData,
                dataType:'html',
                success:function(hasil){
                    $("#addmodal").modal("hide");
                    loadModal();
                }
            });
            return false;
        });

        function getUrlVars() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('/') + 1).split('/');
            return hashes;
        }

        $("#editbutton").click(function () {
            console.log('in click editbutton...');
            var vId = $('#ambilid').val();
            console.log(vId);

            $.ajax({
                url: '/D_TambahPelamar/edit_biodata/' + vId,
                type: 'get',
                dataType: 'html',
                success: function (hasil) {
                    $('#modalbodyeditbiodata').html(hasil);
                    $('#editmodalbio').modal('show');
                }
            });
        });

        function loadData() {
            var bioId = $('#viewbioid').val();
            $.ajax({
                url: '/D_TambahPelamar/view/' + bioId,
                type: 'get',
                dataType: 'html',
                success: function (hasil) {
                    $(".modal-backdrop.in").hide();
                    $("#deletemodal").modal('show');
                }
            });
        }

        function loadModal() {
            var bioId = $('#viewbioid').val();
            $.ajax({
                url: '/D_TambahPelamar/view/' + bioId,
                type: 'get',
                dataType: 'html',
                success: function (hasil) {
                    $(".modal-backdrop.in").hide();
                    $("#detailmodal").modal('show');
                }
            });
        }

    </script>
</th:block>
</html>
