
    <form th:action="@{~/D_Keahlian/delete}" method="post" th:object="${keahlian}">
        <input type="hidden" th:field="*{Id}" />
        <table cellpadding="5" cellspacing="0" style="width:100%;">
            <tr>
                <td>
                    <i class="fa fa-trash" style="font-size: 100px;"></i>
                </td>
                <td th:utext="${'Anda yakin ingin menghapus keahlian '+'&lt;br/&gt;'+' '+'&lt;strong&gt;'+ keahlian.skillName +' ?'+'&lt;/strong&gt;'}" style="text-align:center; color:#cc0000; font-size:25px"></td>
            </tr>

            <tr align="right">
                <td colspan="2">
                    <input type="submit" value="Ya" class="btn btn-danger" onclick="javascript:location.replace('/D_Keahlian/view_keahlian')" style="float:right"/>
                    <input type="button" data-dismiss="modal" value="Tidak" class="btn btn-warning" />
                </td>
            </tr>

        </table>
    </form>