<!-- html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block layout:fragment="content">
    <form th:action="@{~/D_Keahlian/delete}" method="post" th:object="${keahlian}">
        <input type="hidden" th:field="*{Id}" />
        <input type="hidden" th:field="*{createdBy}"/>
        <input type="hidden" th:field="*{modifiedBy}"/>
        <input type="hidden" th:field="*{biodataId}"/ -->
        <input type="hidden" id="skillName">
        <input type="hidden" id="skillLevelId">
        <input type="hidden" id="notes">
        <table cellpadding="5" cellspacing="0" style="width:100%;">
            <input type="hidden" id="keahlianid" th:value="${id}">
            <tr>
                <td>
                    <i class="fa fa-trash" style="font-size: 100px;"></i>
                </td>
                <td th:utext="${'Anda yakin ingin menghapus keahlian '+'&lt;br/&gt;'+' '+'&lt;strong&gt;'+ keahlian.skillName +' ?'+'&lt;/strong&gt;'}" style="text-align:center; color:#cc0000; font-size:25px"></td>
            </tr>

            <tr align="right">
                <td colspan="2">
                    <button type="button" class="btn btn-danger" id="savehapuskeahlian" style="float:right">Ya</button>
                    <button type="button" onclick="batalkeahlian()" class="btn btn-warning">Tidak</button>
                </td>
            </tr>

        </table>
    </form>
    <script>
       function batalkeahlian() {
        $("#deletemodalahli").modal('hide');
        $("#detailmodal").modal('show');
        }

        $(document).ready(function () {
            getkeahliandata();
            console.log("Ready...........");
            $("#savehapuskeahlian").click(function () {
                console.log("hapus diklik");
                savehapuskeahlian();
                }
        )}
        )

        function getkeahliandata(){
            console.log("masuk" + $('#keahlianid').val());
                $.ajax({
                    url: '/D_Keahlian/getKeahlian/' + $('#keahlianid').val(),
                    type: 'get',
                    success:function(data){
                    console.log(data);
                    $('#skillName').val(data.skillName);
                    $('#skillLevelId').val(data.skillLevelId);
                    $('#notes').val(data.notes);
                    },
                });
        }

        function savehapuskeahlian() {
            var str = '{';
            str += '"id" : "' + $('#keahlianid').val() + '",';
            str += '"createdBy": 1, ';
            str += '"createdOn": "2019-10-22T00:44:48.371+0000",';
            str += '"modifiedBy": 1,';
            str += '"modifiedOn": null,';
            str += '"deletedBy": 1,';
            str += '"deletedOn": "2019-11-05T00:44:48.371+0000",';
            str += '"biodataId" : "' + $('#bioid').val() + '",';

            str += '"skillName" : "' + $('#skillName').val() + '",';
            str += '"skillLevelId" : "' + $('#skillLevelId').val() + '",';
            str += '"notes" : "' + $('#notes').val() + '",';

            str += '"delete": true';

            str += '}';
            console.log(str);
            var idd = $('#bioid').val();

            $.ajax({
                url: '/D_Keahlian/editKeahlian/' + $('#keahlianid').val(),
                type: 'put',
                data: str,
                success: function () {
                    $('#deletemodalahli').hide();
                    $(".modal-backdrop").remove();
                    $.ajax({
                        url: '/D_Keahlian/view_keahlian/' + idd,
                        dataType:'html',
                        success:function(hasil){
                            $('#fragmentpelamar').html(hasil);
                            $("#detailmodal").show();
                        }
                    })
                },
                dataType: 'json',
                contentType: 'application/json'
            })
        }
    </script>
</th:block>

</html>