

<table class="table" cellpadding="5" cellspacing="0">
    <input type="hidden" id="keahlianid" th:value="${id}">
    <tr>
        <td style="color:rgb(0,0,102)">Nama Keahlian<br>
            <input id="skillName" type="text" class="form-control"
                   style="font-size:20px;border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;">
        </td>
        <td style="color:rgb(0,0,102)">Level Keahlian *<br>
            <select id="skillLevelId" class="form-control"
                    style="font-size:20px;border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;">
                <option value="">- Pilih -</option>
                <option th:each="item:${listskill}" th:value="${item.Id}" th:text="${item.name}"></option>
            </select>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="color:rgb(0,0,102)">Catatan<br>
            <textarea id="notes"
                      style="font-size:20px;border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; height: 100px; padding: 5px 10px;" class="form-control"></textarea>
        </td>
    </tr>
    <tr>
        <td align="right" colspan="2">
            <button id="submitkeahlian"  type="button" class="btn btn-primary" style="float:right;">Simpan</button>
            <button type="button" class="btn btn-warning" onclick="batal()">Batal</button>
        </td>
    </tr>
</table>
<script>
    function batal() {
            $("#editmodalahli").modal('hide');
            $("#detailmodal").modal('show');
    }

    $(document).ready(function () {
            getkeahliandata();
            console.log("Ready...........");
            $("#submitkeahlian").click(function () {
                console.log("submit diklik");
                var dataskillLevelId = $('#skillLevelId').val();

                if (dataskillLevelId == '') {
                    alert('Wajib Mengisi Form Level Keahlian');
                    event.preventDefault();
                }
                //sini
                saveeditkeahlian();
            })
        })

    function getkeahliandata(){
            console.log("masuk " + $('#keahlianid').val());
                $.ajax({
                    url: '/D_Keahlian/getKeahlian/' + $('#keahlianid').val(),
                    type: 'get',
                    success:function(data){
                        console.log(data);
                    $('#skillName').val(data.skillName);
                    $('#skillLevelId').val(data.skillLevelId);
                    $('#notes').val(data.notes);
                    },
                });
    }

    function saveeditkeahlian() {
            var c = Date().toString().split(" ");
            if(c[1]=="Jan"){c[1] = "1"}
            else if(c[1]=="Feb"){c[1] = "2"}
            else if(c[1]=="Mar"){c[1] = "3"}
            else if(c[1]=="Apr"){c[1] = "4"}
            else if(c[1]=="May"){c[1] = "5"}
            else if(c[1]=="Jun"){c[1] = "6"}
            else if(c[1]=="Jul"){c[1] = "7"}
            else if(c[1]=="Aug"){c[1] = "8"}
            else if(c[1]=="Sep"){c[1] = "9"}
            else if(c[1]=="Oct"){c[1] = "10"}
            else if(c[1]=="Nov"){c[1] = "11"}
            else if(c[1]=="Dec"){c[1] = "12"};
            var b = c[3]+"-"+c[1]+"-"+c[2]+"T"+c[4]+".000+0000";

            var str = '{';
            str += '"id" : "' + $('#keahlianid').val() + '",';
            str += '"createdBy": 1, ';
            str += '"createdOn": "2019-10-22T00:44:48.371+0000",';
            str += '"modifiedBy": 1,';
            str += '"modifiedOn": "' + b + '",';
            str += '"deletedBy": null,';
            str += '"deletedOn": null,';
            str += '"biodataId" : "' + $('#bioid').val() + '",';

            str += '"skillName" : "' + $('#skillName').val() + '",';
            str += '"skillLevelId" : "' + $('#skillLevelId').val() + '",';
            str += '"notes" : "' + $('#notes').val() + '",';

            str += '"delete": false';

            str += '}';
            console.log(str);
            var idd = $('#bioid').val();

            $.ajax({
                url: '/D_Keahlian/editKeahlian/' + $('#keahlianid').val(),
                type: 'put',
                data: str,
                success: function () {
                    $('#editmodalahli').hide();
                    $(".modal-backdrop").remove();
                    $.ajax({
                        url: '/D_Keahlian/view_keahlian/' + idd,
                        dataType:'html',
                        success:function(hasil){
                            $('#fragmentpelamar').html(hasil);
                            $("#detailmodal").show();
                        }
                    })
                },
                dataType: 'json',
                contentType: 'application/json'
            })
        }

    </script>
