
<table class="table" cellpadding="5" cellspacing="0">
    <!-- <input id="valueid" type="hidden" th:field="*{Id}"> -->
    <tr>
        <td style="color:rgb(0,0,102)">Nama Keahlian<br>
            <input id="skillName" class="form-control"
                   style="font-size:20px;border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;">
            <!--type="text" th:field="*{skillName}"-->
        </td>
        <td style="color:rgb(0,0,102)">Level Keahlian *<br>
            <select id="skillLevelId" class="form-control"
                    style="font-size:20px;border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;">
                <option value="">- Pilih -</option>
                <option th:each="item:${listskill}" th:value="${item.Id}" th:text="${item.name}"></option>
            </select>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="color:rgb(0,0,102)">Catatan<br>
            <textarea id="notes"
                      style="font-size:20px;border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; height: 100px; padding: 5px 10px;" class="form-control"></textarea> <!--th:field="*{notes}"-->
        </td>
    </tr>
    <tr>
        <td align="right" colspan="2">
            <input id="submitkeahlian" type="button" value="Simpan" class="btn btn-primary" style="float:right;" onclick="tambahahli()">
            <input type="button" value="Batal" class="btn btn-warning" onclick="batalini()">
        </td>
    </tr>
</table>
<script>
    function batalini(){
        $("#addmodalahli").hide();
        $("#detailmodal").show();
    }
</script>
