<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with">

<th:block layout:fragment="content">
    <div>
        <h1 style="color:rgb(0,0,102);">Keahlian&nbsp;<button type="button" class="btn  btn-primary btn-round" id="addbuttonahli">+</button></h1>

    </div>

    <div id="list-keahlian">
        <table class="table table-striped" th:each="item: ${keahlian}">
            <input type="hidden" id="bioid" th:value="${bioid}">
            <thead>
            <tr style="border-bottom: 3px solid; border-bottom-color: rgb(0,0,102);border-top: 3px solid; border-top-color: rgb(0,0,102);color:rgb(0,0,102);">
                <th>NAMA KEAHLIAN</th>
                <th>LEVEL KEAHLIAN</th>
                <th>#</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${ahlilist}" style="border-top: 2px solid; border-top-color: rgb(0,0,102);color:rgb(0,0,102);">
                <td th:text="${item.skillName}"></td>
                <td th:text="${item.skillLevel.name}"></td>
                <td>
                    <!--<button type="button" id="btn-update" th:value="${item.id}">Edit</button>
            <button type="button" id="btn-delete" th:value="${item.id}">Hapus</button>
            -->
                    <div class="btn-group">
                        <button class="btn btn-primary dropdown-toggle btn-round" data-toggle="dropdown">More <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><button type="button" th:value="${item.Id}" id="editbuttonahli" style="border:0;background: none;color: inherit;border: none;padding: 0;font: inherit;cursor: pointer;outline: inherit;" >Ubah</button></li>
                            <li><button type="button" id="deletebuttonahli" style="border:0;background: none;color: inherit;border: none;padding: 0;font: inherit;cursor: pointer;outline: inherit;" th:value="${item.Id}">Hapus</button></li>
                        </ul>
                    </div>
                    <!--    <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false">
                                <span></span>MORE
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li class=""><button type="button" id="editbutton" th:value="${item.Id}">Ubah</button>
                                </li>
                                <li class=""><button type="button" id="deletebutton" th:value="${item.Id}">Hapus</button>
                                </li>
                                <li></li>
                            </ul>
                        </li> -->
                </td>
            </tr>
            </tbody>
        </table>

        <!--    Modal add category-->
        <div class="modal fade" id="addmodalahli" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" style="border-radius: 10px;border: 2px solid rgb(0, 0, 102);">
                    <div class="modal-header" style="border-top-left-radius: 8px;border-top-right-radius: 8px;background-color: rgb(0,0,102);">
                        <div class="modal-title" id="exampleModalLongTitle" style="font-size:20px;color:white;">Tambah Keahlian<button type="button" class="close" onclick="batal('tambah')" aria-label="Close" style="color:white">
                            <span aria-hidden="true">&times;</span>
                        </button></div>
                        <!--                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                        <!--                        <span aria-hidden="true">&times;</span>-->
                        <!--                    </button>-->
                    </div>
                    <div class="modal-body" id="modalbodytambahkeahlian">

                    </div>
                </div>
            </div>
        </div>

        <!--    Modal add category-->
        <div class="modal fade" id="editmodalahli" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" style="border-radius: 10px; border: 2px solid rgb(0, 0, 102);">
                    <div class="modal-header" style="border-top-left-radius: 8px;border-top-right-radius: 8px;background-color: rgb(0,0,102);">
                        <div class="modal-title" style="font-size:20px;color:white;">Edit Keahlian<button type="button" class="close" onclick="batal('edit')" aria-label="Close" style="color:white">
                            <span aria-hidden="true">&times;</span>
                        </button></div>
                        <!--                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                        <!--                        <span aria-hidden="true">&times;</span>-->
                        <!--                    </button>-->
                    </div>
                    <div class="modal-body" id="modalbodyeditkeahlian">

                    </div>
                </div>
            </div>
        </div>

        <!--    Modal add category-->
        <div class="modal fade" id="deletemodalahli" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" style= "border-radius: 10px; border: 2px solid rgb(204, 0, 0);">
                    <div class="modal-header" style="border-top-left-radius: 8px;border-top-right-radius: 8px;background-color: rgb(204, 0, 0)">
                        <div class="modal-title" style="font-size:20px;color:white;">Hapus Keahlian?<button type="button" class="close" onclick="batal('delete')" aria-label="Close" style="color:white">
                            <span aria-hidden="true">&times;</span>
                        </button></div>
                        <!--                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                        <!--                        <span aria-hidden="true">&times;</span>-->
                        <!--                    </button>-->
                    </div>
                    <div class="modal-body" id="modalbodydeletekeahlian">
                    </div>
                </div>
            </div>
        </div>

    </div>
</th:block>

<th:block layout:fragment="jsghifari">
    <!-- Edit Keahlian
    <script>
    function tampileditkeahlian(id){
            $.ajax({
                url: '/D_Keahlian/edit/' + id,
                dataType: "html",
                success: function (data) {
                    $('#modalbodyeditkeahlian').html(data);
                    $('#editmodalahli').modal('show');
                },
                    error: function (e) {
                    alert('Error: ' + e);
                }
            });
        };

        function editahlinya(){
                $.ajax({
                        url: '/D_Keahlian/getKeahlian/' + id,
                        type: 'get',
                        success: function(hasil){
                            $.ajax({
                                url: '/D_Keahlian/edit_keahlian/' + id,
                                type: 'put',
                                data: '{"createdBy": "'+hasil.createdBy+'", "createdOn": "'+hasil.createdOn+'", "modifiedBy": "'+1+'", "modifiedOn": '+null+', "deletedBy": '+null+
                                    ', "deletedOn": '+null+', "biodataId": '+hasil.biodataId+', "skillName": "'+$('#skillName').val()+
                                    '", "skillLevelId": "'+$('#skillLevelId').val()+'", "notes": "'+$('#notes').val()+
                                    '", "delete": false}',
                                success:function(){
                                    $('#editmodalahli').modal('show');
                                    $.ajax({
                                        url:'/D_Keahlian/view_keahlian/' + hasil.biodataId,
                                        type: 'get',
                                        dataType: 'html',
                                        success: function(hasil2) {
                                            $('#fragmentpelamar').html(hasil2);
                                            $("#detailmodal").modal('show');
                                        }
                                    });
                                },
                                    dataType:'json',
                                    contentType:'application/json'
                                })
                        }
                    })
        }
    </script> -->
    <script>
    $("#list-keahlian").on('click', '#editbuttonahli', function(){
            console.log('in click editbutton...');
            var vId = $(this).val();

            $.ajax({
                url:'/D_Keahlian/edit/'+ vId,
                type:'get',
                dataType:'html',
                success:function(hasil){
                    $('#modalbodyeditkeahlian').html(hasil);
                    $("#editmodalahli").modal('show');
                }
            });
         }).on('click', '#deletebuttonahli', function(){
            console.log('in click deletebutton...');
            var vId = $(this).val();
            console.log(vId);

            $.ajax({
                url:'/D_Keahlian/delete_update/'+vId,
                type:'get',
                dataType:'html',
                success:function(hasil){
                    $('#modalbodydeletekeahlian').html(hasil);
                    $("#deletemodalahli").modal('show');
                }
            });
         });

        function batal(input) {
        if (input == 'tambah'){
            $("#addmodalahli").hide();
            $("#detailmodal").show();
        } else if (input == 'edit') {
            $("#editmodalahli").hide();
            $("#detailmodal").show();
        } else if (input == 'delete'){
            $("#deletemodalahli").hide();
            $("#detailmodal").show();
        }
        }

    </script>

    <!-- Tambah keahlian -->
    <script>
    $('#addbuttonahli').click(function () {
                console.log('tambah diklik');
                $.ajax(
                    {
                        url: '/D_Keahlian/form_keahlian',
                        dataType: "html",
                        success: function (data) {
                            $('#modalbodytambahkeahlian').html(data);
                            $('#addmodalahli').modal('show');

                            /*$('#submitkeahlian').click(function (event) {
                            var skillname = $('#skillName').val();
                            var skilllevel = $('#skillLevel').val();

                            if (skilllevel == '') {
                                alert('Wajib Mengisi Form Level Keahlian');
                                event.preventDefault();
                            }
                        })*/
                        },
                        error: function (e) {
                            alert('Error: ' + e);
                        }
                    });
            });

    function tambahahli(){
        var c = Date().toString().split(" ");
        if(c[1]=="Jan"){c[1] = "1"}
        else if(c[1]=="Feb"){c[1] = "2"}
        else if(c[1]=="Mar"){c[1] = "3"}
        else if(c[1]=="Apr"){c[1] = "4"}
        else if(c[1]=="May"){c[1] = "5"}
        else if(c[1]=="Jun"){c[1] = "6"}
        else if(c[1]=="Jul"){c[1] = "7"}
        else if(c[1]=="Aug"){c[1] = "8"}
        else if(c[1]=="Sep"){c[1] = "9"}
        else if(c[1]=="Oct"){c[1] = "10"}
        else if(c[1]=="Nov"){c[1] = "11"}
        else if(c[1]=="Dec"){c[1] = "12"};
        var b = c[3]+"-"+c[1]+"-"+c[2]+"T"+c[4]+".000+0000";
        var id = $('#bioid').val();
        console.log('ini bionya '+ id);
        if($('#skillLevelId').val()==""){
            alert('Anda harus mengisi Form Level Keahlian');
        }
        else{
            var datas = '{"createdBy": '+1+', "createdOn": "'+b+'", "modifiedBy": '+null+', "modifiedOn": '+null+', "deletedBy": '+null+
                    ', "deletedOn": '+null+', "biodataId": "'+id+'", "skillName": "'+$('#skillName').val()+
                    '", "skillLevelId": "'+$('#skillLevelId').val()+'", "notes": "'+$('#notes').val()+
                    '", "delete": false}';
            console.log(datas);
            $.ajax({
            url: '/D_Keahlian/saveKeahlian/',
            type: 'post',
            data: datas,
            success:function(){
                $('#addmodalahli').modal('hide');
                $.ajax({
                    url:'/D_Keahlian/view_keahlian/' + id,
                    type: 'get',
                    dataType: 'html',
                    success: function(hasil2) {
                        $('#fragmentpelamar').html(hasil2);
                        //$("#detailmodal").modal('show');
                    }
                });
            },
            dataType:'json',
            contentType:'application/json'
            })
        }
    }
    </script>


</th:block>
</html>