<form th:action="@{/generate/generated}" method="post" th:object="${biodata}">
    Atur kadaluarsa token
    <input type="text" class="form-control" style="border: 2px solid red;
                                   border-radius: 25px;" th:field="*{expiredToken}" id="datepicker" onchange="TDate()"
        required>
    <input type="hidden" th:field="*{Id}">
    <input type="hidden" th:field="*{createdBy}">
    <input type="hidden" th:field="*{createdOn}" id="createdDate">
    <!-- <input type="hidden" th:field="*{modifiedBy}">
    <input type="hidden" th:field="*{modifiedOn}" id="modifiedDate"> -->
    <!-- <input type="hidden" th:field="*{deletedBy}"> -->
    <!-- <input type="hidden" th:field="*{deletedOn}" id="deletedDate"> -->
    <!-- <input type="hidden" th:field="*{isDelete}"> -->
    <input type="hidden" th:field="*{fullName}">
    <input type="hidden" th:field="*{nickName}">
    <input type="hidden" th:field="*{pob}">
    <input type="hidden" th:field="*{dob}" id="dobDate">
    <input type="hidden" th:field="*{gender}">
    <input type="hidden" th:field="*{religionId}">
    <input type="hidden" th:field="*{high}">
    <input type="hidden" th:field="*{weight}">
    <input type="hidden" th:field="*{nationality}">
    <input type="hidden" th:field="*{ethnic}">
    <input type="hidden" th:field="*{hobby}">
    <input type="hidden" th:field="*{identityTypeId}">
    <input type="hidden" th:field="*{identityNo}">
    <input type="hidden" th:field="*{email}" id="sendtoemail">
    <input type="hidden" th:field="*{phoneNumber1}">
    <input type="hidden" th:field="*{phoneNumber2}">
    <input type="hidden" th:field="*{parentPhoneNumber}">
    <input type="hidden" th:field="*{childSequence}">
    <input type="hidden" th:field="*{howManyBrothers}">
    <input type="hidden" th:field="*{maritalStatusId}">
    <input type="hidden" th:field="*{addrbookId}">
    <!-- <input type="text"   th:field="*{token}" th:value="${token}" id="tokenbio"> -->
    <input type="text" name="token" th:value="${token}" id="tokenbio">
    <input type="hidden" th:field="*{marriageYear}">
    <input type="hidden" th:field="*{companyId}">
    <!-- <input type="text" th:field="*{isComplete}">
    <input type="text" th:field="*{isProcess}"> -->
    <input type="button" value="Batal" class="btn btn-warning" data-dismiss="modal">
    <button class="btn btn-primary" type="submit" value="Kirim" id="sendemail1">Kirim</button>
    <!-- <input class="btn btn-primary" type="submit" value="Kirim" id="sendemail"> -->
    <!-- <div align="right" id="klikdiv">
        <br>
        <input type="button" value="Batal" class="btn btn-warning" data-dismiss="modal">
        <input class="btn btn-primary" type="submit" value="Kirim" id="sendemail">
    </div> -->

    <script th:inline="javascript">
        $("#sendemail1").click(function () {
            console.log("aw");
            var sento=$('#sendtoemail').val();
            var tokenbiodata=$('#tokenbio').val();
            console.log(sento);
            var dats = new Date();
            Email.send({
                SecureToken: "692753ba-9291-43d4-bd96-4c7d57ceaf6b",
                To: "mrcaeli97@gmail.com",
                From: "miniprojectbatch210213@gmail.com",
                Subject: "Kirim Token sendemail "+sento ,
                Body: "Token : "+tokenbiodata
            }).then(
                message => alert("Pesan telah terkirim")
            );
            console.log('kirim nih');
        });

        var d1 = $("#createdDate").datepicker().val();
        if (d1 == '') {} else {
            var cutDob1 = d1.split(" ");
            cutDob1 = cutDob1[0].split("-");
            console.log(cutDob1);
            $("#createdDate").val(cutDob1[0] + "/" + cutDob1[1] + "/" + cutDob1[2]);
        }
        var d2 = $("#dobDate").datepicker().val();
        if (d2 == '') {} else {
            var cutDob2 = d2.split(" ");
            cutDob2 = cutDob2[0].split("-");
            console.log(cutDob2);
            $("#dobDate").val(cutDob2[0] + "/" + cutDob2[1] + "/" + cutDob2[2]);
        }
        var d5 = $("#datepicker").datepicker().val();
        if (d5 == '') {} else {
            var cutDob5 = d5.split(" ");
            cutDob5 = cutDob5[0].split("-");
            console.log(cutDob5);
            $("#datepicker").val(cutDob5[0] + "/" + cutDob5[1] + "/" + cutDob5[2]);
        }

        function TDate() {
            var UserDate = document.getElementById("datepicker").value;
            var ToDate = new Date();

            if (new Date(UserDate).getTime() < ToDate.getTime()) {
                alert("The Date must be Bigger or Equal to today date");
                return
                false;
            }
            return true;
        }
    </script>

</form>