<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: white;
  color: rgb(0, 0, 102);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: rgb(150, 150, 255);
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: rgb(0, 0, 102);
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Home {background-color: white;}
#News {background-color: white;}


    </style>
</head>
<body>

<button class="tablink" onclick="openPage('Home', this, 'rgb(200, 200, 255)')" id="defaultOpen">Rencana Penjadwalan
</button>
<button class="tablink" onclick="openPage('News', this, 'rgb(200, 200, 255)')">Undangan</button>

<div id="Home" class="tabcontent">
    <div id="listrencana">
        <table class="table table-striped" id="myTable">
            <tr th:each="item: ${listRenJad}">
                <td>
                    <label class="datejadwal" th:text="${item.rencjadwal.scheduleDate}"></label>

                </td>
                <td>
                    <label th:utext="${'RO : '+item.rencjadwal.modelro.roName}"></label><br>
                    <label th:utext="${'TRO : '+item.rencjadwal.modeltro.troName}"></label><br>
                    <label th:utext="${'Lokasi : '+item.rencjadwal.location}"></label><br>
                    <label th:utext="${'Jenis Jadwal : '+item.rencjadwal.schedule.name}"></label>
                </td>
                <td>
                    <button valign="center" class="btn  btn-primary btn-round"
                            style="background-color:rgb(0, 0, 102); color:white"
                            type="button" onclick="tampilhapusRJD(this.value)" th:value="${item.id}">hapus
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>

<div id="News" class="tabcontent">
    <div id="listundangan">
        <table class="table table-striped">
            <tr th:each="item: ${listUnJad}">
                <td>
                    <label class="dateundang" th:text="${item.m_undangan.invitationDate}"></label>

                </td>
                <td>
                    <label th:text="${'RO : '+item.m_undangan.m_ro.roName}"></label><br>
                    <label th:text="${'TRO : '+item.m_undangan.m_tro.troName}"></label><br>
                    <label th:text="${'Lokasi : '+item.m_undangan.location}"></label><br>
                    <label th:text="${'Jenis Jadwal : '+item.m_undangan.m_schedule_type.name}"></label>
                </td>
                <td valign="center">
                    <button class="btn  btn-primary btn-round" style="background-color:rgb(0, 0, 102); color:white"
                            onclick="tampilhapusUD(this.value)" th:value="${item.id}">hapus
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
<!--Hapus Rencana Jadwal-->
<script>
    function tampilhapusRJD(id) {
        console.log('in click delete...');
        console.log(id);
        $.ajax({
            url: '/D_ProsesPelamar/getJD/' + id,
            type: 'get',
            success: function (hasil) {
                var str = '<table cellpadding="5" cellspacing="0" class="table no-border">'+
                '<tr><td rowspan="2"><i class="fa fa-trash" style="font-size: 100px;"></i></td><tr align="center">'+
                '<td style="color:#B30909;">'+
                '<h3>Anda yakin ingin menghapus jadwal <strong>'+hasil.rencjadwal.schedule.name+'</strong> untuk '+
                '<strong>'+ hasil.biojadwal.nickName+'</strong> ?</h3></td></tr>'+
                '<tr align="right"><td colspan="2">'+
                '<button class="btn btn-warning" onclick="batalhapusRJD()">Batal</button>'+
                '<button class="btn btn-danger" onclick="hapusRJD('+hasil.id+')">Hapus</button></td></tr></table>';
                document.getElementById('modalbodyhapusRJD').innerHTML = str;
                $("#deletemodalRJD").modal('show');
            }
        });
    };

    function batalhapusRJD(){
        console.log('keklik');
        $("#deletemodalRJD").modal('hide');
        $("#prosesmodal").modal('show');
    };

    function hapusRJD(id){
        console.log(id);
        var date = getdate();
        $.ajax({
            url: '/D_ProsesPelamar/getJD/' + id,
            type: 'get',
            success: function (hasil) {
                $.ajax({
                    url: '/D_ProsesPelamar/editJD/' + id,
                    type:'put',
                    data:'{"id": '+hasil.id+',"createdBy": '+hasil.createdBy+',"createdOn": "'+hasil.createdOn+
                        '","modifiedBy": '+hasil.modifiedBy+',"modifiedOn": "'+hasil.modifiedOn+'","deletedBy": '+1+
                        ',"deletedOn": "'+date+'","rencanaJadwalId": '+hasil.rencanaJadwalId+',"biodataId": '+hasil.biodataId+
                        ',"delete": '+true+'}',
                    success:function(){
                        $("#deletemodalRJD").modal('hide');
                        $.ajax({
                            url:'/D_ProsesPelamar/detailproses/' + hasil.biodataId,
                            type: 'get',
                            dataType: 'html',
                            success: function(hasil2) {
                                $('#modalbodyproses').html(hasil2);
                                $("#prosesmodal").modal('show');
                            }
                        });
                    },
                    dataType:'json',
                    contentType:'application/json'
                });
            }
        });
    }


</script>
<!--Hapus Undangan-->
<script>
    function tampilhapusUD(id) {
        console.log('in click delete...');
        console.log(id);
        $.ajax({
            url: '/D_ProsesPelamar/getUD/' + id,
            type: 'get',
            success: function(data) {
                var str = '<table cellpadding="5" cellspacing="0" class="table no-border">'+
                '<tr><td rowspan="2"><i class="fa fa-trash" style="font-size: 100px;"></i></td><tr align="center">'+
                '<td style="color:#B30909;">'+
                '<h3>Anda yakin ingin menghapus undangan <strong>'+data.m_undangan.m_schedule_type.name+'</strong> untuk '+
                '<strong>'+ data.m_viewPelamar.nickName+'</strong> ?</h3></td></tr>'+
                '<tr align="right"><td colspan="2">'+
                '<button class="btn btn-warning" onclick="batalhapusUD()">Batal</button>'+
                '<button class="btn btn-danger" onclick="hapusUD('+data.id+')">Hapus</button></td></tr></table>';
                document.getElementById('modalbodyhapusUD').innerHTML = str;
                $("#deletemodalUD").modal('show');
            }
        });
    }

    function batalhapusUD(){
        $("#deletemodalUD").modal('hide');
        $("#prosesmodal").modal('show');
    };

    function hapusUD(id){
        console.log(id);
        var date = getdate();
        $.ajax({
            url: '/D_ProsesPelamar/getUD/' + id,
            type: 'get',
            success: function (hasil) {
                $.ajax({
                    url: '/D_ProsesPelamar/editUD/' + id,
                    type:'put',
                    data:'{"id": '+hasil.id+',"createdBy": '+hasil.createdBy+',"createdOn": "'+hasil.createdOn+
                        '","modifiedBy": '+hasil.modifiedBy+',"modifiedOn": "'+hasil.modifiedOn+'","deletedBy": '+1+
                        ',"deletedOn": "'+date+'","undanganId": '+hasil.undanganId+',"biodataId": '+hasil.biodataId+
                        ',"delete": '+true+'}',
                    success:function(){
                        $("#deletemodalUD").modal('hide');
                        $.ajax({
                            url:'/D_ProsesPelamar/detailproses/' + hasil.biodataId,
                            type: 'get',
                            dataType: 'html',
                            success: function(hasil2) {
                                $('#modalbodyproses').html(hasil2);
                                $("#prosesmodal").modal('show');
                            }
                        });
                    },
                    dataType:'json',
                    contentType:'application/json'
                });
            }
        });
    }


</script>

<script>
    $(document).ready(pindahindate());
    function pindahindate(){
        var list = document.getElementsByClassName('dateundang');
        var list2= document.getElementsByClassName('datejadwal');
        var month = new Array();
        month[0] = "January";
        month[1] = "February";
        month[2] = "March";
        month[3] = "April";
        month[4] = "May";
        month[5] = "June";
        month[6] = "July";
        month[7] = "August";
        month[8] = "September";
        month[9] = "October";
        month[10] = "November";
        month[11] = "December";
        for (i=0;i<list.length;i++){
            var dateundang = list[i].innerText;
            var another = dateundang.toString().split(" ")[0];
            var other = another.split("-");
            var baru = other[2]+' ' + month[parseInt(other[1])-1] + ' ' + other[0];
            list[i].innerHTML=baru;
        }
        for (i=0;i<list2.length;i++){
            var datejadwal = list2[i].innerText;
            var another2 = datejadwal.toString().split(" ")[0];
            var other2 = another2.split("-");
            var baru2 = other2[2]+' ' + month[parseInt(other2[1])-1] + ' ' + other2[0];
            list2[i].innerHTML=baru2;
        }
    }
</script>

<script>
    function openPage(pageName,elmnt,color) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablink");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].style.backgroundColor = "";
      }
      document.getElementById(pageName).style.display = "block";
      elmnt.style.backgroundColor = color;
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();


</script>
<!--get date and converse into JSON-->
<script>
        function getdate(){
            var c = Date().toString().split(" ");
            if (c[1] == "Jan") { c[1] = "1" }
            else if (c[1] == "Feb") { c[1] = "2" }
            else if (c[1] == "Mar") { c[1] = "3" }
            else if (c[1] == "Apr") { c[1] = "4" }
            else if (c[1] == "May") { c[1] = "5" }
            else if (c[1] == "Jun") { c[1] = "6" }
            else if (c[1] == "Jul") { c[1] = "7" }
            else if (c[1] == "Aug") { c[1] = "8" }
            else if (c[1] == "Sep") { c[1] = "9" }
            else if (c[1] == "Oct") { c[1] = "10" }
            else if (c[1] == "Nov") { c[1] = "11" }
            else if (c[1] == "Dec") { c[1] = "12" };
            var b = c[3] + "-" + c[1] + "-" + c[2] + "T" + c[4] + ".000+0700";
            return b;
        }
        function expireddate(){
            var future = new Date();
            future.setDate(future.getDate() + 30);
            var c = future.toString().split(" ");
            if (c[1] == "Jan") { c[1] = "1" }
            else if (c[1] == "Feb") { c[1] = "2" }
            else if (c[1] == "Mar") { c[1] = "3" }
            else if (c[1] == "Apr") { c[1] = "4" }
            else if (c[1] == "May") { c[1] = "5" }
            else if (c[1] == "Jun") { c[1] = "6" }
            else if (c[1] == "Jul") { c[1] = "7" }
            else if (c[1] == "Aug") { c[1] = "8" }
            else if (c[1] == "Sep") { c[1] = "9" }
            else if (c[1] == "Oct") { c[1] = "10" }
            else if (c[1] == "Nov") { c[1] = "11" }
            else if (c[1] == "Dec") { c[1] = "12" };
            var b = c[3] + "-" + c[1] + "-" + c[2] + "T" + c[4] + ".000+0700";
            return b;
        }
    </script>
</body>
</html>