<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with" layout:decorate="~{layout}" with:title="'B210'">

<th:block layout:fragment="content">
    <div>
        <h3 style="color:rgb(0, 0, 102)"><strong>Proses Pelamar</strong>
            <div style="float:right">
                <button align="right" type="button" class="btn  btn-primary btn-round"
                        style="background-color:rgb(0, 0, 102); color:white;" onclick="sortTable()" name="SortAsc"
                        id="sorting"><strong>Sort</strong></button>
                <button align="right" type="button" class="btn  btn-primary btn-round"
                        style="background-color:rgb(0, 0, 102); color:white;"><strong>Row</strong></button>
            </div>
        </h3>
    </div>
    <div id="tableproses">
        <table class="table table-striped" valign="top" style="border-top: 4px solid rgb(0,0,102);" id="proses">
            <tr class="row" th:each="item: ${listprosestrue}">
                <td class="uhuy" th:text="${item.fullName}"></td>
                <td class="eduproses" th:text="${item.schoolName+ '/ ' +item.Major}"></td>
                <td>
                    <button class="btn  btn-primary btn-round" style="background-color:rgb(0, 0, 102); color:white"
                            type="button" onclick="detailbutton(this.value)" th:value="${item.id}">Detail
                    </button>
                </td>
            </tr>
            <tr class="row" th:each="item: ${listprosesfalse}">
                <td class="uhuy" th:text="${item.fullName}"></td>
                <td class="eduproses" th:text="${item.schoolName+ '/ ' +item.Major}"></td>
                <td>
                    <button class="btn  btn-primary btn-round" style="background-color:rgb(0, 0, 102); color:white"
                            type="button" th:value="${item.id}" onclick="saveeditPP(this.value)">Proses
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <nav>
            <ul class="pagination"></ul>
        </nav>
    </div>
    <!--Modal Detail Proses Page-->
    <div class="modal fade" id="prosesmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="height:60%;width:70%">
            <div class="modal-content" style="border-radius:10px;border: 2px solid rgb(0,0,102);">
                <div class="modal-header"
                     style="border-top-left-radius:8px;border-top-right-radius:8px;background-color:rgb(0, 0, 102); color:white">
                    <h5 class="modal-title" id="exampleModalLongTitle" style="font-size:25"><strong>Detail
                        Proses</strong></h5>
                </div>
                <div class="modal-body" style="overflow:auto" id="modalbodyproses">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Keluar</button>
                </div>
            </div>
        </div>
    </div>

    <!--  Modal Hapus Rencana Jadwal Detail  -->
    <div class="modal fade" id="deletemodalRJD" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="width:relative;height:relative;">
            <div class="modal-content" style="border-radius:10px;border: 2px solid rgb(217,83,79);">
                <div class="modal-header"
                     style="border-top-left-radius:8px;border-top-right-radius:8px;background-color:rgb(217,83,79); color:white;">
                    <h5 class="modal-title" style="font-size:20"><strong>Hapus Rencana Jadwal?</strong></h5>
                </div>
                <div class="modal-body" id="modalbodyhapusRJD">
                </div>
            </div>
        </div>
    </div>

    <!--  Modal Hapus Undangan Detail  -->
    <div class="modal fade" id="deletemodalUD" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="width:relative;height:relative;">
            <div class="modal-content" style="border-radius:10px;border: 2px solid rgb(217,83,79);">
                <div class="modal-header"
                     style="border-top-left-radius:8px;border-top-right-radius:8px;background-color:rgb(217,83,79); color:white;">
                    <h5 class="modal-title" style="font-size:20"><strong>Hapus Undangan?</strong></h5>
                </div>
                <div class="modal-body" id="modalbodyhapusUD">
                </div>
            </div>
        </div>
    </div>

</th:block>

<th:block layout:fragment="jsghozy">

    <script>
    $(document).ready(aturedukasi(),sortTable());

    function aturedukasi(){
        var list = document.getElementsByClassName('eduproses');
        var string = "/ ";
        for (i=0;i<list.length;i++){
            var text = list[i].innerText;
            var major = text.toString().split(string)[2];
            var schname = text.toString().split(string)[0];
            if(major=="" || major=="null"){
                if(schname=="" || schname=="null"){
                    list[i].innerHTML="-";
                }else{
                    list[i].innerHTML=schname;
                }
            }else{
                list[i].innerHTML=text;
            }
        }
    }

    </script>

    <script>
        function saveeditPP(id){
            $.ajax({
                url:'/D_ProsesPelamar/getPP/'+id,
                type:'get',
                success:function(hasil){
                    console.log('{"createdBy": '+hasil.createdBy+', "createdOn": "'+hasil.createdOn+'", "modifiedBy": '+hasil.modifiedBy+
                    ', "modifiedOn": "'+hasil.modifiedOn+'", "deletedBy": '+hasil.deletedBy+', "deletedOn": "'+hasil.deletedOn+
                    '", "fullName": "'+hasil.fullName+'", "nickName": "'+hasil.nickName+'", "pob": "'+hasil.pob+'", "dob": "'+hasil.dob+
                    '", "gender": '+hasil.gender+', "religionId": '+hasil.religionId+', "high": '+hasil.high+', "weight": '+hasil.weight+
                    ', "nationality": "'+hasil.nasionality+'", "ethnic": "'+hasil.ethnic+'", "hobby": "'+hasil.hobby+'", "identityTypeId": '+hasil.identityTypeId+
                    ', "identityNo": "'+hasil.identityNo+'", "email": "'+hasil.email+'", "phoneNumber1": "'+hasil.phoneNumber1+'", "phoneNumber2": "'+hasil.phoneNumber2+
                    '", "parentPhoneNumber": "'+hasil.parentPhoneNumber+'", "childSequence": "'+hasil.childSequence+'", "howManyBrothers": "'+hasil.howManyBrothers+
                    '", "maritalStatusId": '+hasil.maritalStatusId+', "addrbookId": '+hasil.addrbookId+', "token": "'+hasil.token+'", "expiredToken": "'+hasil.expiredToken+
                    '", "marriageYear": "'+hasil.marriageYear+'", "companyId": '+hasil.companyId+', "id": '+hasil.id+', "delete": '+hasil.delete+', "complete": '+hasil.complete+
                    ', "process": true}');
                    $.ajax({
                    url:'/D_ProsesPelamar/editPP/'+id,
                    type:'put',
                    data:'{"createdBy": '+hasil.createdBy+', "createdOn": "'+hasil.createdOn+'", "modifiedBy": '+hasil.modifiedBy+
                    ', "modifiedOn": "'+hasil.modifiedOn+'", "deletedBy": '+hasil.deletedBy+', "deletedOn": "'+hasil.deletedOn+
                    '", "fullName": "'+hasil.fullName+'", "nickName": "'+hasil.nickName+'", "pob": "'+hasil.pob+'", "dob": "'+hasil.dob+
                    '", "gender": '+hasil.gender+', "religionId": '+hasil.religionId+', "high": '+hasil.high+', "weight": '+hasil.weight+
                    ', "nationality": "'+hasil.nasionality+'", "ethnic": "'+hasil.ethnic+'", "hobby": "'+hasil.hobby+'", "identityTypeId": '+hasil.identityTypeId+
                    ', "identityNo": "'+hasil.identityNo+'", "email": "'+hasil.email+'", "phoneNumber1": "'+hasil.phoneNumber1+'", "phoneNumber2": "'+hasil.phoneNumber2+
                    '", "parentPhoneNumber": "'+hasil.parentPhoneNumber+'", "childSequence": "'+hasil.childSequence+'", "howManyBrothers": "'+hasil.howManyBrothers+
                    '", "maritalStatusId": '+hasil.maritalStatusId+', "addrbookId": '+hasil.addrbookId+', "token" : "'+hasil.token+'", "expiredToken": "'+hasil.expiredToken+
                    '", "marriageYear": "'+hasil.marriageYear+'", "companyId": '+hasil.companyId+', "id": '+hasil.id+', "delete": '+hasil.delete+', "complete": '+hasil.complete+
                    ', "process": true}',
                    success:function(){
                        location.reload(true);
                    },
                    dataType:'json',
                    contentType:'application/json'
                    });
                }
            });
        };

    </script>

    <script>
        function detailbutton(vId) {
            console.log('in click detailbutton...');
            console.log(vId);
            $.ajax({
                url: '/D_ProsesPelamar/detailproses/'+vId,
                dataType: "html",
                success: function (data) {
                    $('#prosesmodal').modal('show');
                    $('#modalbodyproses').html(data)
                },
                error: function (e) {
                alert('Error: ' + e);
                }
            });
        };

        function sortTable(){
        var b = document.getElementById('sorting').name;
            if(b=="SortAsc"){
                sortTableAsc();
                document.getElementById('sorting').name = "SortDesc";
            }
            if(b=="SortDesc"){
                sortTableDesc();
                document.getElementById('sorting').name = "SortAsc";
            }
        }

        function sortTableAsc() {
            console.log('aku ke klik');
            var table, rows, switching, i, x, shouldSwitch;
            table = document.getElementById("tableproses");
            switching = true;
            while (switching) {
                switching = false;
                rows = table.getElementsByClassName("row");
                x = table.getElementsByClassName("uhuy");
                for(i=1;i<(rows.length - 1);i++){
                    shouldSwitch = false;
                    if (x[i].innerText.toLowerCase() > x[i+1].innerText.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
                if (shouldSwitch){
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                }
            }
        }

        function sortTableDesc() {
            console.log('aku ke klik');
            var table, rows, switching, i, x, shouldSwitch;
            table = document.getElementById("tableproses");
            switching = true;
            while (switching) {
                switching = false;
                rows = table.getElementsByClassName("row");
                x = table.getElementsByClassName("uhuy");
                for(i=1;i<(rows.length - 1);i++){
                    shouldSwitch = false;
                    if (x[i].innerText.toLowerCase() < x[i+1].innerText.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
                if (shouldSwitch){
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                }
            }
        }

    </script>

    <script>

        function getPagination(table) {
            $('#maxRows').on('change', function(e) {
                $('.pagination').html('');
                var trnum = 0;
                var maxRows = parseInt($(this).val());
                var totalRows = $(table + ' tbody tr').length;
                $(table + ' tr:gt(0)').each(function() {
                    trnum++;
                    if (trnum > maxRows) {
                        $(this).hide();
                    }
                    if (trnum <= maxRows) {
                        $(this).show();
                    }
                });
                if (totalRows > maxRows) {
                    var pagenum = Math.ceil(totalRows / maxRows);
                    for (var i = 1; i <= pagenum;) {
                        $('.pagination').append('<li class"wp" data-page="' + i + '">\
                        <span>' + i++ + '<span class="sr-only">(current)</span></span>\
                        </li>').show();
                    }
                }
                $('.pagination li:first-child').addClass('active');
                $('.pagination li').on('click', function() {
                    var pageNum = $(this).attr('data-page');
                    var trIndex = 0;
                    $('.pagination li').removeClass('active');
                    $(this).addClass('active');
                    $(table + ' tr:gt(0)').each(function() {
                        trIndex++;
                        if (trIndex > (maxRows * pageNum) || trIndex <= ((maxRows * pageNum) - maxRows)) {
                            $(this).hide();
                        } else {
                            $(this).show();
                        }
                    });
                });
            });
        }
    </script>

</th:block>
</html>