<form th:action="@{/D_Organisasi/save}" method="post" th:object="${objo}">
        <table class="table" style="border-spacing:20px; border:none;">
            <tr>
                <td hidden><input type="hidden" th:field="*{Id}">
                    <input type="hidden" th:field="*{biodataId}" id="biodid" >
                </td>
            </tr>
            <tr>
                <td>Nama Organisasi*<br><input type="text" th:field="*{name}" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;" required></td>
                <td>Jabatan*<br><input type="text" th:field="*{position}" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;" required></td>
            </tr>
            <tr>
                <td>Tahun Masuk*<br><select th:field="*{entryYear}" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;" required>
                    <option value="">- Pilih Tahun -</option>
                    <option th:each="i : ${#numbers.sequence(#dates.year(#dates.createNow())-100, #dates.year(#dates.createNow())+7)}" th:value="${i}" th:text="${i}">
                    </option>
                </select></td>
                <td>Tahun Keluar*<br><select th:field="*{exitYear}" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;" required>
                    <option value="">- Pilih Tahun -</option>
                    <option th:each="i : ${#numbers.sequence(#dates.year(#dates.createNow())-100, #dates.year(#dates.createNow())+7)}" th:value="${i}" th:text="${i}">
                    </option>
                </select></td>
            </tr>
            <tr>
                <td colspan="2">Tanggung Jawab<br><input type="text" th:field="*{responsibility}" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"></td>

            </tr>
            <tr>
                <td colspan="2">Catatan<br><textarea aria-rowspan="3" type="text" th:field="*{notes}" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"></textarea></td>
            </tr>
            <tr align="right">
                <td> </td>
                <td colspan="2" class="btn-group" >
                    <button class="btn btn-warning" onclick="batalorg()" type="button" style="width:100px;">Batal</button>
                    <input class="btn btn-primary" type="submit" value="Simpan" id="btn-simpan" style="width:100px;">
                </td>
            </tr>

        </table>
</form>
<script>

    function batalorg() {
        $("#omodal").modal('hide');
        $("#detailmodal").modal('show');
    }

</script>