<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with" >

<th:block layout:fragment="content">
<div id="list-organisasi">
    <div>
        <h3>Organisasi <button id="buttontambaho"
                style="border:0;background: none;color: inherit;border: none;padding: 0;font: inherit;cursor: pointer;outline: inherit;"
                type="button"><span class="fa fa-plus-circle"></span></button></h3>
    </div>
    <input type="hidden" id="viewo" th:value="${biodataid}">
    <table class="table" style="align:center;">
        <thead>
            <tr style="border-top: 2px solid rgb(0,0,102);border-bottom: 3px solid rgb(0,0,102);">
                <th>Nama</th>
                <th>Jabatan</th>
                <th>Periode</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody class="Mtable">
            <tr th:each="item, key: ${listorganisasi}" style="border-top: 2px solid rgb(0,0,102);">
                <td th:text="${item.name}"></td>
                <td th:text="${item.position}"></td>
                <td th:text="${item.entryYear +' s.d '+ item.exitYear}"></td>
                <!--                    <input type="hidden" th:value="${item.biodataId}">-->
                <td>
                    <div class="btn-group">
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="background-color:#000066;">More <span
                                class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><button type="button" id="btn-update"
                                    style="border:0;background: none;color: inherit;border: none;padding: 0;font: inherit;cursor: pointer;outline: inherit;"
                                    th:value="${item.Id}">Ubah</button></li>
                            <li><button type="button" id="btn-delete"
                                    style="border:0;background: none;color: inherit;border: none;padding: 0;font: inherit;cursor: pointer;outline: inherit;"
                                    th:value="${item.Id}">Hapus</button></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="omodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="width:70%;">
        <div class="modal-content" style="border-radius:10px;border: 2px solid rgb(0,0,102);">
            <div class="modal-header" style="border-top-left-radius:8px;border-top-right-radius:8px;background-color:rgb(0,0,102); color:white;">
                <div class="modal-title" id="exampleModalLongTitle" style="font-size:20px;color:white;">Tambah Organisasi
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-bodyo">
                ...
            </div>
        </div>
    </div>
</div>

    <div class="modal fade" id="omodaledit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="width:70%;">
            <div class="modal-content" style="border-radius:10px;border: 2px solid rgb(0,0,102);">
                <div class="modal-header" style="border-top-left-radius:8px;border-top-right-radius:8px;background-color:rgb(0,0,102); color:white;">
                    <div class="modal-title" style="font-size:20px;color:white;">Edit Organisasi
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <div class="modal-bodyoedit">
                    ...
                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-danger" role="document">
        <div class="modal-content" style="border-radius:10px;border: 2px solid rgb(204,0,0);">
            <div class="modal-header" style="border-top-left-radius:8px;border-top-right-radius:8px; color:white;">
                <div class="modal-title" id="deleteTitle" style="font-size:20px;color:white;">Hapus Organisasi
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-delete">
                ...
            </div>
        </div>
    </div>
</div>
</th:block>

<th:block layout:fragment="jsolif">
    <script>
        $(document).ready(function(){
            $('#datatable').DataTable();
        });
        $('#buttontambaho').click(function () {
            console.log('Click in here...');
            var b = $('#viewo').val();
            console.log(b);
            $.ajax(
                {
                    url: '/D_Organisasi/form',
                    dataType: "html",
                    success: function (data) {
                        $('.modal-bodyo').html(data);
                        $('#omodal').modal('show');
                        $('#biodid').val(b);
                    },
                    error: function (e) {
                        alert('Error: ' + e);
                    }
                });
        });

        $("#list-organisasi").on('click', '#btn-update', function () {
            console.log('Klik Disini');
            var vId = $(this).val();

            $.ajax({
                url: '/D_Organisasi/edit/' + vId,
                type: 'get',
                dataType: 'html',
                success: function (hasil) {
                    $('.modal-bodyoedit').html(hasil);
                    $("#omodaledit").modal('show');
                }
            });
        });

        $("#list-organisasi").on('click', '#btn-delete', function () {
            console.log('Klik Disini');
            var vId = $(this).val();

            $.ajax({
                url: '/D_Organisasi/hapus/' + vId,
                type: 'get',
                dataType: 'html',
                success: function (hasil) {
                    $('.modal-delete').html(hasil);
                    $("#deletemodal").modal('show');
                }
            });
        });

        function loadData() {
            $.ajax({
                url: '/D_Organisasi/view',
                type: 'get',
                dataType: 'html',
                success: function (hasil) {
                    $(".modal-backdrop.in").hide();
                    $('#list-organisasi').html(hasil);
                }
            });
        }

    </script>

</th:block>

</html>