<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block layout:fragment="content">
    <title>Dokumen</title>
    <div id="list-dokumen">
        <input id="viewdokbioid" type="hidden" th:value="${biodataId}">
        <table class="table table-striped display">
            <thead>
                <tr>
                    <th colspan="3">
                        <h4>Dokumen
                            <button type="button" class="btn  btn-primary btn-round" id="btntambahdok" style="border: none; padding: 0; background: none;">
                                <i class="fa fa-plus-circle" style="color: black"></i>
                            </button>
                        </h4>
                    </th>
                </tr>
                <tr>
                    <th>NAMA FILE</th>
                    <th>KETERANGAN</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${listdokumen}">
                    <td th:text="${item.fileName}"></td>
                    <td th:text="${item.notes}"></td>
                    <td>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                More
                                <span class="fa fa-angle-down"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li class="">
                                    <button type="button" id="btndit" th:value="${item.id}" style="border: none; padding: 0; background: none;">Ubah</button>
                                </li>
                                <li class="">
                                    <button type="button" id="btndel" th:value="${item.id}" style="border: none; padding: 0; background: none;">Hapus</button>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

<!--          Modal Tambah Dokumen  -->
        <div class="modal fade" id="tambahdokumen" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" style="border-radius:10px;border: 2px solid rgb(0,0,102);">
                    <div class="modal-header" style="border-top-left-radius:8px;border-top-right-radius:8px;background-color:rgb(0,0,102); color:white;">
                    <table>
                            <tr>
                                <td>
                                    <h5 class="modal-title" style="color:white">Tambah Dokumen (Max : 500 KB)</h5>
                                </td>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                            </tr>
                        </table>
                    </div>
                    <div id="modal-body-tamb-dok">

                    </div>
                </div>
            </div>
        </div>

<!--          Modal Edit Dokumen  -->
        <div class="modal fade" id="editdokumen" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" style="border-radius:10px;border: 2px solid rgb(0,0,102);">
                    <div class="modal-header" style="border-top-left-radius:8px;border-top-right-radius:8px;background-color:rgb(0,0,102); color:white;">

                    <table>
                            <tr>
                                <td>
                                    <h5 class="modal-title" style="color:white">Ubah Dokumen</h5>
                                </td>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </tr>
                        </table>
                    </div>
                    <div id="modal-body-edit-dok">

                    </div>
                </div>
            </div>
        </div>

        <!--  Modal Hapus  -->
        <div class="modal fade" id="hapusdokumen" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="border-radius:10px;border: 2px solid rgb(204,0,0);">
                    <div class="modal-header" style="border-top-left-radius:8px;border-top-right-radius:8px; background-color:rgb(211,55,36);">
                        <table>
                            <tr>
                                <td>
                                    <h5 class="modal-title" style="color:white">Hapus Dokumen</h5>
                                </td>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </tr>
                        </table>
                    </div>
                    <div id="modal-body-hap-dok">

                    </div>
                </div>
            </div>
        </div>

    </div>
</th:block>

<th:block layout:fragment="jsokta" >
<script>
    $('#btntambahdok').val(getUrlVars()[4]);


    $("#formfile").on('submit', 'form', function()
    {
        var imgVal = $('#ambilfile').val();
        if(imgVal=='')
        {
            alert("empty input file");

        }
        return false;

    });


    $('#btntambahdok').click(function () {
        console.log('Klik Tambah Dokumen');
        var bioDokId = $('#viewdokbioid').val();
        $.ajax(
            {
                url: '/D_Dokumen/form_tambah_dokumen_gabung',
                dataType: "html",
                success: function (data) {
                    $('#modal-body-tamb-dok').html(data);

                    $('#isiBioFile').val(bioDokId);
                    $('#isiBioFoto').val(bioDokId);

                    // $('#isiBioFile').val(getUrlVars()[4]);
                    // $('#isiBioFoto').val(getUrlVars()[4]);
                    $('#tambahdokumen').modal('show');
                },
                error: function (e) {
                    alert('Error: ' + e);
                }
            });
        });

        $("#tambahdokumen").on('click', '#btnupfile' ,'form', function () {
            var vUrl = $(this).attr('action');
            var vData = $(this).serialize();

            $('#isiBioFile').val(bioDokId);
            $('#isiBioFoto').val(bioDokId);

            // $('#isiBioFile').val(getUrlVars()[4]);
            // $('#isiBioFoto').val(getUrlVars()[4]);

            $.ajax({
                url: vUrl,
                type: 'post',
                data: vData,
                dataType: 'html',
                success: function (hasil) {
                    $("#tambahdokumen").modal("hide");
                    loadData();
                }
            });
            return false;
        });

        $("#tambahdokumen").on('click', '#btnupfoto' ,'form', function () {
            var vUrl = $(this).attr('action');
            var vData = $(this).serialize();

            $('#isiBioFile').val(getUrlVars()[4]);
            $('#isiBioFoto').val(getUrlVars()[4]);

            $.ajax({
                url: vUrl,
                type: 'post',
                data: vData,
                dataType: 'html',
                success: function (hasil) {
                    $("#tambahdokumen").modal("hide");
                    loadData();
                }
            });
            return false;
        });

        $("#list-dokumen").on('click', '#btndit', function() {
            console.log('in click btn-edit...');
            var vId = $(this).val();
            console.log(vId);

            $('#isiBioFile').val(getUrlVars()[4]);
            $('#isiBioFoto').val(getUrlVars()[4]);

            $.ajax({
                url:'/D_Dokumen/editmodif/'+ vId,
                type:'get',
                dataType:'html',
                success:function(hasil){
                    $('#modal-body-edit-dok').html(hasil);
                    $("#editdokumen").modal('show');

                    var varfilename = $('#namafile').val();
                    var varphotoname = $('#namafoto').val();

                    var bolphoto = $('#fotobukan').val();

                    console.log(bolphoto);
                    console.log(varfilename);

                    if(bolphoto == "true")
                        $('#namafile').val('');
                }
            });
        }).on('click', '#btndel', function () {
            console.log('in click deletebutton...');
            var vId = $(this).val();

            $.ajax({
            url: '/D_Dokumen/konfirm_hapus_dokumen/' + vId,
            type: 'get',
            dataType: 'html',
            success: function (hasil) {
                $('#modal-body-hap-dok').html(hasil);
                $("#hapusdokumen").modal('show');
            }
        });
    });

    function getUrlVars()
    {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('/') + 1).split('/');

        return hashes;
    }

    function ValidateSize(file) {
        var FileSize = file.files[0].size / 500 / 500; // in MB
        if (FileSize > 2) {
            alert('File tidak boleh lebih dari 500 KB!');
            $(file).val('');
            $(namafile).val('');
        } else {

        }
    }

    function ValidateSizePhoto(file) {
        var FileSize = file.files[0].size / 500 / 500; // in MB
        if (FileSize > 2) {
            alert('File tidak boleh lebih dari 500 KB!');
            $(file).val('');
            $(namafoto).val('');
        } else {

        }
    }

    var dobId = $('#createdRP').val();
    var cutDob = dobId.split(" ");
        cutDob = cutDob[0].split("-");
        console.log(cutDob);
        $('#createdRP').val(cutDob[0] + "/" + cutDob[1] + "/" + cutDob[2]);

    var dobId1 = $('#createdRP1').val();
    var cutDob1 = dobId1.split(" ");
        cutDob1 = cutDob1[0].split("-");
        console.log(cutDob1);
        $('#createdRP1').val(cutDob1[0] + "/" + cutDob1[1] + "/" + cutDob1[2]);

    console.log(getUrlVars()[4]);
</script>
</th:block>
</html>