<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<th:block layout:fragment="content">
    <h1>Spring Boot - Upload Status</h1>

    <div th:if="${message}">
        <h2 th:text="${message}" />
    </div>
<!--    <table>-->
<!--        <tr th:each="item:${fileList}">-->
<!--            <td><a th:href="${item.fileName}" th:text="${item.fileName}" target="_blank"></a></td>-->
<!--        </tr>-->
<!--    </table>-->
<!--    Files in folder:<br>-->
<!--    <tr th:each="item:${allfiles}">-->
<!--        <td><a th:href="${item.getName()}" th:text="${item.getName()}" target="_blank"></a></td><br>-->
<!--    </tr>-->
</th:block>

</html>