<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with" layout:decorate="~{layout}" with:title="'B210'">

<th:block layout:fragment="content">
    <div>
        <h1>
            <button type="button" id="addbutton" style="background-color: Transparent; background-repeat:no-repeat;
                                            border: none; cursor:pointer;overflow: hidden;outline:none"><span
                    class="fa fa-plus-circle"></span></button>
        </h1>
        <input id="myInput" type="text" placeholder="Nama Role" onclick="normalizingstyle()"
               style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 50%; padding: 5px 10px;" required>
        <button type="button" class="btn  btn-primary btn-round"
                style="background-color:rgb(0, 0, 102); color:white" onclick="search()"><strong>Cari</strong></button>
                        <!--		Show Numbers Of Rows 		-->
                        <select name="state" id="maxRows" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 113px; padding: 5px 10px;">
                            <option value="5000">Show ALL Rows</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
            <li class="dropdown ">
                <button class="dropdown-toggle btn btn-primary" data-toggle="dropdown" role="button"
                        aria-expanded="false" style="background-color:rgb(0, 0, 102); color:white">
                    <span></span>Sort
                    <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li class="">
                        <button class="form-control" disabled
                                style="background-color: Transparent; background-repeat:no-repeat;
                                            border: none; cursor:pointer;overflow: hidden;outline:none">Order
                        </button>
                    </li>
                    <li class="">
                        <button class="form-control" onclick="sortTable()"
                                style="background-color: Transparent; background-repeat:no-repeat;
                                            border: none; cursor:pointer;overflow: hidden;outline:none">Ascending
                        </button>
                    </li>
                    <li class="">
                        <button class="form-control" onclick="sortTableDesc()"
                                style="background-color: Transparent; background-repeat:no-repeat;
                                            border: none; cursor:pointer;overflow: hidden;outline:none">Descending
                        </button>
                    </li>
                </ul>
            </li>
    </div>

    <div id="list-role">
        <table class="table table-striped display" id="roletable">
            <thead>
            <tr style="border-top: 2px solid rgb(0,0,102);border-bottom: 3px solid rgb(0,0,102);">
                <th onclick="sortTable(0)">KODE ROLE</th>
                <th onclick="sortTable(1)">NAMA ROLE</th>
                <th>#</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${roleList}" class="aku">
                <td th:text="${item.code}"></td>
                <td th:text="${item.name}" class="nama"></td>
                <td>
                    <li class="dropdown ">
                        <button class="dropdown-toggle btn btn-primary" data-toggle="dropdown" role="button"
                                aria-expanded="false" style="background-color:rgb(0, 0, 102); color:white">
                            <span></span>More
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu">
                            <li class="">
                                <button class="form-control" id="editbutton" type="button" th:value="${item.id}"
                                        style="background-color: Transparent; background-repeat:no-repeat;
                                            border: none; cursor:pointer;overflow: hidden;outline:none">Edit
                                </button>
                            </li>
                            <li class="">
                                <button class="form-control" id="deletebutton" type="button" th:value="${item.id}"
                                        style="background-color: Transparent; background-repeat:no-repeat;
                                            border: none; cursor:pointer;overflow: hidden;outline:none">Hapus
                                </button>
                            </li>
                        </ul>
                    </li>
                </td>
            </tr>
            </tbody>
        </table>
        <div>
            <nav>
                <ul class="pagination"></ul>
            </nav>
        </div>


        <!--  Add Modal -->
        <div class="modal fade" id="addmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" style="border-radius:10px;border: 2px solid rgb(0,0,102);">
                    <div class="modal-header "
                         style="border-top-left-radius:8px;border-top-right-radius:8px;background-color:rgb(0,0,102); color:white;">
                        <h3 class="modal-title">Role
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </h3>
                    </div>
                    <div class="modal-body">

                    </div>
                </div>
            </div>
        </div>

        <!--  Delete  Modal -->
        <div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-danger" role="document">
                <div class="modal-content" style="border-radius:10px;border: 2px;">
                    <div class="modal-header" style="border-top-left-radius:8px;border-top-right-radius:8px;">
                        <h3 class="modal-title">Hapus Role?
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </h3>
                    </div>
                    <div class="modal-delete">

                    </div>
                </div>
            </div>
        </div>

    </div>
</th:block>

<th:block layout:fragment="jsgilang">

    <!--Script untuk search-->
    <script>
        function normalizingstyle(){
            input = document.getElementById("myInput");
            input.style.borderColor="rgb(0,0,102)";
            input.style.boxShadow="none";
            input.placeholder = ""
        }

        function search() {
            input = document.getElementById("myInput");
            value = $("#myInput").val();
            console.log(value);
            if (value == ""){
                input.style.borderColor="rgb(200,0,0)";
                input.style.boxShadow="0px 0px 5px rgb(150,0,0)"
                console.log('kosong');
<!--                $('#list-role').hide();-->
                input.placeholder = "Harap Masukkan Nama Role"
            } else{
                input.placeholder = "Nama Role"
                console.log('klik');
                var input, filter, table, tr, td, i, txtValue;
                filter = input.value.toUpperCase();
                table = document.getElementById("list-role");
                tr = table.getElementsByClassName("aku");
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByClassName("nama")[0];
                    if (td) {
                    txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                            $('#list-role').show();
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        }
    </script>

    <script>
        $(document).ready(function () {
  getPagination('#roletable');
  $('#maxRows option:last').prop('selected', true).trigger('change');
});

function getPagination(table) {

  $('#maxRows').on('change', function(e) {
    $('.pagination').html(''); // reset pagination
    var trnum = 0; // reset tr counter
    var maxRows = parseInt($(this).val()); // get Max Rows from select option
    var totalRows = $(table + ' tbody tr').length; // numbers of rows
    $(table + ' tr:gt(0)').each(function() { // each TR in  table and not the header
      trnum++; // Start Counter
      if (trnum > maxRows) { // if tr number gt maxRows

        $(this).hide(); // fade it out
      }
      if (trnum <= maxRows) {
        $(this).show();
      } // else fade in Important in case if it ..
    }); //  was fade out to fade it in
    if (totalRows > maxRows) { // if tr total rows gt max rows option
      var pagenum = Math.ceil(totalRows / maxRows); // ceil total(rows/maxrows) to get ..
      //	numbers of pages
      for (var i = 1; i <= pagenum;) { // for each page append pagination li
        $('.pagination').append('<li class"wp" data-page="' + i + '">\
<span>' + i++ + '<span class="sr-only">(current)</span></span>\
</li>').show();
      } // end for i
    } // end if row count > max rows
    $('.pagination li:first-child').addClass('active'); // add active class to the first li
    $('.pagination li').on('click', function() { // on click each page
      var pageNum = $(this).attr('data-page'); // get it's number
      var trIndex = 0; // reset tr counter
      $('.pagination li').removeClass('active'); // remove active class from all li
      $(this).addClass('active'); // add active class to the clicked
      $(table + ' tr:gt(0)').each(function() { // each tr in table not the header
        trIndex++; // tr index counter
        // if tr index gt maxRows*pageNum or lt maxRows*pageNum-maxRows fade if out
        if (trIndex > (maxRows * pageNum) || trIndex <= ((maxRows * pageNum) - maxRows)) {
          $(this).hide();
        } else {
          $(this).show();
        } //else fade in
      }); // end of for each tr in table
    }); // end of on click pagination list


  });

  // end of on select change



  // END OF PAGINATION
}

    </script>

    <script>
<!--        $(document).ready(function () {-->
<!--            $('#roletable').DataTable();-->
<!--        });-->

 function sortTable() {
  var table, rows, switching, i, x, y, shouldSwitch;
  table = document.getElementById("roletable");
  switching = true;
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[0];
      y = rows[i + 1].getElementsByTagName("TD")[0];
      //check if the two rows should switch place:
      if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
        //if so, mark as a switch and break the loop:
        shouldSwitch = true;
        break;
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
    }
  }
}

function sortTableDesc() {
  var table, rows, switching, i, x, y, shouldSwitch;
  table = document.getElementById("roletable");
  switching = true;
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[0];
      y = rows[i + 1].getElementsByTagName("TD")[0];
      //check if the two rows should switch place:
      if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
        //if so, mark as a switch and break the loop:
        shouldSwitch = true;
        break;
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
    }
  }
}



        $('#addbutton').click(function () {
            console.log('Click in here...');
            $.ajax(
                {
                    url: '/D_Role/form',
                    dataType: "html",
                    success: function (data) {
                        $('.modal-body').html(data);
                        $('#addmodal').modal('show');
                    },
                    error: function (e) {
                        alert('Error: ' + e);
                    }
                });
        });

        $("#list-role").on('click', '#editbutton', function () {
            console.log('Klik Disini');
            var vId = $(this).val();

            $.ajax({
                url: '/D_Role/edit/' + vId,
                type: 'get',
                dataType: 'html',
                success: function (hasil) {
                    $('.modal-body').html(hasil);
                    $("#addmodal").modal('show');
                }
            });
        });

        $("#list-role").on('click', '#deletebutton', function () {
            console.log('Klik Disini');
            var vId = $(this).val();

            $.ajax({
                url: '/D_Role/hapus/' + vId,
                type: 'get',
                dataType: 'html',
                success: function (hasil) {
                    $('.modal-delete').html(hasil);
                    $("#deletemodal").modal('show');
                }
            });
        });

        function loadData() {
            $.ajax({
                url: '/D_Role/lihat_role',
                type: 'get',
                dataType: 'html',
                success: function (hasil) {
                    $(".modal-backdrop.in").hide();
                    $('#list-role').html(hasil);
                }
            });
        }

    </script>
</th:block>
</html>