<div>
    <div id="listterjadwal">
        <table class="table table-striped" id="tableproses">
            <tr th:each="item: ${listjadwal}">
                <td th:text="${item.biojadwal.fullName}"></td>
                <td class="eduterjadwal" th:text="${item.biojadwal.schoolName+ ' / ' +item.biojadwal.Major}"></td>
                <td>
                    <li class="dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false">
                            <span>Pilihan</span>
                            </a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="">
                                <button type="button" id="undangbutton" th:value="${item.id}" style="background-color: Transparent; background-repeat:no-repeat;
                                                border: none; cursor:pointer;overflow: hidden;outline:none">Undang</button>
                            </li>
                            <li class="">
                                <button type="button" id="ubahbutton" th:value="${item.id}" style="background-color: Transparent; background-repeat:no-repeat;
                                                border: none; cursor:pointer;overflow: hidden;outline:none">Ubah Jadwal</button>
                            </li>
                        </ul>
                    </li>
                </td>
            </tr>
        </table>
    </div>
</div>
</th:block>
<th:block layout:fragment="jsghozy">
    <script>
        $(document).ready(atureduterjadwal());
        function atureduterjadwal(){
            var list = document.getElementsByClassName('eduterjadwal');
            for (i=0;i<list.length;i++){
                var text = list[i].innerText;
                var major = text.toString().split(" / ")[1];
                var schname = text.toString().split(" / ")[0];
                if(major=="" || major=="null"){
                    if(schname=="" || schname=="null"){
                        list[i].innerHTML="-";
                    }else{
                        list[i].innerHTML=schname;
                    }
                }else{
                    list[i].innerHTML=text;
                }
            }
        }
    </script>
    <script>
        $("#tambah").on('submit', 'form', function(){
            var vUrl = $(this).attr('action');
            var vData = $(this).serialize();

            $.ajax({
                url:vUrl,
                type:'post',
                data:vData,
                dataType:'html',
                success:function(hasil){
                    $("#addmodal").modal("hide");
                    loadModal();
                }
            });
            return false;
        });

        $("#listterjadwal").on('click', '#ubahbutton', function () {
            console.log('in click editbutton...');
            var vId = $(this).val();
            $.ajax({
                url: '/D_PelamarTerjadwal/ubahjadwal/' + vId,
                type: 'get',
                dataType: 'html',
                success: function (hasil) {
                    $('#ubahjadwalmbod').html(hasil);
                    $("#ubahjadwalmod").modal('show');
                }
            });
        }).on('click', '#undangbutton', function () {
            console.log('in click undangbutton...');
            var vId = $(this).val();
            $.ajax({
                url: '/D_PelamarTerjadwal/undang/' + vId,
                type: 'get',
                dataType: 'html',
                success: function (hasil) {
                    $('#undangmbod').html(hasil);
                    $("#undangmod").modal('show');
                    $('#idkirimemail').val(vId);
                }
            });
        });

        function loadData() {
            var bioId = $('#viewbioid').val();
            $.ajax({
                url: '/D_RiwayatPendidikan/view/' + bioId,
                type: 'get',
                dataType: 'html',
                success: function (hasil) {
                    $(".modal-backdrop.in").hide();
                    $('#fragmentpelamar').html(hasil);
                    $("#deletemodal").modal('show');
                }
            });
        }

        function cekautomail()
        {
            if (document.getElementById('cekautomail').checked == true) {
                document.getElementById("tglautomail").disabled = false;
                document.getElementById('cekautomail') = true;
            }
            else {
                document.getElementById("tglautomail").disabled = true;
                document.getElementById('cekautomail') = false;
            }
        }
    </script>
</th:block>

</html>