<div th:each="item: ${objRJ}">
    <input type="hidden" th:value="${item.rencjadwal.id}" id="idRJ">
    <input type="hidden" th:value="${item.id}" id="idRJD">
    <table align="center" style="border-spacing:20px; border:none;" class="table">
        <tr>
            <td><input type="hidden" th:value="${item.rencjadwal.scheduleDate}" id="date"
                    placeholder="Tgl. Rencana Jadwal*">
                <input type="date" onclick="normalizingstyle(this.id)" placeholder="Tgl. Rencana Jadwal*" id="newdate"
                    style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"></td>
            <td><input type="hidden" th:value="${item.rencjadwal.time}" id="time" placeholder="Jam*">
                <input type="time" onclick="normalizingstyle(this.id)" placeholder="Jam*" id="newtime"
                    style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"></td>
        </tr>
        <tr>
            <input type="hidden" th:value="${item.rencjadwal.ro}" id="ro">
            <td><select id="newro" type="text" placeholder="RO"
                    style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;">
                    <option th:each="item : ${listro}" th:value="${item.id}" th:text="${item.roName}"></option>
                </select></td>
            <input type="hidden" th:value="${item.rencjadwal.tro}" id="tro">
            <td><select id="newtro" type="text" placeholder="TRO"
                    style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;">
                    <option th:each="item : ${listtro}" th:value="${item.id}" th:text="${item.troName}"></option>
                </select></td>
        </tr>
        <tr>
            <input type="hidden" th:value="${item.rencjadwal.scheduleTypeId}" id="ST">
            <td><select id="newST" type="text" placeholder="Jenis Jadwal*"
                    style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;">
                    <option th:each="item : ${listST}" th:value="${item.id}" th:text="${item.name}"></option>
                </select></td>
            <td><input id="newlocation" type="text" th:value="${item.rencjadwal.location}" placeholder="Lokasi"
                    style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"></td>
        </tr>
        <tr>
            <td colspan="2"><input id="newotherRoTro" type="text" th:value="${item.rencjadwal.otherRoTro}"
                    placeholder="RO/TRO Lain"
                    style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"></td>
        </tr>
        <tr>
            <td colspan="2"><textarea id="newnotes" type="text" th:value="${item.rencjadwal.notes}"
                    placeholder="Catatan"
                    style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"></textarea>
            </td>
        </tr>
        <tr>
            <td><input type="hidden" id=cekbox th:value="${item.rencjadwal.isAutomaticMail}"><input type="checkbox"
                    id="checkbox" onchange="disablesentdate()">Kirim Undangan Otomatis</td>
        </tr>
        <tr>
            <td><input type="hidden" th:value="${item.rencjadwal.sentDate}" id="tglautomail">
                <input id="newsentDate" type="date" placeholder="Tgl. Kirim"
                    style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"></td>
        </tr>
        <tr align="right">
            <td></td>
            <td class="btn-group">
                <button class="btn btn-warning" data-dismiss="modal">Batal</button>
                <button class="btn btn-primary" id="savebtnPP" onclick="validatePT()">Simpan</button>
            </td>
        </tr>
    </table>
</div>
<!--Script Validasi-->
<script>
    function validatejadwal() {
        var tanggal = document.getElementById('newdate');
        var waktu = document.getElementById('newtime');
        var cekbox = document.getElementById('checkbox');
        var sentdate = document.getElementById('newsentDate');
        var validasi = true;
        if (tanggal.value == "" || tanggal.value == null) {
            validasi = false;
            tanggal.style.borderColor = "rgb(200,0,0)";
            tanggal.style.boxShadow = "0px 0px 5px rgb(150,0,0)"
        }
        else if (waktu.value == "" || waktu.value == null) {
            validasi = false;
            waktu.style.borderColor = "rgb(200,0,0)";
            waktu.style.boxShadow = "0px 0px 5px rgb(150,0,0)"
        }
        else if ((sentdate.value == "" && cekbox.checked == true) || (sentdate.value == null && cekbox.checked == true)) {
            validasi = false;
            sentdate.style.borderColor = "rgb(200,0,0)";
            sentdate.style.boxShadow = "0px 0px 5px rgb(150,0,0)"
        }
        else {
            validasi = true;
        }
    }

    function normalizingstyle() {
        input = document.getElementById("myInput");
        input.style.borderColor = "rgb(0,0,102)";
        input.style.boxShadow = "none";
    }
</script>

<script>
    $(document).ready(pindahintime(), tongol());

    function tongol() {
        console.log($('#idRJ').val())
    }

    function normalizingstyle(param) {
        var data = document.getElementById(param);
        data.style.borderColor = "rgb(0,0,102)";
        data.style.boxShadow = "none";
    }

    function validatePT() {
        var v = validatejadwal();
        if (v == false) {
            alert('Harap masukkan data pada kolom merah');
        } else {
            hitungdata();
        }
    }

    function pindahintime() {
        console.log($('#time').val());
        var time;
        $('#newsentDate').val($('#tglautomail').val().toString().split(" ")[0]);
        if ($('#date').val() == null || $('#date').val() == "") {
            $('#newdate').val($('#date').val());
        } else {
            $('#newdate').val($('#date').val().toString().split(" ")[0]);
        }
        if ($('#tglautomail').val() == null || $('#tglautomail').val() == "") {
            $('#newsentDate').val($('#tglautomail').val());
            if ($('#time').val().split(".")[1] == null || $('#time').val().split(".")[1] == "") {
                time = $('#time').val();
                console.log('bisa nih');
            } else {
                time = $('#time').val().split(".")[0] + ':' + $('#time').val().split(".")[1];
                console.log('mampus gagal');
            }
        } else {
            if ($('#time').val().split(".")[1] == null || $('#time').val().split(".")[1] == "") {
                time = $('#time').val();
                console.log('bisa nih');
            } else {
                time = $('#time').val().split(".")[0] + ':' + $('#time').val().split(".")[1];
                console.log('mampus gagal');
            }
        }
        if ($('#cekbox').val() == true) {
            document.getElementById('checkbox').checked == true;
        }
        else if ($('#cekbox').val() == false) {
            document.getElementById('checkbox').checked == false;
        }
        $('#newtime').val(time);
        console.log(time);
        $('#newro').val($('#ro').val());
        $('#newtro').val($('#tro').val());
        $('#newST').val($('#ST').val());
    };

    function disablesentdate() {
        document.getElementById('newsentDate').disabled = !document.getElementById('checkbox').checked;
        var automail = document.getElementById('savebtnPP');
        if (document.getElementById('checkbox').checked == true) {
            automail.value = "Simpan";
        }
        else if (document.getElementById('checkbox').checked == false) {
            automail.value = "Simpan & Kirim"
        }
    };
</script>
<!--Fungsi buat edit, kalo count dari detail dengan id schedule > 1, buat jadwal baru trus edit jadwal_detail. Tapi kalo < 1, jadi edit jadwal aja-->
<script>
    function hitungdata() {
        var idRJD = $('#idRJD').val();
        var id = $('#idRJ').val();
        $.ajax({
            url: '/D_PelamarTerjadwal/getRJD/' + idRJD,
            type: 'get',
            success: function (komen) {
                console.log(komen);
                var rencid = komen.rencanaJadwalId;
                $.ajax({
                    url: '/D_PelamarTerjadwal/countdata/' + rencid,
                    type: 'get',
                    success: function (data) {
                        if (data > 1) {
                            saveRJD(idRJD);
                        } else {
                            editRJ(id);
                        }
                    },
                    error: function (e) {
                        console.log('errornya ' + e);
                    }
                })
            }
        })
    }
</script>
<!--Edit jadwal (kasus kalo count < 1)-->
<script>
    function editRJ(id) {
        var c = Date().toString().split(" ");
        if (c[1] == "Jan") { c[1] = "1" }
        else if (c[1] == "Feb") { c[1] = "2" }
        else if (c[1] == "Mar") { c[1] = "3" }
        else if (c[1] == "Apr") { c[1] = "4" }
        else if (c[1] == "May") { c[1] = "5" }
        else if (c[1] == "Jun") { c[1] = "6" }
        else if (c[1] == "Jul") { c[1] = "7" }
        else if (c[1] == "Aug") { c[1] = "8" }
        else if (c[1] == "Sep") { c[1] = "9" }
        else if (c[1] == "Oct") { c[1] = "10" }
        else if (c[1] == "Nov") { c[1] = "11" }
        else if (c[1] == "Dec") { c[1] = "12" };
        var b = c[3] + "-" + c[1] + "-" + c[2] + "T" + c[4] + ".000+0700";
        var idRJ = $('#idRJ').val();
        var date = $('#newdate').val().toString() + "T00:00:00.000+0700";
        var time = $('#newtime').val();
        var automail = new Boolean;
        var sentdate = $('#newsentDate').val() + 'T10:00:00.000+0700';
        if (document.getElementById('checkbox').checked == true) {
            automail = true
        }
        else if (document.getElementById('checkbox').checked == false) {
            automail = false
            sentdate = null;
        }
        $.ajax({
            url: '/D_PelamarTerjadwal/getRJ/' + id,
            type: 'get',
            success: function (hasilgetRJid) {
                $.ajax({
                    url: '/D_PelamarTerjadwal/editRJ/' + id,
                    type: 'put',
                    data: '{"id": ' + hasilgetRJid.id + ',' +
                        '"createdBy": ' + hasilgetRJid.createdBy + ',' +
                        '"createdOn": "' + hasilgetRJid.createdOn + '",' +
                        '"modifiedBy": 1,' +
                        '"modifiedOn": "' + b + '",' +
                        '"deletedBy": ' + hasilgetRJid.deletedBy + ',' +
                        '"deletedOn": ' + hasilgetRJid.deletedOn + ',' +
                        '"scheduleCode": "' + hasilgetRJid.scheduleCode + '",' +
                        '"scheduleDate": "' + date + '",' +
                        '"time": "' + time + '",' +
                        '"ro": ' + $('#newro').val() + ',' +
                        '"tro": ' + $('#newtro').val() + ',' +
                        '"scheduleTypeId": ' + $('#newST').val() + ',' +
                        '"location": "' + $('#newlocation').val() + '",' +
                        '"otherRoTro": "' + $('#newotherRoTro').val() + '",' +
                        '"notes": "' + $('#newnotes').val() + '",' +
                        '"isAutomaticMail": ' + automail + ',' +
                        '"sentDate": "' + sentdate + '",' +
                        '"status": "1",' +
                        '"delete": false}',
                    success: function () {
                        $('#ubahjadwalmod').modal('hide');
                        $.ajax({
                            url: '/D_PelamarTerjadwal/view/' + id,
                            type: 'get',
                            dataType: 'html',
                            success: function (hasil) {
                                $("#modalbodyPT").html(hasil);
                                $('#detailmodalPT').modal('show');
                            }
                        });
                    },
                    dataType: 'json',
                    contentType: 'application/json'
                })
            }
        })
    }
</script>
<!--Tambah jadwal (kasus kalo count > 1)-->
<script>
    function saveRJD(idRJ) {
        var c = Date().toString().split(" ");
        if (c[1] == "Jan") { c[1] = "1" }
        else if (c[1] == "Feb") { c[1] = "2" }
        else if (c[1] == "Mar") { c[1] = "3" }
        else if (c[1] == "Apr") { c[1] = "4" }
        else if (c[1] == "May") { c[1] = "5" }
        else if (c[1] == "Jun") { c[1] = "6" }
        else if (c[1] == "Jul") { c[1] = "7" }
        else if (c[1] == "Aug") { c[1] = "8" }
        else if (c[1] == "Sep") { c[1] = "9" }
        else if (c[1] == "Oct") { c[1] = "10" }
        else if (c[1] == "Nov") { c[1] = "11" }
        else if (c[1] == "Dec") { c[1] = "12" };
        var b = c[3] + "-" + c[1] + "-" + c[2] + "T" + c[4] + ".000+0700";
        var date = $('#newdate').val().toString() + "T00:00:00.000+0700";
        var time = $('#newtime').val();
        var sentdate = $('#newsentDate').val() + 'T10:00:00.000+0700';
        var automail = new Boolean;
        if (document.getElementById('checkbox').checked == true) {
            automail = true
        }
        else if (document.getElementById('checkbox').checked == false) {
            automail = false
            sentdate = "";
        }
        $.ajax({
            url: '/D_PelamarTerjadwal/getRJD/' + idRJ,
            type: 'get',
            success: function (hasil) {
                console.log('{"createdBy": 1, "createdOn": "' + b + '", "modifiedBy": null, "modifiedOn": null, "deletedBy": null, "deletedOn": null,' +
                    '"scheduleCode": "' + hasil.rencjadwal.scheduleCode + '", "scheduleDate": "' + date + '", "time": "' + time + '", "ro": ' + $('#newro').val() + ',' +
                    '"tro": ' + $('#newtro').val() + ', "scheduleTypeId": ' + $('#newST').val() + ', "location": "' + $('#newlocation').val() + '",' +
                    '"otherRoTro": "' + $('#newotherRoTro').val() + '", "notes": "' + $('#newnotes').val() + '","isAutomaticMail": ' + automail + ',' +
                    '"sentDate": "' + sentdate + '", "status": null, "delete": false}');
                $.ajax({
                    url: '/D_PelamarTerjadwal/saveRJ',
                    type: 'post',
                    data: '{"createdBy": 1, "createdOn": "' + b + '", "modifiedBy": null, "modifiedOn": null, "deletedBy": null, "deletedOn": null,' +
                        '"scheduleCode": "' + hasil.rencjadwal.scheduleCode + '", "scheduleDate": "' + date + '", "time": "' + time + '", "ro": ' + $('#newro').val() + ',' +
                        '"tro": ' + $('#newtro').val() + ', "scheduleTypeId": ' + $('#newST').val() + ', "location": "' + $('#newlocation').val() + '",' +
                        '"otherRoTro": "' + $('#newotherRoTro').val() + '", "notes": "' + $('#newnotes').val() + '","isAutomaticMail": ' + automail + ',' +
                        '"sentDate": "' + sentdate + '", "status": null, "delete": false}',
                    success: function () {
                        $.ajax({
                            url: '/D_PelamarTerjadwal/maxid/',
                            type: 'get',
                            success: function (data) {
                                console.log('{"id": ' + hasil.id + ',"createdBy": 1, "createdOn": "' + hasil.createdOn + '",' +
                                    '"modifiedBy": 1, "modifiedOn": "' + b + '", "deletedBy": ' + hasil.deletedBy + ', "deletedOn": ' + hasil.deletedOn + ',' +
                                    '"rencanaJadwalId": ' + data + ', "biodataId": ' + hasil.biodataId + ', "delete": false}');
                                $.ajax({
                                    url: '/D_PelamarTerjadwal/editRJD/' + hasil.id,
                                    type: 'put',
                                    data: '{"id": ' + hasil.id + ',"createdBy": 1, "createdOn": "' + hasil.createdOn + '",' +
                                        '"modifiedBy": 1, "modifiedOn": "' + b + '", "deletedBy": ' + hasil.deletedBy + ', "deletedOn": ' + hasil.deletedOn + ',' +
                                        '"rencanaJadwalId": ' + data + ', "biodataId": ' + hasil.biodataId + ', "delete": false}',
                                    success: function () {
                                        $('#ubahjadwalmod').modal('hide');
                                        $.ajax({
                                            url: '/D_PelamarTerjadwal/view/' + id,
                                            type: 'get',
                                            dataType: 'html',
                                            success: function (hasil) {
                                                $("#modalbodyPT").html(hasil);
                                                $('#detailmodalPT').modal('show');
                                            }
                                        });
                                    },
                                    dataType: 'json',
                                    contentType: 'application/json'
                                })
                            },
                        });
                    },
                    dataType: 'json',
                    contentType: 'application/json'
                })
            }
        })
    }
</script>