<table class="table table-striped" id="myTable">
    <tr th:each="item: ${objundang}">
        <td><label th:utext="${'Jadwal : '+item.rencjadwal.schedule.name}"></label><br>
            <label th:utext="${'Tanggal : '+item.rencjadwal.scheduleDate.toString().split(' ')[0]}"></label><br>
            <label></label>
        </td>
        <td>
            <label th:utext="${'RO : '+item.rencjadwal.modelro.roName}"></label><br>
            <label th:utext="${'TRO : '+item.rencjadwal.modeltro.troName}"></label><br>
            <label th:utext="${'RO/TRO Lain : '+item.rencjadwal.otherRoTro}"></label>
        </td>
        <td>
            <label th:utext="${'Lokasi : '+item.rencjadwal.location}"></label><br>
            <label id="idkirimemail"></label><br>
            <label></label>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <textarea id="invnotes" style="width:100%; height: 100px"></textarea>
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td><button align="right" class="btn btn-primary" onclick="sendemail()" data-dismiss="modal">Kirim</button></td>
    </tr>
</table>
<script>
    function sendemail() {
        var id = $('#idkirimemail').val();
        var note = $('#invnotes').val();
        console.log(id);
        console.log(note);
        $.ajax({
            url:'/D_PelamarTerjadwal/detailemail/'+id,
            type:'get',
            success:function(hasil){
                var nama = hasil.biojadwal.nickName;
                var alamat = hasil.rencjadwal.location;
                var a = hasil.rencjadwal.scheduleDate;
                var date = a.toString().split("T")[0];
                var jenis = hasil.rencjadwal.schedule.name;
                Email.send({
                    SecureToken: "692753ba-9291-43d4-bd96-4c7d57ceaf6b",
                    To: "ghozibimoruci@gmail.com",
                    From: "miniprojectbatch210213@gmail.com",
                    Subject: "Aku Kirim Email ke Kamu nihh",
                    Body: "Hai "+nama+", kamu diundang "+jenis+" pada tanggal "+date+" dengan lokasi di"+alamat+". Harap datang tepat waktu.\n"+note+"."
                }).then(
                    message => alert("Pesan telah terkirim")
                );
                console.log('kirim nih');
            }
        });
    };
</script>