<th:block layout:fragment="content">
    <div th:each="item : ${listud}">
        <div>
            <h3 th:text="${'Undangan '+item.m_undangan.invitationCode}"></h3>
        </div>
        <div style="background-color:white;">
            <table class="table table-striped" id="myTable">
                <tr>
                    <td style="background-color:white;">
                        <label th:utext="${'Tgl.Undangan : '+item.m_undangan.invitationDate}"></label><br>
                        <label th:text="${'Jam : '+item.m_undangan.time}"></label><br>
                        <label th:text="${'Pelamar : '+item.m_viewPelamar.fullName}"></label><br>
                        <label th:text="${'Jenis Undangan : '+item.m_undangan.m_schedule_type.name}"></label><br>
                        <label th:text="${'RO : '+item.m_undangan.m_ro.roName}"></label><br>
                        <label th:text="${'TRO : '+item.m_undangan.m_tro.troName}"></label><br>
                        <label th:text="${'RO/TRO Lain : '+item.m_undangan.otherRoTro}"></label><br>
                        <label th:text="${'Lokasi : '+item.m_undangan.location}"></label><br>
                        <label th:text="${'Catatan : '+item.notes}"></label>
                    </td>
                    <td style="background-color:white;">
                        <i style="font-size:200px;" class="fa fa-envelope"></i>
                    </td>
                </tr>
            </table>
        </div>
        <div align="right">
            <td>
                <button id="btn-update" class="btn" style="background-color:#66CCCC;width:200px;color:white;float:right;" th:value="${item.Id}">Ubah</button>
                <button class="btn btn-primary" style="width:200px;" data-dismiss="modal">Close</button>
            </td>
        </div>
    </div>
</th:block>