<th:block layout:fragment="content">
    <body>
    <div style="padding: 25px 15px 0px 15px;">
        <form method="POST" th:action="@{/D_Penjadwalan_Undangan/save}" th:object="${objud}">
            <table class="table table-striped table-bordered" cellpadding="5" cellspacing="0">
                <tr>
                    <td>
                        <input type="hidden" th:field="*{Id}">
                        <input class="form-control" placeholder="Tgl. Undangan *" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;" required>

                    </td>
                    <td>
                        <select id="jamUndangan" class="form-control" th:field="*{undanganId}" placeholder="Jam *" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;" required>
                            <option th:each="item:${listu}" th:value="${item.Id}" th:text="${item.time}"></option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>
                        <select id="namaPelamar" class="form-control" th:field="*{biodataId}" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;" required>
                            <option th:each="item:${listb}" th:value="${item.Id}" th:text="${item.fullName}"></option>
                        </select>
                    </td>
                    <td>
                        <select id="jenisUndangan" class="form-control" th:field="*{undanganId}" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;" required>
                            <option th:each="item:${listu}" th:value="${item.scheduleTypeId}" th:text="${item.m_schedule_type.name}"></option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>
                        <select id="recruitmentO" class="form-control" th:field="*{undanganId}" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;">
                            <option th:each="item:${listu}" th:value="${item.ro}" th:text="${item.m_ro.roName}"></option>
                        </select>
                    </td>
                    <td>
                        <select id="technicalRO" class="form-control" th:field="*{undanganId}" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;">
                            <option th:each="item:${listu}" th:value="${item.tro}" th:text="${item.m_tro.troName}"></option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>
                        <input id="roTroLain" type="text" th:field="*{undanganId}" th:each="item:${listu}" th:value="${item.Id}" th:text="${item.otherRoTro}" class="form-control" placeholder="RO / TRO Lain" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;">

                    </td>
                    <td>
                        <input id="lokasi" type="text" th:field="*{undanganId}" th:each="item:${listu}" th:value="${item.Id}" th:text="${item.location}" class="form-control" placeholder="Lokasi" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;">
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <textarea id="catatan" placeholder="Catatan" class="form-control" th:field="*{notes}" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;">

                        </textarea>
                    </td>
                </tr>

                <tr align="right">
                    <td>

                    </td>
                    <td colspan="2" class="btn btn-group">
                        <button class="btn btn-warning" style="background-color:#66CCCC;width:200px;color:white;" data-dismiss="modal">Batal</button>
                        <button class="btn btn-primary" style="width:200px">Simpan</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    </body>
</th:block>