<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with" layout:decorate="~{layout}" with:title="'B210'">

<th:block layout:fragment="content">
        <div style="border-bottom: 3px solid rgb(0,0,102);margin-bottom:10px;">
            <h3 >Undangan
                <button type="button" style="border:0;background: none;color: inherit;border: none;padding: 0;font: inherit;cursor: pointer;outline: inherit;float:right;margin-left:5px;"
                    id="tambahundangan"><span class="fa fa-plus-circle"></span></button>
                <button type="button" style="border:0;background: none;color: inherit;border: none;padding: 0;font: inherit;cursor: pointer;outline: inherit;float:right;margin-left:5px;"
                        onclick="rawperpage()"><span class="fa fa-bars"></span></button>
                <button type="button" style="border:0;background: none;color: inherit;border: none;padding: 0;font: inherit;cursor: pointer;outline: inherit;float:right;"
                    onclick="sortTable()"><span class="fa fa-sort"></span></button>
            </h3>
        </div>
        <div style="margin-bottom:10px;">
            <input id="myInput" type="text" placeholder="Nama Pelamar"
                   style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 50%; padding: 5px 10px;" required>
            <button type="button" class="btn  btn-primary btn-round" style="background-color:rgb(0, 0, 102); color:white"
                    id="caributton"><strong>Cari</strong></button>
            <button type="button" class="btn  btn-primary btn-round" style="background-color:rgb(0, 0, 102); color:white"
                    onclick="reset()"><strong>Reset</strong></button>
            <div><h5 id="warning"></h5></div>
        </div>
    <div id="listundangan">
        <div id="listpel">
            <table class="table table-striped" id="myTable">
                <tr th:each="item : ${listu}">
                    <td th:text="${item.m_undangan.invitationCode}"></td>
                    <td th:text="${item.m_viewPelamar.fullName}"></td>
                    <td th:text="${item.m_viewPelamar.schoolName + '/' + item.m_viewPelamar.major}" ></td>
                    <td th:text="${item.m_undangan.invitationDate}"></td>
                    <td>
                        <button style="border:0;background: none;color: inherit;border: none;padding: 0;font: inherit;cursor: pointer;outline: inherit;"
                                type="button" id="btn-detail" th:value="${item.Id}"><span class="fa fa-search" ></span></button>
                    </td>
                    <td>
                        <button style="border:0;background: none;color: inherit;border: none;padding: 0;font: inherit;cursor: pointer;outline: inherit;"
                                type="button" id="btn-update" th:value="${item.Id}"><span class="fa fa-edit"></span></button>
                    </td>
                    <td>
                        <button style="border:0;background: none;color: inherit;border: none;padding: 0;font: inherit;cursor: pointer;outline: inherit;"
                                type="button" id="btn-delete" th:value="${item.Id}"><span class="fa fa-trash"></span></button>
                    </td>
                </tr>
            </table>
        </div>

        <!--Modal Undangan-->
        <div class="modal fade" id="modalu" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document" style="width:80%;">
                <div class="modal-content" style="border-radius:10px;border: 2px solid rgb(0,0,102);">
                    <div class="modal-header" style="border-top-left-radius:8px;border-top-right-radius:8px;background-color:rgb(0,0,102); color:white;">
                        <h5 class="modal-title" id="" style="font-size:25"><strong>Buat Undangan</strong></h5>
                    </div>
                    <div class="modal-body" id="undanganmodalbody">
                    </div>
                </div>
            </div>
        </div>
        <!--Modal detail Undangan-->
        <div class="modal fade" id="modalud" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document" style="width:80%;">
                <div class="modal-content" style="border-radius:10px;border: 2px solid rgb(0,0,102);background-color:#F5F5F5;color:#000066;">
                    <div class="modal-body" id="undangandmodalbody">
                    </div>
                </div>
            </div>
        </div>

        <!--Modal delete Undangan-->
        <div class="modal fade" id="modaldelud" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document" style="width:80%;">
                <div class="modal-content" style="border-radius:10px;border: 2px solid rgb(0,0,102);background-color:#F5F5F5;color:#000066;">
                    <div class="modal-body" id="undangandelmodalbody">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deletemodalu" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-danger" role="document">
                <div class="modal-content" style="border-radius:10px;border: 2px solid rgb(204,0,0);">
                    <div class="modal-header" style="border-top-left-radius:8px;border-top-right-radius:8px; color:white;">
                        <h4 class="modal-title" id="deleteTitle">Hapus Organisasi</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modalu-delete">
                        ...
                    </div>
                </div>
            </div>
        </div>

    </div>
</th:block>

<th:block layout:fragment="jsolif">

    <!--Script untuk loading view pelamar-->
    <script>
        $(document).ready(function(){
            $('#listpel').hide();
            $('#warning').hide();
            $("#caributton").on("click", function() {
                var value = $(myInput).val().toLowerCase();
                if(value==""){
                    $('#warning').show()
                    $('#warning').text('harap masukkan nama');
                    $('#listpel').hide();
                }
                else{
                    $("#myTable tr").filter(function() {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                        $('#listpel').show();
                        $('#warning').hide();
                    });
                }
            });
        });

        function reset() {
            $('#myInput').val("");
            $('#listpel').hide();
        }

        function sortTable() {
            console.log('aku ke klik');
            var table, rows, switching, i, x, y, shouldSwitch;
            table = document.getElementById("tableproses");
            switching = true;
            while (switching) {
                switching = false;
                rows = table.rows;
                for(i=1;i<(rows.length - 1);i++){
                    x = rows[i].getElementsByTagName("td")[0];
                    y = rows[i + 1].getElementsByTagName("td")[0];
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
                if (shouldSwitch){
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                }
            }
        }

        $("#modalu").on('submit', 'form', function () {
            var vUrl = $(this).attr('action');
            var vData = $(this).serialize();

            $.ajax({
                url: vUrl,
                type: 'post',
                data: vData,
                dataType: 'html',
                success: function(hasil) {
                    $("#modalu").modal("hide");
                }
            });
            return false;
        });

        function loadData() {
            $.ajax({
                url: '/D_Penjadwalan_Undangan/view',
                type: 'get',
                dataType: 'html',
                success: function (hasil) {
                    $(".modal-backdrop.in").hide();
                    $(document).html(hasil);
                }
            });
        }

        $('#tambahundangan').click(function () {
            console.log('Click in here...');
            $.ajax(
                {
                    url: '/D_Penjadwalan_Undangan/form',
                    dataType: "html",
                    success: function (data) {
                        $('#undanganmodalbody').html(data);
                        $('#modalu').modal('show');
                    },
                    error: function (e) {
                        alert('Error: ' + e);
                    }
                });
        });

        $("#btn-update").click(function () {
            console.log('Klik Disini');
            var vId = $(this).val();

            $.ajax({
                url: '/D_Penjadwalan_Undangan/edit/' + vId,
                type: 'get',
                dataType: 'html',
                success: function (hasil) {
                    $('#undanganmodalbody').html(hasil);
                    $('#modalu').modal('show');
                }
            });
        });

        $("#btn-detail").click(function (){
            console.log('Klik Disini');
            var vId = $(this).val();
            console.log(vId);

            $.ajax({
                url: '/D_Penjadwalan_Undangan/detail/' + vId,
                type: 'get',
                dataType: 'html',
                success: function (hasil) {
                    $('#undangandmodalbody').html(hasil);
                    $('#modalud').modal('show');
                }
            });
        });

        $("#btn-delete").click(function () {
            console.log('Klik Disini');
            var vId = $(this).val();
            console.log(vId);

            $.ajax({
                url: '/D_Penjadwalan_Undangan/hapus/' + vId,
                type: 'get',
                dataType: 'html',
                success: function (hasil) {
                    $('.modalu-delete').html(hasil);
                    $("#deletemodalu").modal('show');
                }
            });
        });
    </script>

</th:block>


</html>