<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:with="http://www.thymeleaf.org/extras/with" with:title="'B210'">

<th:block layout:fragment="content">
    <form id="form_employee_training" method="POST" th:object="${obj_employee_training}"
        th:action="@{/employee_training/is_persetujuan}">

        <!-- Insert Training Id -->
        <input type="hidden" th:field="*{trainingId}" id="id_training">

        <!-- Insert Create ON Secara Paksa -->
        <input type="hidden" th:field="*{createdOn}" id="date_created_on">

        <!-- Insert Modified By Secara Paksa -->
        <input type="hidden" th:field="*{modifiedBy}">

        <!-- Insert Modified Created By Secara Paksa -->
        <input type="hidden" th:field="*{createdBy}">

        <!-- Table Untuk Modal Selesai Pelatihan Karyawan -->
        <table class="table no-border" cellspacing="0" cellpadding="5">
            <tr align="center">
                <br>
                <td rowspan="2">
                    <i class="fa fa-question-circle" style="font-size: 100px;"></i>
                </td>
            </tr>

            <tr align="center">
                <td>
                    <br>
                    <p>Anda yakin ingin menyetujui training</p>
                    <p id="training_get"></p>
                </td>
            </tr>

            <tr align="right">
                <td> </td>
                <td colspan="2" class="btn-group">
                    <input class="btn btn-warning" type="button" style="width:100px;" data-dismiss="modal"
                        value="Batal" />
                    <input class="btn btn-primary" type="submit" style="width:100px;" value="Simpan" />
                </td>
            </tr>
        </table>

        <table class="table no-border" cellpadding="5" cellspacing="0" hidden>
            <tr>
                <td colspan="2">Karyawan *
                    <select style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"
                        th:field="*{employeeId}" class="form-control" required>
                        <option value="">-Pilih</option>
                        <option th:each="item:${list_karyawan}" th:value="${item.Id}"
                            th:text="${item.m_Biodata.fullName}"></option>
                    </select>
                </td>
                <td colspan="2">Pelatihan *
                    <select style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"
                        th:field="*{trainingId}" class="form-control" required>
                        <option value="">-Pilih</option>
                        <option th:each="item:${list_pelatihan}" th:value="${item.Id}" th:text="${item.Name}" id="">
                        </option>
                        </option>
                    </select>
                </td>
            </tr>

            <tr>
                <td colspan="2">Penyelenggara
                    <select style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"
                        th:field="*{trainingOrganizerId}" class="form-control">
                        <option value="">-Pilih</option>
                        <option th:each="item:${list_penyelenggara}" th:value="${item.Id}" th:text="${item.Name}" id="">
                        </option>
                    </select>
                </td>
                <td colspan="2">Tgl. Pelatihan
                    <!-- Id Employee Training Auto Increment -->
                    <input type="hidden" th:field="*{Id}">
                    <input style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"
                        th:field="*{trainingDate}" type="text" class="form-control" id="date-trainingDate">
                </td>
            </tr>

            <tr>
                <td colspan="2">Jenis Pelatihan
                    <select style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"
                        th:field="*{trainingTypeId}" class="form-control">
                        <option value="">-Pilih</option>
                        <option th:each="item:${list_jenis_pelatihan}" th:value="${item.Id}" th:text="${item.Name}"
                            id=""></option>
                    </select>
                </td>
                <td colspan="2">Jenis Sertifikasi
                    <select style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"
                        th:field="*{certificationTypeId}" class="form-control">
                        <option value="">-Pilih</option>
                        <option th:each="item:${list_jenis_sertifikasi}" th:value="${item.Id}" th:text="${item.Name}"
                            id=""></option>
                    </select>
                </td>
            </tr>

            <tr align="right">
                <td class="btn-group">
                    <input type="button" value="Batal" class="btn btn-warning" data-dismiss="modal">
                    <input class="btn btn-primary" type="submit" value="Simpan">
                </td>
            </tr>
        </table>
    </form>

    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script th:src="@{/js/jquery.validate.min.js}"></script>

    <script>
        $(function () {
            $("#date-trainingDate").datepicker();
        });

        $("#form_employee_training").validate();

        var dobId = $("#date-trainingDate").val();

        if (dobId == '') {
        } else {
            var cutDob = dobId.split(" ");
            cutDob = cutDob[0].split("-");
            $("#date-trainingDate").val(cutDob[0] + "/" + cutDob[1] + "/" + cutDob[2]);
        }
    </script>

    <!-- JQUERY Tanggal CreateOn -->
    <script>
        var dobId = $("#date_created_on").val();

        if (dobId == '') {
        } else {
            var cutDob = dobId.split(" ");
            cutDob = cutDob[0].split("-");
            $("#date_created_on").val(cutDob[0] + "/" + cutDob[1] + "/" + cutDob[2]);
        }
    </script>

</th:block>

</html>