<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:with="http://www.thymeleaf.org/extras/with" with:title="'B210'">

<th:block layout:fragment="content">

    <tr align="center" th:each="item:${list_training}" th:value="${item.Id}">
        <td>
            <h3 th:utext="${'&lt;strong&gt;'+item.Name+' ?'+'&lt;/strong&gt;'}"></h3>
        </td>
    </tr>

</th:block>

</html>