<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:with="http://www.thymeleaf.org/extras/with" layout:decorate="~{layout}" with:title="'B210'">


<!-- View By ID -->
<th:block layout:fragment="content">
    <div id="list_employee_training">
        <table cellspacing="pixels">
            <tr>
                <td>
                    <input id="input_nama" type="text" placeholder="Cari karyawan"
                        style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"
                        required>
                </td>
                <td>
                    <select id="input_pelatihan" required
                        style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;">
                        <option value="">Cari Pelatihan</option>
                        <option th:each="item:${list_pelatihan}" th:value="${item.Id}" th:text="${item.Name}">
                        </option>
                    </select>
                </td>

                <td>
                    <button type="button" class="btn  btn-primary btn-round"
                        style="background-color:rgb(0, 0, 102); color:white;" id="btn_search"><strong><i
                                class="fa fa-search"></i></strong>
                    </button>

                </td>

                <td>
                    <button type="button" class="btn  btn-primary btn-round"
                        style="background-color:rgb(0, 0, 102); color:white;" id="btn_sort"><strong><i
                                class="fa fa-sort"></i></strong>
                    </button>

                    <button type="button" class="btn  btn-primary btn-round"
                        style="background-color:rgb(0, 0, 102); color:white;" id="btn_paging"><strong><i
                                class="fa fa-bars"></i></strong>
                    </button>

                    <button type="button" class="btn  btn-primary btn-round"
                        style="background-color:rgb(0, 0, 102); color:white;" id="btn_add"><strong><i
                                class="fa fa-plus"></i></strong>
                    </button>
                </td>

            </tr>
        </table>

        <!-- Isi View -->
        <div id="view_employee">
            <table class="table" id="myTable">
                <thead>
                    <tr style="border-top: 4px solid rgb(0,0,102);border-bottom: 4px solid rgb(0,0,102);">
                        <th class="text-center">KARYAWAN</th>
                        <th class="text-center">TRAINING</th>
                        <th class="text-center">TGL. TRAINING</th>
                        <th class="text-center">PENYELENGGARA</th>
                        <th class="text-center">STATUS</th>
                        <th class="text-center">#</th>
                    </tr>
                </thead>

                <tbody class="text-center" id="list_user">
                    <tr th:each="item, key : ${listemployee}">
                        <td th:text="${item.m_Employee.m_Biodata.fullName}"></td>
                        <td th:text="${item.m_Training.Name}"></td>
                        <td th:text="${#dates.format(item.trainingDate, 'dd-MM-yyyy')}"></td>
                        <td th:text="${item.m_Training_Organizer.Name}"></td>
                        <td th:text="${item.status}" id="status-data"></td>
                        <td>
                            <li class="dropdown ">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-expanded="false">
                                    <button
                                        style="background-color:rgb(0, 0, 102); color:white;;border-radius: 4px; width: 100%; padding: 5px 10px;"
                                        type="button">MORE</button>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="">
                                        <button type="button" id="btn_edit" th:value="${item.Id}"
                                            style="background-color: Transparent; background-repeat:no-repeat;
                                                        border: none; cursor:pointer;overflow: hidden;outline:none">Ubah</button>
                                    </li>
                                    <li class="">
                                        <button type="button" id="btn_persetujuan" th:value="${item.Id}"
                                            style="background-color: Transparent; background-repeat:no-repeat;
                                                        border: none; cursor:pointer;overflow: hidden;outline:none">Persetujuan</button>
                                    </li>
                                    <li class="">
                                        <button type="button" id="btn_selesai" th:value="${item.Id}"
                                            style="background-color: Transparent; background-repeat:no-repeat;
                                                            border: none; cursor:pointer;overflow: hidden;outline:none">Selesai</button>
                                    </li>
                                    <li class="">
                                        <button type="button" id="btn_delete" th:value="${item.Id}"
                                            style="background-color: Transparent; background-repeat:no-repeat;
                                                            border: none; cursor:pointer;overflow: hidden;outline:none">Hapus</button>
                                    </li>
                                </ul>
                            </li>
                        </td>
                    </tr>

                </tbody>
            </table>

            <!-- Modal Tambah Pelatihan Karyawan -->
            <div class="modal fade" id="add_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content" style="border-radius:10px;border: 2px solid rgb(0,0,102);">
                        <div class="modal-header"
                            style="border-top-left-radius:8px;border-top-right-radius:8px;background-color:rgb(0,0,102); color:white;">
                            <table>
                                <tr>
                                    <td>
                                        <h5 class="modal-title" style="color:white">Tambah ?</h5>
                                    </td>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </tr>
                            </table>
                        </div>
                        <div id="modal_body_pelatihan_karyawan">

                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Ubah Pelatihan Karyawan  -->
            <div class="modal fade" id="edit_modal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content" style="border-radius:10px;border: 2px solid rgb(0,0,102);">
                        <div class="modal-header"
                            style="border-top-left-radius:8px;border-top-right-radius:8px;background-color:rgb(0,0,102); color:white;">

                            <table>
                                <tr>
                                    <td>
                                        <h5 class="modal-title" style="color:white">Ubah ?</h5>
                                    </td>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </tr>
                            </table>
                        </div>
                        <div id="modal_body_edit_pelatihan_karyawan">

                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Hapus Pelatihan Karyawan  -->
            <div class="modal fade" id="delete_modal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" style="border-radius:10px;border: 2px solid rgb(204,0,0);">
                        <div class="modal-header"
                            style="border-top-left-radius:8px;border-top-right-radius:8px; background-color:rgb(211,55,36);">
                            <table>
                                <tr>
                                    <td>
                                        <h5 class="modal-title" style="color:white">Hapus ?</h5>
                                    </td>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </tr>
                            </table>
                        </div>
                        <div id="modal_body_hapus_pelatihan_karyawan">

                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Persetujuan Pelatihan Karyawan  -->
            <div class="modal fade" id="persetujuan_modal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content" style="border-radius:10px;border: 2px solid rgb(0,0,102);">
                        <div class="modal-header"
                            style="border-top-left-radius:8px;border-top-right-radius:8px;background-color:rgb(0,0,102); color:white;">

                            <table>
                                <tr>
                                    <td>
                                        <h5 class="modal-title" style="color:white">Persetujuan ?</h5>
                                    </td>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </tr>
                            </table>
                        </div>
                        <div id="modal_body_persetujuan_pelatihan_karyawan">

                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Selesai Pelatihan Karyawan  -->
            <div class="modal fade" id="selesai_modal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content" style="border-radius:10px;border: 2px solid rgb(0,0,102);">
                        <div class="modal-header"
                            style="border-top-left-radius:8px;border-top-right-radius:8px;background-color:rgb(0,0,102); color:white;">

                            <table>
                                <tr>
                                    <td>
                                        <h5 class="modal-title" style="color:white">Selesai ?</h5>
                                    </td>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </tr>
                            </table>
                        </div>
                        <div id="modal_body_selesai_pelatihan_karyawan">

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</th:block>

<th:block layout:fragment="jsfahri">

    <!-- Script Untuk Name dan Pelatihan -->
    <script>
        // Button Cari Nama dan Pelatihan
        $('#btn_search').click(function () {
            var dataNama = $('#input_nama').val();
            var dataPelatihan = $('#input_pelatihan').val();

            console.log(dataNama + dataPelatihan);

            $.ajax(
                {
                    url: '/employee_training/view/' + dataNama + '/' + dataPelatihan,
                    type: 'get',
                    dataType: "html",
                    success: function (result) {
                        window.location.href = '/employee_training/view/' + dataNama + '/' + dataPelatihan;
                    }
                });
        });

    </script>

    <!-- Script Untuk CRUD -->
    <script>
        // Tambah Pelatihan Karyawan
        $('#btn_add').click(function () {
            $.ajax(
                {
                    url: '/employee_training/form',
                    dataType: "html",
                    success: function (data) {
                        $('#modal_body_pelatihan_karyawan').html(data);
                        $('#add_modal').modal('show');

                        $('#btn-jenis-pelatihan').click(function () {
                            var c1 = $("#click_karyawan").val();

                            var conceptTraining = $('#click_pelatihan').find(":selected").val();
                            var conceptTrainingName = $('#click_pelatihan').find(":selected").text();

                            var dats = $("#date-trainingDate").val().toString().split("/");
                            dataInput = dats[2] + "-" + dats[0] + "-" + dats[1];

                            $.ajax({
                                url: '/employee_training/validate/' + c1,
                                type: 'get',

                                success: function (data) {
                                    var nameTraining = data.trainingId;

                                    // var c = Date().toString().split(" ");

                                    var c = data.trainingDate.toString().split("-");
                                    // dateDB = c[2] + "-" + c[0] + "-" + c[1] + "T" + c[3] + ".000+0700"; 

                                    console.log("Tanggal Input = " + dataInput)
                                    console.log("Tanggal DB = " + c)

                                    console.log(conceptTraining)
                                    console.log(nameTraining)

                                    // if (dateDB == dataInput && nameTraining == conceptTraining) {
                                    //     alert('Anda Telah Mengikuti Training ' + conceptTrainingName + ' Pada Tanggal ' + dateDB);
                                    //     window.location.href = '/employee_training/view';
                                    // }
                                }
                            })
                        });
                    },
                    error: function (e) {
                        alert('Error: ' + e);
                    }
                });
        });

        //Ubah Pelatihan Karyawan
        $("#list_employee_training").on('click', '#btn_edit', function () {
            var vId = $(this).val();

            $.ajax({
                url: '/employee_training/edit/' + vId,
                type: 'get',
                dataType: 'html',
                success: function (hasil) {
                    $('#modal_body_edit_pelatihan_karyawan').html(hasil);
                    $("#edit_modal").modal('show');
                }
            });
        });

        // Hapus
        $("#list_employee_training").on('click', '#btn_delete', function () {
            var vId = $(this).val();

            $.ajax({
                url: '/employee_training/hapus/' + vId,
                type: 'get',
                dataType: 'html',
                success: function (hasil) {
                    $('#modal_body_hapus_pelatihan_karyawan').html(hasil);
                    $("#delete_modal").modal('show');

                    var valTraining = $('#id_training').val()
                    console.log(valTraining)

                    $.ajax({
                        url: '/employee_training/list_training/' + valTraining,
                        type: 'get',
                        dataType: 'html',
                        success: function (result) {
                            document.getElementById("training_get").innerHTML = result
                        }
                    })

                },
                error: function (e) {
                    alert('Error: ' + e);
                }
            });
        });

        // Persetujuan
        $("#list_employee_training").on('click', '#btn_persetujuan', function () {
            var vId = $(this).val();

            var dataStatus = $('#status-data').text();
            console.log(dataStatus);


            $.ajax({
                url: '/employee_training/persetujuan/' + vId,
                type: 'get',
                dataType: 'html',
                success: function (hasil) {
                    $('#modal_body_persetujuan_pelatihan_karyawan').html(hasil);
                    $("#persetujuan_modal").modal('show');


                    var valTraining = $('#id_training').val()
                    console.log(valTraining)

                    $.ajax({
                        url: '/employee_training/list_training/' + valTraining,
                        type: 'get',
                        dataType: 'html',
                        success: function (result) {
                            document.getElementById("training_get").innerHTML = result
                        }
                    })

                },
                error: function (e) {
                    alert('Error: ' + e);
                }
            });
        });

        //Selesai
        $("#list_employee_training").on('click', '#btn_selesai', function () {
            var vId = $(this).val();

            $.ajax({
                url: '/employee_training/selesai/' + vId,
                type: 'get',
                dataType: 'html',
                success: function (hasil) {
                    $('#modal_body_selesai_pelatihan_karyawan').html(hasil);
                    $("#selesai_modal").modal('show');

                    var valTraining = $('#id_training').val()
                    console.log(valTraining)

                    $.ajax({
                        url: '/employee_training/list_training/' + valTraining,
                        type: 'get',
                        dataType: 'html',
                        success: function (result) {
                            document.getElementById("training_get").innerHTML = result
                        }
                    })

                },
                error: function (e) {
                    alert('Error: ' + e);
                }
            });
        });
    </script>
</th:block>

</html>