<form th:action="@{/D_Sumberloker/save}" method="post" th:object="${listbs}">
    <table class="table" style="border-spacing:20px; border:none;">
            <tr>
                <td ><input type="hidden" id="slkid" th:field="*{Id}">
                    <input type="hidden" id="biodid" th:field="*{biodataId}" th:value="${biodidslk}">
                </td>
            </tr>
            <tr>
                <td>Sumber*<br>
                    <select onclick="select()" id="sumber" style="border: 2px solid rgb(127,127,178);border-radius: 4px; width: 100%; padding: 5px 10px;" th:field="*{vacancySource}" required>
                        <option value="awal">- Pilih -</option>
                        <option th:value="event">Career Event</option>
                        <option th:value="career">Career Center</option>
                        <option th:value="referrer">Referrer</option>
                        <option th:value="sumberlain">sumberlain</option>
                    </select>
                </td>
                <td>Tipe Pelamar*<br>
                    <select id="pelamar" style="border: 2px solid rgb(127,127,178);border-radius: 4px; width: 100%; padding: 5px 10px;" th:field="*{candidateType}" required>
                        <option value="">- Pilih -</option>
                        <option  th:value="senior">Senior</option>
                        <option th:value="junior">Junior</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">Nama Event*<br><input th:field="*{eventName}"id="ne" type="text" style="border: 2px solid rgb(127,127,178);border-radius: 4px; width: 100%; padding: 5px 10px;" disabled required></td>
            </tr>
            <tr>
                <td colspan="2">Nama Karir Center*<br><input th:field="*{careerCenterName}" id="nk" type="text" style="border: 2px solid rgb(127,127,178);border-radius: 4px; width: 100%; padding: 5px 10px;" disabled required></td>
            </tr>
            <tr>
                <td colspan="2">Referrer Name*<br><input th:field="*{referrerName}" id="rn" type="text" style="border: 2px solid rgb(127,127,178);border-radius: 4px; width: 100%; padding: 5px 10px;" disabled required></td>

            </tr>
            <tr>
                <td colspan="2">Referrer Mobile Number*<br><input th:field="*{referrerPhone}" id="rm" type="text" style="border: 2px solid rgb(127,127,178);border-radius: 4px; width: 100%; padding: 5px 10px;" disabled required></td>
            </tr>
            <tr>
                <td colspan="2">Referrer Email*<br><input th:field="*{referrerEmail}" id="re" type="text" style="border: 2px solid rgb(127,127,178);border-radius: 4px; width: 100%; padding: 5px 10px;" disabled required></td>
            </tr>
            <tr>
                <td colspan="2">Sumber Lain*<br><input th:field="*{otherSource}" id="lain" type="text" style="border: 2px solid rgb(127,127,178);border-radius: 4px; width: 100%; padding: 5px 10px;" disabled required></td>
            </tr>
            <tr>
                <td>Penghasil Terakhir (IDR)<br><input th:field="*{lastIncome}" id="lastIncome" type="text" style="border: 2px solid rgb(127,127,178);border-radius: 4px; width: 100%; padding: 5px 10px;"></td>
                <td>Tgl. Lamaran Kerja (yyyy-mm-dd)<br><input th:field="*{applyDate}" id="applyDate" type="date" style="border: 2px solid rgb(127,127,178);border-radius: 4px; width: 100%; padding: 5px 10px;"></td>
            </tr>
            <tr align="right">
                <td> </td>
                <td colspan="2" class="btn-group" >
                    <button class="btn btn-warning" onclick="batalslk()" style="width:100px;">Batal</button>
                    <button class="btn btn-primary" id="submitslk" type="submit" style="width:100px;">Simpan</button>
                </td>
            </tr>

        </table>
</form>
<th:block layout:fragment="jsolif">
    <script>
        function batalslk() {
            console.log('click tombol sumberloker nih...');
            var v = $('#ambil-bio-id').val();
            $.ajax({
                url: '/D_Sumberloker/form/' + v,
                dataType: "html",
                success: function (hasil) {
                    $('#fragmentpelamar').html(hasil);
                },
                error: function (e) {
                    alert('Error: ' + e);
                }
            });
        }

        function select() {
            if(document.getElementById("sumber").value=="career") {
              document.getElementById("ne").disabled=true;
              document.getElementById("ne").value=null;
              document.getElementById("nk").disabled=false;
              document.getElementById("rn").disabled=true;
              document.getElementById("rn").value=null;
              document.getElementById("rm").disabled=true;
              document.getElementById("rm").value=null;
              document.getElementById("re").disabled=true;
              document.getElementById("re").value=null;
              document.getElementById("lain").disabled=true;
              document.getElementById("lain").value=null;
            }if(document.getElementById("sumber").value=="event") {
              document.getElementById("ne").disabled=false;
              document.getElementById("nk").disabled=true;
              document.getElementById("nk").value=null;
              document.getElementById("rn").disabled=true;
              document.getElementById("rn").value=null;
              document.getElementById("rm").disabled=true;
              document.getElementById("rm").value=null;
              document.getElementById("re").disabled=true;
              document.getElementById("re").value=null;
              document.getElementById("lain").disabled=true;
              document.getElementById("lain").value=null;
            }if(document.getElementById("sumber").value=="referrer") {
              document.getElementById("ne").disabled=true;
              document.getElementById("ne").value=null;
              document.getElementById("nk").disabled=true;
              document.getElementById("nk").value=null;
              document.getElementById("rn").disabled=false;
              document.getElementById("rm").disabled=false;
              document.getElementById("re").disabled=false;
              document.getElementById("lain").disabled=true;
              document.getElementById("lain").value=null;
            }if(document.getElementById("sumber").value=="sumberlain") {
              document.getElementById("ne").disabled=true;
              document.getElementById("ne").value=null;
              document.getElementById("nk").disabled=true;
              document.getElementById("nk").value=null;
              document.getElementById("rn").disabled=true;
              document.getElementById("rn").value=null;
              document.getElementById("rm").disabled=true;
              document.getElementById("rm").value=null;
              document.getElementById("re").disabled=true;
              document.getElementById("re").value=null;
              document.getElementById("lain").disabled=false;
            }if(document.getElementById("sumber").value=="awal") {
              document.getElementById("ne").disabled=true;
              document.getElementById("nk").disabled=true;
              document.getElementById("rn").disabled=true;
              document.getElementById("rm").disabled=true;
              document.getElementById("re").disabled=true;
              document.getElementById("lain").disabled=true;
            }
        }
    </script>

</th:block>