<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <th:block layout:fragment="content">
        <body>
        <div style="padding: 25px 15px 0px 15px;" th:each="item: ${formubahjadwal}">
            <table class="table table-striped table-bordered" cellpadding="5" cellspacing="0">
                <tr>
                    <td>
                        <input type="hidden" th:value="${item.m_undangan.id}" id="idUnd">
                        <input type="hidden" th:value="${item.id}" id="idUndDetail">

                        <input type="hidden" th:value="${item.m_undangan.invitationDate}" id="date" placeholder="Tgl. Undangan *">
                        <input type="date" placeholder="Tgl. Undangan *" id="newdate" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;">

                        <input id="kodeUndangan" th:value="${item.m_undangan.invitationCode}" class="form-control" type="hidden">
                    </td>
                    <td>
                        <input type="hidden" th:value="${item.m_undangan.time}" id="time" placeholder="Jam*">
                        <input type="time" placeholder="Jam*" id="newtime" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;">
                    </td>
                </tr>

                <tr>
                    <td>
                        <input id="pelamar" th:object="${formubahjadwal}" th:value="*{m_viewPelamar.fullName}" type="text" readonly class="form-control" placeholder="Nama Pelamar" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;">
                    </td>
                    <td>
                        <input type="hidden" th:value="${item.m_undangan.scheduleTypeId}" id="ST">
                        <select id="newST" type="text" class="form-control" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;">
                            <option th:each="item:${listst}" th:value="${item.id}" th:text="${item.name}"></option>
                        </select>
                    </td>
                </tr>

                <tr>


                    <input type="hidden" th:value="${item.m_undangan.ro}" id="ro">
                    <td>
                        <select id="newro" class="form-control" type="text" placeholder="RO" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;">
                            <option th:each="item : ${listro}" th:value="${item.id}" th:text="${item.roName}"></option>
                        </select>
                    </td>

                    <input type="hidden" th:value="${item.m_undangan.tro}" id="tro">
                    <td>
                        <select id="newtro" class="form-control" type="text" placeholder="TRO" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;">
                            <option th:each="item : ${listtro}" th:value="${item.id}" th:text="${item.troName}"></option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>
                        <input id="newotherRoTro" th:value="${item.m_undangan.otherRoTro}" type="text" class="form-control" placeholder="RO / TRO Lain" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;">
                    </td>
                    <td>
                        <input id="newlocation" th:value="${item.m_undangan.location}" type="text" class="form-control" placeholder="Lokasi" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;">
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <textarea id="catatan" placeholder="Catatan" type="text" class="form-control" th:text="${item.notes}" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;">

                        </textarea>
                    </td>
                </tr>

                <tr align="right">
                    <td>

                    </td>
                    <td class="btn btn-group">
                        <button class="btn btn-warning" style="width:130px" data-dismiss="modal">Batal</button>
                        <button class="btn btn-primary" style="width:130px" onclick="validateRSCH();">Simpan & Kirim</button>
                    </td>
                </tr>
            </table>
        </div>
        </body>
    </th:block>

    <!--Untuk validasi time dan date agar bisa passing ke db maupun tampilan-->
    <script>
        $(document).ready(pindahintime(), sendEmailRSCH());

        function validateRSCH(){
            var dateval = $('#newdate').val();
            var timeval = $('#newtime').val();
            console.log(dateval);
            console.log(timeval);

            hitungdata();
        }

        function pindahintime(){
            console.log($('#time').val());
            var time;
            if($('#date').val()==null || $('#date').val()==""){
                $('#newdate').val($('#date').val());
            }else{
                var tahunDuluan = $('#date').val().toString().split(" ")[0];
                $('#newdate').val(tahunDuluan);
            }

            if($('#time').val().split(".")[1]==null || $('#time').val().split(".")[1]==""){
                time = $('#time').val();
                console.log('bisa nih');
            }else{
                time = $('#time').val().split(".")[0]+':'+$('#time').val().split(".")[1];
                console.log('hmm gagal');
            }

            $('#newtime').val(time);
            console.log(time);
            $('#newro').val($('#ro').val());
            $('#newtro').val($('#tro').val());
            $('#newST').val($('#ST').val());

            console.log($('#ro').val());
            console.log($('#tro').val());
            console.log($('#ST').val());
        };

        function sendEmailRSCH() {
            $.ajax({
                url:'/D_Reschedule/getUndDetail/' + $('#idUndDetail').val(),
                type:'get',
                success:function(hasilDet){
                    console.log("Masuk tombol email");
                    $.ajax({
                        url:'/D_Reschedule/getUnd/' + hasilDet.undanganId,
                        type:'get',
                        success:function(hasil){
                            var nama = hasilDet.m_viewPelamar.fullName;
                            var alamat = hasil.location;
                            var a = hasil.invitationDate;
                            var date = a.toString().split("T")[0];
                            var jenis = hasil.m_schedule_type.name;

                            Email.send({
                                SecureToken: "692753ba-9291-43d4-bd96-4c7d57ceaf6b",
                                To: "oktaviansyah522@gmail.com",
                                From: "miniprojectbatch210213@gmail.com",
                                Subject: "Reschedule Undangan",
                                Body: "Selamat pagi "+nama+"! Kamu diundang kembali untuk "+jenis+" pada tanggal "+date+" dengan lokasi di "+alamat+". Harap datang tepat waktu. Terima kasih."
                            }).then(
                                message => alert("Permintaan ubah password diterima. Cek email anda untuk panduan mengubah password")
                            );
                            console.log('Kirim SUKSES!');
                        }
                    })
                }
            })
        };
    </script>

    <!--Fungsi buat edit, kalo count dari detail dengan id undangan > 1, buat jadwal baru trus edit undangan_detail. Tapi kalo = 1, jadi edit undangan aja-->
    <script>
        function hitungdata(){
            var idUndDetail = $('#idUndDetail').val();
            var id = $('#idUnd').val();
            $.ajax({
                url: '/D_Reschedule/getUndDetail/' + idUndDetail,
                type:'get',
                success:function(isian){
                    console.log(isian);
                    var undId = isian.undanganId;
                    $.ajax({
                        url:'/D_Reschedule/countdata/' + undId,
                        type:'get',
                        success:function(data){
                            if(data>1){
                                saveUndDetail(idUndDetail);
                            }else{
                                editUnd(id);
                            }
                        },
                        error:function(e){
                            console.log('Errornya : '+e);
                        }
                    })
                }
            })
        }
    </script>

    <!--Edit undangan (kasus kalo count < 1)-->
    <script>
        function editUnd(id){
            var c = Date().toString().split(" ");
            if(c[1]=="Jan"){c[1] = "1"}
            else if(c[1]=="Feb"){c[1] = "2"}
            else if(c[1]=="Mar"){c[1] = "3"}
            else if(c[1]=="Apr"){c[1] = "4"}
            else if(c[1]=="May"){c[1] = "5"}
            else if(c[1]=="Jun"){c[1] = "6"}
            else if(c[1]=="Jul"){c[1] = "7"}
            else if(c[1]=="Aug"){c[1] = "8"}
            else if(c[1]=="Sep"){c[1] = "9"}
            else if(c[1]=="Oct"){c[1] = "10"}
            else if(c[1]=="Nov"){c[1] = "11"}
            else if(c[1]=="Dec"){c[1] = "12"};
            var b = c[3]+"-"+c[1]+"-"+c[2]+"T"+c[4]+".000+0700";
            var idUnd = $('#idUnd').val();
            var date = $('#newdate').val().toString() + "T00:00:00.000+0700";
            var time = $('#newtime').val();

            $.ajax({
                url:'/D_Reschedule/getUndDetail/' + $('#idUndDetail').val(),
                type:'get',
                success:function(hasilgetUndDetailId){
                    $.ajax({
                        url:'/D_Reschedule/editUndDetail/' + $('#idUndDetail').val(),
                        type:'put',
                        data:'{"id": '+ hasilgetUndDetailId.id +','+
                            '"createdBy": '+ hasilgetUndDetailId.createdBy +','+
                            '"createdOn": "'+ hasilgetUndDetailId.createdOn +'",'+
                            '"modifiedBy": 1,'+
                            '"modifiedOn": "'+ b +'",'+
                            '"deletedBy": '+ hasilgetUndDetailId.deletedBy +','+
                            '"deletedOn": "'+ hasilgetUndDetailId.deletedOn +'",'+
                            '"undanganId": '+ hasilgetUndDetailId.undanganId +','+
                            '"biodataId": '+ hasilgetUndDetailId.biodataId +','+
                            '"notes": "'+ $('#catatan').val() +'",'+
                            '"delete": '+ hasilgetUndDetailId.delete +'}',
                        success:function(){
                            $.ajax({
                                url:'/D_Reschedule/getUnd/' + $('#idUnd').val(),
                                type:'get',
                                success:function(hasilgetUndId){
                                    $.ajax({
                                        url:'/D_Reschedule/editUnd/' + $('#idUndDetail').val(),
                                        type:'put',
                                        data:'{"id": '+ hasilgetUndDetailId.undanganId +','+
                                            '"createdBy": 1,'+
                                            '"createdOn": "'+ hasilgetUndId.createdOn +'",'+
                                            '"modifiedBy": 1,'+
                                            '"modifiedOn": "'+ b +'",'+
                                            '"deletedBy": null,'+
                                            '"deletedOn": null,'+
                                            '"scheduleTypeId": '+ $('#newST').val() +','+
                                            '"invitationDate": "'+ date +'",'+
                                            '"invitationCode": "'+ invCode +'",'+
                                            '"time": "'+ time +'",'+
                                            '"ro": '+ $('#newro').val() +','+
                                            '"tro": '+ $('#newtro').val() +','+
                                            '"otherRoTro": "'+ $('#newotherRoTro').val() +'",'+
                                            '"location": "'+ $('#newlocation').val() +'",'+
                                            '"status": 1,'+
                                            '"delete": false}',
                                        success:function(){
                                            location.reload(true);
                                        },
                                        dataType:'json',
                                        contentType:'application/json'
                                    })
                                }
                            })
                        },
                        dataType:'json',
                        contentType:'application/json'
                    })
                }
            })
        }
    </script>

    <!--Tambah undangan (kasus kalo count > 1)-->
    <script >
        function saveUndDetail(idUnd){
            var c = Date().toString().split(" ");
            if(c[1]=="Jan"){c[1] = "1"}
            else if(c[1]=="Feb"){c[1] = "2"}
            else if(c[1]=="Mar"){c[1] = "3"}
            else if(c[1]=="Apr"){c[1] = "4"}
            else if(c[1]=="May"){c[1] = "5"}
            else if(c[1]=="Jun"){c[1] = "6"}
            else if(c[1]=="Jul"){c[1] = "7"}
            else if(c[1]=="Aug"){c[1] = "8"}
            else if(c[1]=="Sep"){c[1] = "9"}
            else if(c[1]=="Oct"){c[1] = "10"}
            else if(c[1]=="Nov"){c[1] = "11"}
            else if(c[1]=="Dec"){c[1] = "12"};
            var b = c[3]+"-"+c[1]+"-"+c[2]+"T"+c[4]+".000+0700";
            var date = $('#newdate').val().toString() + "T00:00:00.000+0700";
            var time = $('#newtime').val();

            $.ajax({
                url:'/D_Reschedule/getUndDetail/' + idUnd,
                type:'get',
                success:function(hasil){
                    console.log('{"id": '+ hasil.id +', "createdBy": 1, "createdOn": "'+ b +'", "modifiedBy": '+ hasil.modifiedBy +', "modifiedOn": "'+ hasil.modifiedOn +'", "deletedBy": null, "deletedOn": null,'+
                              '"biodataId": ' + hasil.biodataId +', "undanganId": ' + hasil.undanganId +', "notes": "'+ $('#catatan').val() +'",'+
                              '"delete": false}');
                    $.ajax({
                        url:'/D_Reschedule/saveUnd',
                        type:'post',
                        data:'{"createdBy": 1, "createdOn": "'+b+'", "modifiedBy": null, "modifiedOn": null, "deletedBy": null, "deletedOn": null,'+
                              '"time": "'+time+'", "ro": '+$('#newro').val()+', "invitationCode": "'+ invCode +'", "invitationDate": "'+ date +'",'+
                              '"tro": '+$('#newtro').val()+', "scheduleTypeId": '+$('#newST').val()+', "location": "'+$('#newlocation').val()+'",'+
                              '"otherRoTro": "'+$('#newotherRoTro').val()+'",'+
                              '"status": null, "delete": false}',
                        success: function(){
                            $.ajax({
                                url: '/D_Reschedule/maxid/',
                                type: 'get',
                                success: function(data) {
                                    console.log('{"id": '+hasil.id+',"createdBy": 1, "createdOn": "'+hasil.createdOn+'",'+
                                          '"modifiedBy": 1, "modifiedOn": "'+b+'", "deletedBy": '+hasil.deletedBy+', "deletedOn": '+hasil.deletedOn+','+
                                          '"undanganId": '+data+', "biodataId": '+hasil.biodataId+', "delete": false}');
                                    $.ajax({
                                        url: '/D_Reschedule/editUndDetail/' + idUnd,
                                        type: 'put',
                                        data: '{"id": '+hasil.id+',"createdBy": 1, "createdOn": "'+hasil.createdOn+'",'+
                                              '"modifiedBy": 1, "modifiedOn": "'+b+'", "deletedBy": '+hasil.deletedBy+', "deletedOn": '+hasil.deletedOn+','+
                                              '"undanganId": '+data+', "biodataId": '+hasil.biodataId+', "delete": false}',
                                        success:function(){
                                            sendEmailRSCH();
                                            location.reload(true);
                                        },
                                        dataType:'json',
                                        contentType:'application/json'
                                    })
                                },
                            });
                        },
                        dataType:'json',
                        contentType:'application/json'
                    })
                }
            })
        }
    </script>

    <!--Kirim Email-->
    <script>
        function sendEmailRSCH() {
            $.ajax({
                url:'/D_Reschedule/getUndDetail/' + $('#idUndDetail').val(),
                type:'get',
                success:function(hasilDet){
                    console.log("Masuk tombol email");
                    $.ajax({
                        url:'/D_Reschedule/getUnd/' + hasilDet.undanganId,
                        type:'get',
                        success:function(hasil){
                            var nama = hasilDet.m_viewPelamar.fullName;
                            var alamat = hasil.location;
                            var a = hasil.invitationDate;
                            var date = a.toString().split("T")[0];
                            var jenis = hasil.m_schedule_type.name;

                            Email.send({
                                SecureToken: "692753ba-9291-43d4-bd96-4c7d57ceaf6b",
                                To: "oktaviansyah522@gmail.com",
                                From: "miniprojectbatch210213@gmail.com",
                                Subject: "Reschedule Undangan",
                                Body: "Selamat pagi! "+nama+", kamu diundang kembali untuk "+jenis+" pada tanggal "+date+" dengan lokasi di"+alamat+". Harap datang tepat waktu. Terima kasih."
                            }).then(
                                message => alert("Permintaan ubah password diterima. Cek email anda untuk panduan mengubah password")
                            );
                            console.log('Kirim SUKSES!');
                        }
                    })
                }
            })
        }
    </script>

    <!--Undangan Code bertambah-->
    <script>
        var invCode = "UD000";
        var idUndInvCode = $('#idUnd').val();

        if ((idUndInvCode > 0) && (idUndInvCode < 10)){
            invCode = invCode + "00" + idUndInvCode.toString();
        } else if ((idUndInvCode >= 10) && (idUndInvCode < 100)){
            invCode = invCode + "0" + idUndInvCode.toString();
        } else if ((idUndInvCode >= 100) && (idUndInvCode < 1000)){
            invCode += idUndInvCode.toString();
        }
    </script>

</html>