<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with" layout:decorate="~{layout}" with:title="'B210'">

<th:block layout:fragment="content">
    <div>
        <div>
            <h3 style="border-bottom: 3px solid rgb(0,0,102);">Jadwalkan Ulang</h3>
        </div>

        <div>
            <input id="myInput" type="text" placeholder="Nama Pelamar"
                   style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 50%; padding: 5px 10px;" required>
            <button type="button" class="btn  btn-primary btn-round" style="background-color:rgb(0, 0, 102); color:white"
                    id="caributton"><strong>Cari</strong></button>
            <button type="button" class="btn  btn-primary btn-round" style="background-color:rgb(0, 0, 102); color:white"
                    onclick="document.getElementById('myInput').value = ''"><strong>Reset</strong></button>
            <div><h5 id="warning"></h5></div>
        </div>
        <div align="right">
            <button type="button" class="btn  btn-primary btn-round" style="background-color:rgb(0, 0, 102); color:white"
                    onclick="sortTable()"><strong>Sort</strong></button>
        </div>
    </div>
    <div id="listBio">
        <div id="listpel">
            <table class="table table-striped" id="myTable">
                <tr th:each="item : ${listjadwalulang}">
                    <td th:text="${item.m_undangan.invitationCode}"></td>
                    <td th:text="${item.m_viewPelamar.fullName}"></td>
                    <td class="invDate" th:text="${item.m_undangan.invitationDate}"></td>
                    <td th:text="${item.m_undangan.time}"></td>
                    <td>
                        <button id="btnubahjadwal" th:value="${item.Id}" style="border:0;background: none;color: inherit;border: none;padding: 0;font: inherit;cursor: pointer;outline: inherit;"
                                type="button"><span class="fa fa-edit"></span></button>
                    </td>
                </tr>
            </table>
        </div>
        <!--Modal Full Page-->
        <div class="modal fade" id="tokenmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document" style="width: 300px;
                    height: 100px;">
                <div class="modal-content"  style="border-radius:10px;border: 2px solid rgb(0,0,102);">
                    <div class="modal-header"  style="border-top-left-radius:8px;border-top-right-radius:8px;background-color:rgb(0,0,102); color:white;">
                        <h5 class="modal-title" id="exampleModalLongTitle" style="font-size:25"><strong>Kirim Token
                        </strong></h5>
                    </div>
                    <div class="modal-body" style="overflow:auto" id="modalbodytoken">
                        Atur kadaluarsa token <input type="date" class="form-control" style="border: 2px solid red;
                               border-radius: 4px;">
                        <br>
                        <div align="right">
                            <input type="button" value="Batal" class="btn btn-warning" data-dismiss="modal">
                            <input id="submit-keluarga" class="btn btn-primary" type="submit" value="Kirim">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Modal Full Page-->
        <div class="modal fade" id="detailmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document" style="height:relative;width:90%">
                <div class="modal-content"  style="border-radius:10px;border: 2px solid rgb(0,0,102);">
                    <div class="modal-header"  style="border-top-left-radius:8px;border-top-right-radius:8px;background-color:rgb(0,0,102); color:white;">
                        <h5 class="modal-title" id="exampleModalLongTitle" style="font-size:25"><strong>Detail
                            Pelamar</strong></h5>
                    </div>
                    <div class="modal-body" style="overflow:auto" id="modalbodyfull">
                        <input type="hidden" id="ambil-bio-id">
                        <table>
                            <td nowrap="nowrap" valign="top" style="width:20%; word-wrap: break-word;padding-right:3%;">
                                <ul class="list-group">
                                    <li><button id="profil" class="list-group-item"> Profil </button></li>
                                    <li><a href="/users" class="list-group-item"> Biodata </a></li>
                                    <li><a href="/supplier" class="list-group-item"> Pengalaman Kerja</a></li>
                                    <li><button id="pendidikan" class="list-group-item"> Pendidikan </button></li>
                                    <li><a href="/supplier" class="list-group-item"> Pelatihan </a></li>
                                    <li><button id="sertifikasi" class="list-group-item"> Sertifikasi </button></li>
                                    <li><a href="/product" class="list-group-item"> Sumber Lowongan Kerja </a></li>
                                    <li><button id="organisasi" class="list-group-item"> Organisasi </button></li>
                                    <li><button id="keluarga" class="list-group-item"> Keluarga </button></li>
                                    <li><button id="keahlian" class="list-group-item"> Keahlian </button></li>
                                    <li><button id="lainlain" class="list-group-item"> Lain-lain </button></li>
                                    <li><button id="dokumen" class="list-group-item"> Dokumen </button></li>
                                    <li><a href="/product" class="list-group-item"> Catatan </a></li>
                                    <li><a href="/product" class="list-group-item"> Aktivasi Akun </a></li>
                                    <li><a href="/product" class="list-group-item"> Lihat Tes </a></li>
                                </ul>
                            </td>
                            <td valign="top">
                                <div id="fragmentpelamar"></div>
                            </td>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!--Modal Edit Undangan-->
        <div class="modal fade" id="modaleditreschedule" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" style="border-radius:10px;border: 2px solid rgb(0,0,102);">
                    <div class="modal-header" style="border-top-left-radius:8px;border-top-right-radius:8px;background-color:rgb(0,0,102); color:white;">
                        <table>
                            <tr>
                                <td>
                                    <h5 class="modal-title" style="color:white">Jadwalkan Ulang</h5>
                                </td>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </tr>
                        </table>
                    </div>
                    <div id="modal-body-jadwal-ulang">

                    </div>
                </div>
            </div>
        </div>


        <!--Modal Lupas-->
        <div class="modal fade" id="modal-lupas" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" style="border-radius:10px;border: 2px solid rgb(0,0,102);">
                    <div class="modal-header" style="border-top-left-radius:8px;border-top-right-radius:8px;background-color:rgb(0,0,102); color:white;">
                        <table>
                            <tr>
                                <td>
                                    <h5 class="modal-title" style="color:white">Masukkan email terdaftar</h5>
                                </td>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </tr>
                        </table>
                    </div>
                    <div id="modal-body-lupas">

                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
</th:block>

<th:block layout:fragment="jsokta">

    <!--Script buka modal lupas-->
    <script>
        function kirimwoosh() {
            console.log('Klik Tombol Lupa Password');

            $.ajax({
                url:'/D_Lupas/lupas/',
                type:'get',
                dataType:'html',
                success:function(hasil){
                    $('#modal-body-lupas').html(hasil);
                    $("#modal-lupas").modal('show');
                }
            });
        }
    </script>

    <!--Normalin tampilan invitationDate jadi tanpa jam-->
    <script>
        $(document).ready(normalinDate());

        function normalinDate() {
            var invDateArr = document.getElementsByClassName('invDate');
            for(i=0 ; i<invDateArr.length ; i++) {
                var text = invDateArr[i].innerText.split(' ')[0];
                invDateArr[i].innerHTML = text;
            }
        }
    </script>

    <!--Script untuk lihat daftar undangan dan membuat reschedule-->
    <script>
        $("#listBio").on('click', '#btnubahjadwal', function() {
            console.log('Klik Tombol Jadwalkan Ulang');
            var vId = $(this).val();

            $.ajax({
                url:'/D_Reschedule/form_edit_reschedule/'+ vId,
                type:'get',
                dataType:'html',
                success:function(hasil){
                    $('#modal-body-jadwal-ulang').html(hasil);
                    $("#modaleditreschedule").modal('show');
                }
            });
        });

        $(document).ready(function(){
            $('#listpel').hide();
            $('#warning').hide();
            $("#caributton").on("click", function() {
                var value = $(myInput).val().toLowerCase();
                if(value==""){
                    $('#warning').show()
                    $('#warning').text('Harap masukkan nama pelamar!');
                    $('#listpel').hide();
                }
                else{
                    $("#myTable tr").filter(function() {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                        $('#listpel').show();
                        $('#warning').hide()
                    });
                }
            });
        });

        function sortTable() {
            console.log('aku ke klik');
            var table, rows, switching, i, x, y, shouldSwitch;
            table = document.getElementById("tableproses");
            switching = true;
            while (switching) {
                switching = false;
                rows = table.rows;
                for(i=1;i<(rows.length - 1);i++){
                    x = rows[i].getElementsByTagName("td")[0];
                    y = rows[i + 1].getElementsByTagName("td")[0];
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
                if (shouldSwitch){
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                }
            }
        }

        $("#addmodal").on('submit', 'form', function () {
            var vUrl = $(this).attr('action');
            var vData = $(this).serialize();

            $.ajax({
                url: vUrl,
                type: 'post',
                data: vData,
                dataType: 'html',
                success: function(hasil) {
                    $("#addmodal").modal("hide");
                }
            });
            return false;
        });

        $('#tambahpelamar').click(function () {
            console.log('Click in here...');
            $.ajax(
                {
                    url: '/D_TambahPelamar/tambahpelamar',
                    dataType: "html",
                    success: function (data) {
                        $('#tambahmodalbody').html(data);
                        $('#addmodal').modal('show');
                    },
                    error: function (e) {
                        alert('Error: ' + e);
                    }
                });
        });

        $("#listBio").on('click', '#tokenbutton', function () {
            console.log('in click editbutton...');
            $('#tokenmodal').modal('show');

        });

        $("#listBio").on('click', '#detailbutton', function () {
            console.log('in click editbutton...');
            var vId = $(this).val();
            console.log(vId);
            $('#detailmodal').modal('show');
            $('#ambil-bio-id').val(vId);
        });

        function loadData() {
            $.ajax({
                url: '/D_CariPelamar/view',
                type: 'get',
                dataType: 'html',
                success: function (hasil) {
                    $(".modal-backdrop.in").hide();
                    $(document).html(hasil);
                }
            });
        }
    </script>

</th:block>

</html>