<html lang="en">
<table class="table table-striped" id="myTable">
    <tr th:each="item: ${listVP}" class="aku">
        <td>
            <label>Nama Lengkap</label><br>
            <label>Nama Panggilan</label><br>
            <label>Email</label><br>
            <label>No. Handphone</label><br>
            <label>Pendidikan</label>
        </td>
        <td>
            <label> : </label><br>
            <label> : </label><br>
            <label> : </label><br>
            <label> : </label><br>
            <label> : </label>
        </td>
        <td>
            <label th:text="${item.fullName}" class="nama"></label><br>
            <label th:text="${item.nickName}"></label><br>
            <label th:text="${item.Email}"></label><br>
            <label th:text="${item.phoneNumber1}"></label><br>
            <label class="edupelamar" th:text="${item.Major + ', ' +item.schoolName}"></label>
        </td>
        <td valign="center">
            <button class="btn btn-round" style="color:rgb(0, 0, 102)"
                    type="button" id="detailbutton" th:value="${item.id}"><i class="fa fa-search"></i></button>
            <button class="btn btn-round" style="color:rgb(0, 0, 102)"
                    id="tokenbutton" th:value="${item.id}"><i class="fa fa-envelope"></i></button>
        </td>
    </tr>
</table>
</html>