<table align="center" style="border-spacing:20px; border:none;" class="table" th:each="item: ${objRP}">
    <tr>
        <td>Nama Sekolah/Instansi*<br><input style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"
                   type="text" th:value="${item.schoolName}" id="schoolNameRP" onclick="normalizingstyle(this.id)" class="form-control" required></td>
        <td>Kota<br><input style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"
                   type="text" th:value="${item.city}" id="cityRP" class="form-control"></td>
        <td>Negara<br><input style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"
                   type="text" th:value="${item.country}" id="countryRP" class="form-control"></td>
    </tr>
    <tr>
        <td>Jenjang Pendidikan*<br><input type="hidden" id="edulevel" th:value="${item.educationLevelid}">
            <select style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"
                    type="text" id="educationLevelidRP" class="form-control"
                    required>

            <option th:each="item:${listedu}" th:value="${item.id}" th:text="${item.name}"></option>
        </select></td>
        <td>Tahun Masuk<br><input type="number" min="1980" max="2030" step="1" th:value="${item.entryYear}" id="entryYearRP"
                   class="form-control"
                   style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"></td>
        <td>Tahun Lulus<br><input type="number" min="1980" max="2030" step="1" th:value="${item.graduationYear}" id="graduationYearRP"
                   class="form-control"
                   style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"></td>
    </tr>
    <tr>
        <td>Jurusan<br><input style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"
                   type="text" th:value="${item.major}" id="majorRP" class="form-control"></td>
        <td colspan="2">IPK<br><input type="text" th:value="${item.gpa}" id="gpaRP" class="form-control"
                               style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;">
        </td>
    </tr>
    <tr>
        <td colspan="3">Catatan<br><input type="hidden" th:value="${item.notes}" id="ambilnotesRP">
            <textarea type="text" id="notesRP" class="form-control"
                                  style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"></textarea>
        </td>
    </tr>
    <tr align="right">
        <td colspan="2"></td>
        <td class="btn-group">
            <button class="btn btn-warning" onclick="bataleditRP()">Batal</button>
            <button class="btn btn-primary" th:value="${item.id}" onclick="validateRP(this.value)">Simpan</button>
        </td>
    </tr>
</table>
<script>
    $(document).ready( pindahinRP() );
    function pindahinRP(){
        $('#educationLevelidRP').val($('#edulevel').val());
        $('#notesRP').text($('#ambilnotesRP').val().toString());
    }
</script>
<script>
    function normalizingstyle(param){
        var data = document.getElementById(param);
        data.style.borderColor="rgb(0,0,102)";
        data.style.boxShadow="none";
    }

    function validateRP(id){
        var dateval = $('#schoolNameRP').val();
        console.log(dateval);
        if (dateval == "" || dateval == null){
            alert('Harap Masukkan Data Pada Kolom Berwarna Merah')
            document.getElementById('schoolNameRP').style.borderColor="rgb(200,0,0)";
            document.getElementById('schoolNameRP').style.boxShadow="0px 0px 5px rgb(150,0,0)";
        }else{
            editRP(id);
        }
    }
</script>