<table align="center" style="border-spacing:20px; border:none;" class="table">
    <tr>
        <td>Nama Sekolah/Instansi*<br><input style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"
                   type="text" id="tschoolNameRP" onclick="normalizingstyle(this.id)" class="form-control" required></td>
        <td>Kota<br><input style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"
                   type="text" id="tcityRP" class="form-control"></td>
        <td>Negara<br><input style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"
                   type="text" id="tcountryRP" class="form-control"></td>
    </tr>
    <tr>
        <td>Jenjang Pendidikan*<br><select style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"
                    type="text" id="teducationLevelidRP" class="form-control" required>
            <option value="">Jenjang Pendidikan</option>
            <option th:each="item:${listedu}" th:value="${item.id}" th:text="${item.name}"></option>
        </select></td>
        <td>Tahun Masuk<br><input type="number" min="1980" max="2030" step="1" id="tentryYearRP" class="form-control"
                   style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"></td>
        <td>Tahun Lulus<br><input type="number" min="1980" max="2030" step="1" id="tgraduationYearRP" class="form-control"
                   style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"></td>
    </tr>
    <tr>
        <td>Jurusan<br><input style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"
                   type="text" id="tmajorRP" class="form-control"></td>
        <td colspan="2">IPK<br><input type="text" id="tgpaRP" class="form-control"
                   style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"></td>
    </tr>
    <tr>
        <td colspan="3">Catatan<br><textarea type="text" id="tnotesRP" class="form-control"
                                  style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"></textarea>
        </td>
    </tr>
    <tr align="right">
        <td colspan="2"></td>
        <td class="btn-group">
            <button class="btn btn-warning" onclick="bataltambahRP()">Batal</button>
            <button class="btn btn-primary" onclick="validateRP()">Simpan</button>
        </td>
    </tr>
</table>
<script>
    function normalizingstyle(param){
        var data = document.getElementById(param);
        data.style.borderColor="rgb(0,0,102)";
        data.style.boxShadow="none";
    }

    function validateRP(){
        var dateval = $('#tschoolNameRP').val();
        var edu = $('#teducationLevelidRP').val();
        console.log(dateval);
        if (dateval == "" || dateval == null){
            alert('Harap Masukkan Data Pada Kolom Berwarna Merah')
            document.getElementById('tschoolNameRP').style.borderColor="rgb(200,0,0)";
            document.getElementById('tschoolNameRP').style.boxShadow="0px 0px 5px rgb(150,0,0)";
        }else if (edu == "" || edu == null){
            alert('Harap Masukkan Data Pada Kolom Berwarna Merah')
            document.getElementById('teducationLevelidRP').style.borderColor="rgb(200,0,0)";
            document.getElementById('teducationLevelidRP').style.boxShadow="0px 0px 5px rgb(150,0,0)";
        }else{
            tambahRP();
        }
    }
</script>