<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:with="http://www.thymeleaf.org/extras/with">

<th:block layout:fragment="content">
    <div id="list-RP">
        <div>
            <h3 style="color:rgb(0, 0, 102)">Pendidikan
                <button type="button"
                    style="border:0;background: none;color: inherit;border: none;padding: 0;font: inherit;cursor: pointer;outline: inherit;"
                    class="btn  btn-primary btn-round" id="tambah">
                    <span class="fa fa-plus-circle" style="color:black"></span></button>
            </h3>
        </div>


        <div>
            <input id="viewbioid" type="hidden" th:value="${biodataid}">
            <table class="table" id="tabel-pendidikan">
                <thead>
                    <tr style="border-top: 4px solid rgb(0,0,102);border-bottom: 4px solid rgb(0,0,102);">
                        <th>SEKOLAH/INSTANSI</th>
                        <th>JENJANG</th>
                        <th>PERIODE</th>
                        <th>JURUSAN</th>
                        <th>IPK</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="item : ${listRP}" style="border-top: 2px solid rgb(0,0,102);">
                        <td th:text="${item.schoolName}"></td>
                        <td th:text="${item.edu.name}"></td>
                        <td name="periode" th:text="${item.entryYear + ' s.d ' + item.graduationYear}"></td>
                        <td name="major" th:text="${item.major}"></td>
                        <td name="ipk" th:text="${item.gpa}"></td>
                        <td>
                            <li class="dropdown" style="background-color:rgb(0,0,102);border-radius:4px;padding:5px 5px">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-expanded="false">
                                    <span style="color:white">MORE</span>
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="">
                                        <button type="button" id="editbuttonRP" th:value="${item.id}"
                                            onclick="tampileditRP(this.value)" style="background-color: Transparent; background-repeat:no-repeat;
                                            border: none; cursor:pointer;overflow: hidden;outline:none">Edit
                                        </button>
                                    </li>
                                    <li class="">
                                        <button type="button" onclick="tampilhapusRP(this.value)" th:value="${item.id}"
                                            style="background-color: Transparent; background-repeat:no-repeat;
                                            border: none; cursor:pointer;overflow: hidden;outline:none">Hapus
                                        </button>
                                    </li>
                                    <li></li>
                                </ul>
                            </li>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!--  Modal Tambah Riwayat Pendidikan  -->
            <div class="modal fade" id="addmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document" style="width:80%;">
                    <div class="modal-content" style="border-radius:10px;border: 2px solid rgb(0,0,102);">
                        <div class="modal-header"
                            style="border-top-left-radius:8px;border-top-right-radius:8px;background-color:rgb(0,0,102); color:white;">
                            <h5 class="modal-title" id="titleadd" style="font-size:20"><strong>Tambah
                                    Pendidikan</strong></h5>
                        </div>
                        <div class="modal-body" style="overflow:auto" id="modalbodytambahRP">

                        </div>
                    </div>
                </div>
            </div>

            <!--  Modal Edit Riwayat Pendidikan  -->
            <div class="modal fade" id="editmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document" style="width:80%;">
                    <div class="modal-content" style="border-radius:10px;border: 2px solid rgb(0,0,102);">
                        <div class="modal-header"
                            style="border-top-left-radius:8px;border-top-right-radius:8px;background-color:rgb(0,0,102); color:white;">
                            <h5 class="modal-title" style="font-size:20"><strong>Edit Pendidikan</strong></h5>
                        </div>
                        <div class="modal-body" style="overflow:auto" id="modalbodyeditRP">

                        </div>
                    </div>
                </div>
            </div>

            <!--  Modal Hapus Riwayat Pendidikan  -->
            <div class="modal fade" id="deletemodal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document" style="width:relative;height:relative">
                    <div class="modal-content" style="border-radius:10px;border: 2px solid rgb(0,0,102);">
                        <div class="modal-header"
                            style="border-top-left-radius:8px;border-top-right-radius:8px;background-color:rgb(217,83,79); color:white;">
                            <h5 class="modal-title" style="font-size:20"><strong>Hapus Pendidikan?</strong></h5>
                        </div>
                        <div class="modal-body" style="overflow:auto" id="modalbodyhapusRP">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</th:block>

<th:block layout:fragment="jsghozy">

    <!--Atur tampilan IPK-->
    <script>
    $(document).ready(aturIPK(),aturperiode(),aturmajor());

    function aturIPK(){
        var list = document.getElementsByName('ipk');
        for (i=0;i<list.length;i++){
            var text = list[i].innerText;
            var num = parseFloat(text);
            if(num <= 0 || num > 4){
                list[i].innerHTML="-";
            }
        }
    }

    function aturperiode(){
        var list = document.getElementsByName('periode');
        for (i=0;i<list.length;i++){
            var text = list[i].innerText;
            var start = text.toString().split("s.d")[0]
            var end = text.toString().split("s.d")[1]
            if(start == null || start == " " || end == " " || end == null || text == "s.d"){
                list[i].innerHTML="-";
            }
        }
    }

    function aturmajor(){
        var list = document.getElementsByName('major');
        for (i=0;i<list.length;i++){
            var text = list[i].innerText;
            if(text == ""){
                list[i].innerHTML="-";
            }
        }
    }
    </script>

    <!--Hapus data Pendidikan-->
    <script>
        function tampilhapusRP(id) {
            console.log('---click button delete RP---');
            $.ajax({
                url: '/D_RiwayatPendidikan/getRP/' + id,
                type: 'get',
                success: function (hasil) {
                    var str = '<table cellpadding="5" cellspacing="0" class="table no-border">' +
                        '<tr><td rowspan="2"><i class="fa fa-trash" style="font-size: 100px;"></i></td><tr align="center">' +
                        '<td style="color:#B30909;">' +
                        '<h3>Anda yakin ingin menghapus pendidikan <strong>' + hasil.biodatapendidikan.nickName + '</strong> di ' +
                        '<strong>' + hasil.schoolName + '</strong> ?</h3></td></tr>' +
                        '<tr align="right"><td colspan="2">' +
                        '<button class="btn btn-warning" onclick="batalhapusRP()">Batal</button>' +
                        '<button class="btn btn-danger" onclick="hapusRP(' + hasil.id + ')">Hapus</button></td></tr></table>';
                    document.getElementById('modalbodyhapusRP').innerHTML = str;
                    $("#deletemodal").modal('show');
                }
            });
        };

        function batalhapusRP() {
            console.log('keklik');
            $("#deletemodal").modal('hide');
            $("#detailmodal").modal('show');
        };

        function hapusRP(id) {
            var c = Date().toString().split(" ");
            if (c[1] == "Jan") { c[1] = "1" }
            else if (c[1] == "Feb") { c[1] = "2" }
            else if (c[1] == "Mar") { c[1] = "3" }
            else if (c[1] == "Apr") { c[1] = "4" }
            else if (c[1] == "May") { c[1] = "5" }
            else if (c[1] == "Jun") { c[1] = "6" }
            else if (c[1] == "Jul") { c[1] = "7" }
            else if (c[1] == "Aug") { c[1] = "8" }
            else if (c[1] == "Sep") { c[1] = "9" }
            else if (c[1] == "Oct") { c[1] = "10" }
            else if (c[1] == "Nov") { c[1] = "11" }
            else if (c[1] == "Dec") { c[1] = "12" };
            var b = c[3] + "-" + c[1] + "-" + c[2] + "T" + c[4] + ".000+0700";
            $.ajax({
                url: '/D_RiwayatPendidikan/getRP/' + id,
                type: 'get',
                success: function (hasil) {
                    $.ajax({
                        url: '/D_RiwayatPendidikan/editRP/' + id,
                        type: 'put',
                        data: '{"id": ' + hasil.id + ', "createdBy": ' + hasil.createdBy + ', "createdOn": "' + hasil.createdOn +
                            '", "modifiedBy": ' + hasil.modifiedBy + ', "modifiedOn": "' + hasil.modifiedOn + '", "deletedBy": ' + 1 +
                            ', "deletedOn": "' + b + '", "biodataid": ' + hasil.biodataid + ', "schoolName": "' + hasil.schoolName +
                            '", "city": "' + hasil.city + '", "country": "' + hasil.country + '", "educationLevelid": ' + hasil.educationLevelid +
                            ', "entryYear": "' + hasil.entryYear + '", "graduationYear": "' + hasil.graduationYear + '", "major": "' + hasil.major +
                            '", "gpa": ' + hasil.gpa + ', "notes": "' + hasil.notes + '", "order": ' + hasil.order + ', "judulTa": ' + hasil.judulTa +
                            ', "deskripsiTa": ' + hasil.deskripsiTa + ', "delete": ' + true + '}',
                        success: function () {
                            $('#deletemodal').modal('hide');
                            $.ajax({
                                url: '/D_RiwayatPendidikan/view/' + hasil.biodataid,
                                type: 'get',
                                dataType: 'html',
                                success: function (hasil2) {
                                    $('#fragmentpelamar').html(hasil2);
                                    $("#detailmodal").modal('show');
                                }
                            });
                        },
                        dataType: 'json',
                        contentType: 'application/json'
                    })
                }
            })
        }
    </script>

    <!--Tambah data Pendidikan-->
    <script>
        $('#tambah').click(function () {
            console.log('---click button tambah RP---');
            var bioId = $('#viewbioid').val();
            $.ajax(
                {
                    url: '/D_RiwayatPendidikan/form',
                    dataType: "html",
                    success: function (data) {
                        $('#modalbodytambahRP').html(data);
                        $('#addmodal').modal('show');
                    },
                    error: function (e) {
                        alert('Error: ' + e);
                    }
                });
        });

        function bataltambahRP() {
            $("#addmodal").modal('hide');
            $("#detailmodal").modal('show');
        }

        function tambahRP() {
            var c = Date().toString().split(" ");
            if (c[1] == "Jan") { c[1] = "1" }
            else if (c[1] == "Feb") { c[1] = "2" }
            else if (c[1] == "Mar") { c[1] = "3" }
            else if (c[1] == "Apr") { c[1] = "4" }
            else if (c[1] == "May") { c[1] = "5" }
            else if (c[1] == "Jun") { c[1] = "6" }
            else if (c[1] == "Jul") { c[1] = "7" }
            else if (c[1] == "Aug") { c[1] = "8" }
            else if (c[1] == "Sep") { c[1] = "9" }
            else if (c[1] == "Oct") { c[1] = "10" }
            else if (c[1] == "Nov") { c[1] = "11" }
            else if (c[1] == "Dec") { c[1] = "12" };
            var b = c[3] + "-" + c[1] + "-" + c[2] + "T" + c[4] + ".000+0700";
            var id = $('#viewbioid').val();
            console.log('ini bionya ' + id);
            if ($('#tschoolNameRP').val() == "" || $('#teducationLevelidRP').val() == "") {
                alert('Anda harus mengisi bidang dengan tanda "*"!');
            }
            else {
                $.ajax({
                    url: '/D_RiwayatPendidikan/saveRP/',
                    type: 'post',
                    data: '{"createdBy": ' + 1 + ', "createdOn": "' + b + '", "modifiedBy": ' + null + ', "modifiedOn": "' + null + '", "deletedBy": ' + null +
                        ', "deletedOn": "' + null + '", "biodataid": ' + id + ', "schoolName": "' + $('#tschoolNameRP').val() +
                        '", "city": "' + $('#tcityRP').val() + '", "country": "' + $('#tcountryRP').val() + '", "educationLevelid": ' + $('#teducationLevelidRP').val() +
                        ', "entryYear": "' + $('#tentryYearRP').val() + '", "graduationYear": "' + $('#tgraduationYearRP').val() + '", "major": "' + $('#tmajorRP').val() +
                        '", "gpa": "' + $('#tgpaRP').val() + '", "notes": "' + $('#tnotesRP').val() + '", "order": ' + null + ', "judulTa": ' + null +
                        ', "deskripsiTa": ' + null + ', "delete": false}',
                    success: function () {
                        $('#addmodal').modal('hide');
                        $.ajax({
                            url: '/D_RiwayatPendidikan/view/' + id,
                            type: 'get',
                            dataType: 'html',
                            success: function (hasil2) {
                                $('#fragmentpelamar').html(hasil2);
                                $("#detailmodal").modal('show');
                            }
                        });
                    },
                    dataType: 'json',
                    contentType: 'application/json'
                })
            }
        }
    </script>

    <!--Edit data Pendidikan-->
    <script>
        function tampileditRP(id) {
            $.ajax({
                url: '/D_RiwayatPendidikan/edit/' + id,
                dataType: "html",
                success: function (data) {
                    $('#modalbodyeditRP').html(data);
                    $('#editmodal').modal('show');
                },
                error: function (e) {
                    alert('Error: ' + e);
                }
            });
        };

        function bataleditRP() {
            $("#editmodal").modal('hide');
            $("#detailmodal").modal('show');
        }
        function editRP(id) {
            console.log('---click button edit RP---');
            var c = Date().toString().split(" ");
            if (c[1] == "Jan") { c[1] = "1" }
            else if (c[1] == "Feb") { c[1] = "2" }
            else if (c[1] == "Mar") { c[1] = "3" }
            else if (c[1] == "Apr") { c[1] = "4" }
            else if (c[1] == "May") { c[1] = "5" }
            else if (c[1] == "Jun") { c[1] = "6" }
            else if (c[1] == "Jul") { c[1] = "7" }
            else if (c[1] == "Aug") { c[1] = "8" }
            else if (c[1] == "Sep") { c[1] = "9" }
            else if (c[1] == "Oct") { c[1] = "10" }
            else if (c[1] == "Nov") { c[1] = "11" }
            else if (c[1] == "Dec") { c[1] = "12" };
            var b = c[3] + "-" + c[1] + "-" + c[2] + "T" + c[4] + ".000+0700";
            $.ajax({
                url: '/D_RiwayatPendidikan/getRP/' + id,
                type: 'get',
                success: function (hasil) {
                    if ($('#schoolNameRP').val() == "" || $('#educationLevelidRP').val() == "") {
                        alert('Anda harus mengisi bidang dengan tanda "*"!');
                    } else {
                        $.ajax({
                            url: '/D_RiwayatPendidikan/editRP/' + id,
                            type: 'put',
                            data: '{"id": ' + hasil.id + ', "createdBy": ' + hasil.createdBy + ', "createdOn": "' + hasil.createdOn +
                                '", "modifiedBy": ' + 1 + ', "modifiedOn": "' + b + '", "deletedBy": ' + hasil.deletedBy +
                                ', "deletedOn": "' + hasil.deletedOn + '", "biodataid": ' + hasil.biodataid + ', "schoolName": "' + $('#schoolNameRP').val() +
                                '", "city": "' + $('#cityRP').val() + '", "country": "' + $('#countryRP').val() + '", "educationLevelid": ' + $('#educationLevelidRP').val() +
                                ', "entryYear": "' + $('#entryYearRP').val() + '", "graduationYear": "' + $('#graduationYearRP').val() + '", "major": "' + $('#majorRP').val() +
                                '", "gpa": ' + $('#gpaRP').val() + ', "notes": "' + $('#notesRP').val() + '", "order": ' + hasil.order + ', "judulTa": ' + hasil.judulTa +
                                ', "deskripsiTa": ' + hasil.deskripsiTa + ', "delete": ' + hasil.delete + '}',
                            success: function () {
                                $('#editmodal').modal('hide');
                                $.ajax({
                                    url: '/D_RiwayatPendidikan/view/' + hasil.biodataid,
                                    type: 'get',
                                    dataType: 'html',
                                    success: function (hasil2) {
                                        $('#fragmentpelamar').html(hasil2);
                                        $("#detailmodal").modal('show');
                                    }
                                });
                            },
                            dataType: 'json',
                            contentType: 'application/json'
                        })
                    }
                }
            })
        }
    </script>

</th:block>

</html>