<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:with="http://www.thymeleaf.org/extras/with" with:title="'B210'">

<th:block layout:fragment="content">
    <form name="form-sertifikasi" id="form-sertifikasi" th:object="${objsertifikasi}" method="POST"
        th:action="@{~/D_Sertifikasi/is_delete}">

        <!-- Table Untuk Modal Hapus Keluarga -->
        <table class="table no-border" cellspacing="0" cellpadding="5">
            <tr>
                <td rowspan="2">
                    <i class="fa fa-trash" style="font-size: 100px;"></i>
                </td>
            </tr>
            <tr align="center">
                <td>
                    <h3
                        th:utext="${'Anda yakin ingin menghapus Sertifikasi '+'&lt;br/&gt;'+' '+'&lt;strong&gt;'+objsertifikasi.certificateName +' ?'+'&lt;/strong&gt;'}">
                    </h3>
                </td>
            </tr>
            <tr align="right">
                <td>
                    <input type="hidden" th:field="*{biodataId}" id="insert-biodata-id-sertifikasi" value=""></td>
                </td>

                <td colspan="2" class="btn-group">
                    <input class="btn btn-warning" type="button" style="width:100px;" data-dismiss="modal"
                        value="Tidak" />
                    <input class="btn btn-danger" type="submit" style="width:100px;" value="Ya" id="btn-delete-back" />
                </td>
            </tr>
        </table>

        <table class="table no-border" cellpadding="5" cellspacing="0" hidden>
            <tr>
                <td>Nama Sertifikasi*
                    <input type="hidden" th:field="*{Id}">
                    <input type="text" th:field="*{certificateName}" class="form-control" required>
                </td>
                <td>Penerbit*
                    <input type="text" th:field="*{publisher}" class="form-control" required>
                </td>
            </tr>
            <tr>
                <td>Berlaku Mulai
                    <select th:field="*{validStartMonth}" class="form-control">
                        <option value="">- Pilih Tahun -</option>
                        <option th:value="'Januari'" th:text="Januari"></option>
                        <option th:value="'Februari'" th:text="Februari"></option>
                        <option th:value="'Maret'" th:text="Maret"></option>
                        <option th:value="'April'" th:text="April"></option>
                        <option th:value="'Mei'" th:text="Mei"></option>
                        <option th:value="'Juni'" th:text="Juni"></option>
                        <option th:value="'Juli'" th:text="Juli"></option>
                        <option th:value="'Agustus'" th:text="Agustus"></option>
                        <option th:value="'September'" th:text="September"></option>
                        <option th:value="'Oktober'" th:text="Oktober"></option>
                        <option th:value="'November'" th:text="November"></option>
                        <option th:value="'Desember'" th:text="Desember"></option>
                    </select>
                </td>
                <td><br>
                    <select th:field="*{validStartYear}" class="form-control">
                        <option value="">- Pilih Bulan -</option>
                        <option th:value="'2016'" th:text="2016"></option>
                        <option th:value="'2017'" th:text="2017"></option>
                        <option th:value="'2018'" th:text="2018"></option>
                        <option th:value="'2019'" th:text="2019"></option>
                    </select>
                </td>

                <td>Berlaku Sampai
                    <select th:field="*{untilMonth}" class="form-control">
                        <option value="">- Pilih Tahun -</option>
                        <option th:value="'Januari'" th:text="Januari"></option>
                        <option th:value="'Februari'" th:text="Februari"></option>
                        <option th:value="'Maret'" th:text="Maret"></option>
                        <option th:value="'April'" th:text="April"></option>
                        <option th:value="'Mei'" th:text="Mei"></option>
                        <option th:value="'Juni'" th:text="Juni"></option>
                        <option th:value="'Juli'" th:text="Juli"></option>
                        <option th:value="'Agustus'" th:text="Agustus"></option>
                        <option th:value="'September'" th:text="September"></option>
                        <option th:value="'Oktober'" th:text="Oktober"></option>
                        <option th:value="'November'" th:text="November"></option>
                        <option th:value="'Desember'" th:text="Desember"></option>
                    </select>
                </td>
                <td><br>
                    <select th:field="*{untilYear}" class="form-control">
                        <option value="">- Pilih Bulan -</option>
                        <option th:value="'2019'" th:text="2019"></option>
                        <option th:value="'2020'" th:text="2020"></option>
                        <option th:value="'2021'" th:text="2021"></option>
                        <option th:value="'2022'" th:text="2022"></option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>Catatan
                    <input type="text" th:field="*{notes}" class="form-control">
                </td>

                <td>
                    <!-- Insert Create_ON Secara Paksa -->
                    <input type="hidden" th:field="*{createdOn}" id="datepicker">

                    <!-- Biodata-ID -->
                    <input type="hidden" th:field="*{biodataId}" id="insert-biodata-id-sertifikasi" value="">
                </td>
            </tr>
            <tr align="right">
                <td> </td>
                <td colspan="2" class="btn-group">
                    <input type="button" value="Batal" class="btn btn-warning" data-dismiss="modal">
                    <input type="submit" value="Simpan" class="btn btn-primary">
                </td>
            </tr>
        </table>
    </form>

    <script>
        var createOnSertifikasi = $("#datepicker").val();
        console.log("reade")

        if (createOnSertifikasi == '') {
        } else {
            var c = createOnSertifikasi.split(" ");
            c = c[0].split("-");
            $("#datepicker").val(c[0] + "/" + c[1] + "/" + c[2]);
        }
    </script>

</th:block>

</html>