<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:with="http://www.thymeleaf.org/extras/with" with:title="'B210'">

<th:block layout:fragment="content">
    <form name="form-sertifikasi" id="form-sertifikasi" th:object="${objsertifikasi}" method="POST"
        th:action="@{~/D_Sertifikasi/save_edit}">

        <table class="table no-border" cellpadding="5" cellspacing="0">
            <tr>
                <td colspan="2">Nama Sertifikasi*
                    <input type="hidden" th:field="*{Id}">
                    <input style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"
                        type="text" th:field="*{certificateName}" class="form-control" required>
                </td>
                <td colspan="2">Penerbit*
                    <input style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"
                        type="text" th:field="*{publisher}" class="form-control" required>
                </td>
            </tr>
            <tr>
                <td>Berlaku Mulai
                    <select id="bulan-mulai"
                        style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"
                        th:field="*{validStartMonth}" class="form-control">
                        <option value="">- Pilih Bulan -</option>
                        <option th:value="'1'" th:text="Januari"></option>
                        <option th:value="'2'" th:text="Februari"></option>
                        <option th:value="'3'" th:text="Maret"></option>
                        <option th:value="'4'" th:text="April"></option>
                        <option th:value="'5'" th:text="Mei"></option>
                        <option th:value="'6'" th:text="Juni"></option>
                        <option th:value="'7'" th:text="Juli"></option>
                        <option th:value="'8'" th:text="Agustus"></option>
                        <option th:value="'9'" th:text="September"></option>
                        <option th:value="'10'" th:text="Oktober"></option>
                        <option th:value="'11'" th:text="November"></option>
                        <option th:value="'12'" th:text="Desember"></option>
                    </select>
                </td>
                <td><br>
                    <select id="tahun-mulai"
                        style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"
                        th:field="*{validStartYear}" class="form-control">
                    </select>
                </td>

                <td>Berlaku Sampai
                    <select id="bulan-akhir"
                        style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"
                        th:field="*{untilMonth}" class="form-control">
                        <option value="">- Pilih Bulan -</option>
                        <option th:value="'1'" th:text="Januari"></option>
                        <option th:value="'2'" th:text="Februari"></option>
                        <option th:value="'3'" th:text="Maret"></option>
                        <option th:value="'4'" th:text="April"></option>
                        <option th:value="'5'" th:text="Mei"></option>
                        <option th:value="'6'" th:text="Juni"></option>
                        <option th:value="'7'" th:text="Juli"></option>
                        <option th:value="'8'" th:text="Agustus"></option>
                        <option th:value="'9'" th:text="September"></option>
                        <option th:value="'10'" th:text="Oktober"></option>
                        <option th:value="'11'" th:text="November"></option>
                        <option th:value="'12'" th:text="Desember"></option>
                    </select>
                </td>
                <td><br>
                    <select id="tahun-akhir"
                        style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"
                        th:field="*{untilYear}" class="form-control">
                    </select>
                </td>
            </tr>

            <tr>
                <td colspan="4">Catatan
                    <textarea type="text" th:field="*{notes}" class="form-control"
                        style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"></textarea>
                </td>
                <td>
                    <!-- Insert Create_ON Secara Paksa -->
                    <input type="hidden" th:field="*{createdOn}" id="datepicker">

                    <!-- Biodata-ID -->
                    <input type="hidden" th:field="*{biodataId}" id="insert-biodata-id-sertifikasi" value="">
                </td>
            </tr>

            <tr align="right">
                <td colspan="2"></td>
                <td class="btn-group">
                    <input class="btn btn-warning" type="button" value="Batal" data-dismiss="addmodal">
                    <input id="submit-sertifikasi" class="btn btn-primary" type="submit" value="Simpan">
                </td>
            </tr>
        </table>
    </form>

    <script>
        var createOnSertifikasi = $("#datepicker").val();
        console.log("reade")

        if (createOnSertifikasi == '') {
        } else {
            var c = createOnSertifikasi.split(" ");
            c = c[0].split("-");
            $("#datepicker").val(c[0] + "/" + c[1] + "/" + c[2]);
        }

        $("#tahun-akhir").prop("disabled", true);
        $("#bulan-akhir").prop("disabled", true);

        $(document).ready(function () {
            $("#bulan-mulai").click(function () {
                var t = $("#bulan-mulai").val()

                if (t > 0) {
                    $("#tahun-akhir").prop("disabled", false);
                    $("#bulan-akhir").prop("disabled", false);
                } else {
                    $("#tahun-akhir").prop("disabled", true);
                }
            });
        });
    </script>

    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script th:src="@{/js/jquery.validate.min.js}"></script>

    <script>
        for (i = 2001; i < 2025; i++) {
            $('#tahun-mulai').append($('<option />').val(i).html(i));
        }

        for (i = 2001; i < 2025; i++) {
            $('#tahun-akhir').append($('<option />').val(i).html(i));
        }

        $("form[name = 'form-sertifikasi']").validate({
            rules: {},
            messages: {}
        });

        $("#form-sertifikasi").validate();
    </script>

</th:block>

</html>