<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:with="http://www.thymeleaf.org/extras/with">

<!-- Tampilan Form -->
<th:block layout:fragment="content">
    <div id="list-sertifikasi">
        <div>
            <h3 style="color:rgb(0, 0, 102)">Sertifikasi
                <button type="button"
                    style="border:0;background: none;color: inherit;border: none;padding: 0;font: inherit;cursor: pointer;outline: inherit;"
                    class="btn  btn-primary btn-round" id="add-button-sertifikasi">
                    <span class="fa fa-plus-circle" style="color:black"></span></button>
            </h3>
        </div>

        <div>
            <!-- Input Biodata ID -->
            <input id="bio-id-sertifikasi" type="hidden" th:value="${sertifikasiid}">
            <table class="table">
                <thead>
                    <tr style="border-top: 4px solid rgb(0,0,102);border-bottom: 4px solid rgb(0,0,102);">
                        <th class="text-center">NAMA SERTIFIKASI</th>
                        <th class="text-center">PENERBIT</th>
                        <th class="text-center">MASA BERLAKU SERTIFIKASI</th>
                        <th class="text-center">#</th>
                    </tr>
                </thead>

                <tbody class="text-center">
                    <tr th:each="item, key : ${listsertifikasi}" style="border-top: 2px solid rgb(0,0,102);">
                        <td th:text="${item.certificateName}"></td>
                        <td th:text="${item.publisher}"></td>
                        <td
                            th:text="${item.validStartYear + '-' + item.validStartMonth + ' s.d ' + item.untilYear + '-' +item.untilMonth}">
                        </td>
                        <td>
                            <li class="dropdown ">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-expanded="false">
                                    <span></span>MORE
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="">
                                        <button type="button" id="btn-edit" th:value="${item.id}"
                                            style="background-color: Transparent; background-repeat:no-repeat;
                                                    border: none; cursor:pointer;overflow: hidden;outline:none">Edit</button>
                                    </li>
                                    <li class="">
                                        <button type="button" id="btn-delete-baru" th:value="${item.id}"
                                            style="background-color: Transparent; background-repeat:no-repeat;
                                                    border: none; cursor:pointer;overflow: hidden;outline:none">Hapus</button>
                                    </li>
                                    <li></li>
                                </ul>
                            </li>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- Modal Tambah Sertifikasi -->
            <div class="modal fade" id="add-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content" style="border-radius:10px;border: 2px solid rgb(0,0,102);">
                        <div class="modal-header"
                            style="border-top-left-radius:8px;border-top-right-radius:8px;background-color:rgb(0,0,102); color:white;">
                            <table>
                                <tr>
                                    <td>
                                        <h5 class="modal-title" style="color:white">Tambah ?</h5>
                                    </td>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </tr>
                            </table>
                        </div>
                        <div id="modal-body-tambah-sertifikasi">

                        </div>
                    </div>
                </div>
            </div>

            <!--  Modal Edit Sertifikasi  -->
            <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content" style="border-radius:10px;border: 2px solid rgb(0,0,102);">
                        <div class="modal-header"
                            style="border-top-left-radius:8px;border-top-right-radius:8px;background-color:rgb(0,0,102); color:white;">

                            <table>
                                <tr>
                                    <td>
                                        <h5 class="modal-title" style="color:white">Ubah ?</h5>
                                    </td>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </tr>
                            </table>
                        </div>
                        <div id="modal-body-edit-sertifikasi">

                        </div>
                    </div>
                </div>
            </div>

            <!--  Modal Hapus Sertifikasi  -->
            <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" style="border-radius:10px;border: 2px solid rgb(204,0,0);">
                        <div class="modal-header"
                            style="border-top-left-radius:8px;border-top-right-radius:8px; background-color:rgb(211,55,36);">
                            <table>
                                <tr>
                                    <td>
                                        <h5 class="modal-title" style="color:white">Hapus ?</h5>
                                    </td>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </tr>
                            </table>
                        </div>
                        <div id="modal-body-hapus-sertifikasi">

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</th:block>

<th:block layout:fragment="jsfahri">
    <script>
        $(document).ready(function () {
            $('#tableSertifikasi').DataTable();
        });

        // Tambah Sertifikasi
        $('#add-button-sertifikasi').click(function () {
            var bioId = $('#bio-id-sertifikasi').val();

            $.ajax(
                {
                    url: '/D_Sertifikasi/form_tambah_sertifikasi',
                    dataType: "html",
                    success: function (data) {
                        $('#modal-body-tambah-sertifikasi').html(data);
                        $('#add-modal').modal('show');
                        $('#insert-biodata-id-sertifikasi').val(bioId);
                    },

                    error: function (e) {
                        alert('Error: ' + e);
                    }
                });
        });

        //Edit Sertifikasi
        $("#list-sertifikasi").on('click', '#btn-edit', function () {
            var vId = $(this).val();

            console.log("ready")

            $.ajax({
                url: '/D_Sertifikasi/edit/' + vId,
                type: 'get',
                dataType: 'html',
                success: function (hasil) {
                    $('#modal-body-edit-sertifikasi').html(hasil);
                    $("#edit-modal").modal('show');
                }
            });
        });

        //Hapus Sertifikasi
        $("#list-sertifikasi").on('click', '#btn-delete-baru', function () {
            var vId = $(this).val();

            $.ajax({
                url: '/D_Sertifikasi/hapus/' + vId,
                type: 'get',
                dataType: 'html',
                success: function (hasil) {
                    $('#modal-body-hapus-sertifikasi').html(hasil);
                    $("#delete-modal").modal('show');
                }
            });
        });

        function loadData() {
            $.ajax({
                url: '/D_Sertifikasi/lihat_sertifikasi',
                type: 'get',
                dataType: 'html',
                success: function (hasil) {
                    $(".modal-backdrop.in").hide();
                    $('#list-keluarga').html(hasil);
                }
            });
        }
    </script>
</th:block>

</html>