<th:block xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:fragment="end">

    <!-- Pilih sesuai nama untuk Script pada HTML -->
    <th:block layout:fragment="jsghozy" />
    <th:block layout:fragment="jsjevika" />
    <th:block layout:fragment="jsmaria" />
    <th:block layout:fragment="jsgilang" />
    <th:block layout:fragment="jsokta" />
    <th:block layout:fragment="jsolif" />
    <th:block layout:fragment="jsghifari" />
    <th:block layout:fragment="jsfahri" />

</th:block>