<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="ISO-8859-1">
    <title>Mini Project 213</title>

    <link th:href="@{/bootstrap/dist/css/style.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/button.css}" rel="stylesheet">
    <link th:href="@{/css/dataTables.bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet">
    <link th:href="@{/css/admintemplate.css}" rel="stylesheet">
    <link th:href="@{/css/button.css}" rel="stylesheet">
    <link th:href="@{/css/jquery-ui.css}" rel="stylesheet">

    <script th:src="@{/bootstrap/dist/js/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/dist/js/bootstrap.min.js}"></script>
    <script th:src="@{/bootbox/bootbox.min.js}"></script>
    <script th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/js/jquery-ui.js}"></script>
    <script th:src="@{/js/smtp.js}"></script>
    <script th:src="@{/js/pagination.js}"></script>
    <script th:src="@{/js/pagination.min.js}"></script>
    <script th:src="@{/js/md5.js}"></script>

    <style>
        label.error {
            color: #ff0000;
            font-style: italic;
            margin-left: 10px;
        }

        .dot {
            height: 15px;
            width: 15px;
            background-color: navy;
            border-radius: 50%;
            display: inline-block;
        }
        .Ttable tr:nth-child(odd){
            background: #DDD6FF;
        }
        .Ttable tr:nth-child(even){
            background: #FFFFFF;
        }
        .Mtable tr:nth-child(odd){
            background: #F9F9F9;
        }
        .Mtable tr:nth-child(even){
            background: #FFFFFF;
        }

    </style>

</head>