<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="ISO-8859-1">
    <title>Mini Project 213</title>



    <script th:src="@{/bootstrap/dist/js/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/dist/js/bootstrap.min.js}"></script>
    <script th:src="@{/bootbox/bootbox.min.js}"></script>
    <script th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/js/jquery-ui.js}"></script>

    <style>
    .modal-body {
    max-height: auto;
    overflow-y: auto;
}

        .dot {
            height: 15px;
            width: 15px;
            background-color: navy;
            border-radius: 50%;
            display: inline-block; 
        }
    </style>

</head>