<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-left">
        <li class="dropdown ">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                Pengaturan
                <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li class="dropdown-header"><a href="/D_Role/lihat_role">Peran</a></li>
                <li class="dropdown-header"><a href="/D_Pengguna/view">Pengguna</a></li>
            </ul>
        </li>
        <li class="dropdown ">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                Menu 2
                <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li class="dropdown-header">SETTINGS</li>
            </ul>
        </li>
        <li class="dropdown ">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                Menu 3
                <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li class="dropdown-header">SETTINGS</li>
            </ul>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown ">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <span class="glyphicon glyphicon-bell"></span> &nbsp; User
                <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li class="dropdown-header">Nama Akun</li>
                <li class=""><a href="#">Ubah Kata Sandi</a></li>
                <li class="" onclick="kirimwoosh();"><a href="#">Lupa Kata Sandi</a></li>
                <li class=""><a href="#">Logout</a></li>
                <li class="dropdown-header">Pilih Akun</li>
                <li class=""><a href="/">User</a></li>
                <li class=""><a href="/indexuser">Admin</a></li>
                <li class="divider"></li>
                <li></li>
            </ul>

        </li>
    </ul>
</div><!-- /.navbar-collapse -->