<style>
    #nav-link[data-toggle].collapsed:after {
        content: "▾";
    }
    #nav-link[data-toggle]:not(.collapsed):after {
        content: "▴";
    }

    .a {
        padding: 1em 1em;
        box-shadow: inset 0 0 0 1px #000066;
        border-radius:5px;
    }
</style>
<div class="col-md-2 sidebar">
    <ul class="list-group">
        <li><a href="/" class="list-group-item"><span class="dot"></span> Beranda </a></li>
        <li><a href="/D_CariPelamar/view" class="list-group-item"><span class="dot"></span> Pelamar </a></li>
        <li><a href="/D_ProsesPelamar/view" class="list-group-item"><span class="dot"></span> Proses Pelamar </a></li>
        <li class="nav-item">
            <div class="a" id="nav-link collapsed" href="#submenu1" data-toggle="collapse" data-target="#submenu1">
                <span class="dot"></span><a style="color:#555555;padding-left:5px;">Penjadwalan</a><span class="caret"></span>
            </div>
            <div class="collapse" id="submenu1">
                <ul class="flex-column pl-2 nav">
                    <li><a class="a" style="color:#555555;padding-left:15px;" href="/D_Rencana_Jadwal/view">Rencana</a></li>
                    <li><a class="a" style="color:#555555;padding-left:15px;" href="/D_Penjadwalan_Undangan/view">Undangan</a></li>
                    <li><a class="a" style="color:#555555;padding-left:15px;" href="/D_Reschedule/lihat_reschedule">Reschedule Undangan</a></li>
                </ul>
            </div>
        </li>
        <li><a href="/supplier" class="list-group-item"><span class="dot"></span> Tes</a></li>
        <li><a href="/product" class="list-group-item"><span class="dot"></span> Bootcamp</a></li>
        <li><a href="/product" class="list-group-item"><span class="dot"></span> Laporan</a></li>

    </ul>
</div>