<div class="col-md-2 sidebar">
    <ul class="list-group">
        <li> <a href="/" class="list-group-item"><span class="dot"></span> Beranda</a></li>
        <li><a href="/users" class="list-group-item"><span class="dot"></span> Pelamar</a></li>
        <!--        <li><a href="/supplier" class="list-group-item"><span class="dot"></span> Proses Pelamar</a></li>-->
        <!--        <li><a href="/product" class="list-group-item"><span class="dot"></span> Penjadwalan</a></li>-->
        <li><a href="/supplier" class="list-group-item"><span class="dot"></span> Tes</a></li>
        <li><a href="/product" class="list-group-item"><span class="dot"></span> Bootcamp</a></li>
        <!--        <li><a href="/product" class="list-group-item"><span class="dot"></span> Laporan</a></li>-->

    </ul>
</div>