        <table class="table no-border" cellpadding="4" cellspacing="0" th:each="item: ${objrole}">
            <tr>
                <td colspan="2">Nama Perusahaan/Instansi*</td>
                <td>Kota</td>
                <td>Negara</td>
            </tr>
            <tr>
                <td colspan="2"><input type="text" th:value="*{item.companyName}" class="form-control" style="border: 2px solid rgb(0,0,102);border-radius: 4px; padding: 5px 10px;" id="namapt" required></td>
                <td><input type="text" th:value="*{item.city}" id="city" class="form-control" style="border: 2px solid rgb(0,0,102);border-radius: 4px; padding: 5px 10px;" ></td>
                <td><input type="text" th:value="*{item.country}" id="country" class="form-control" style="border: 2px solid rgb(0,0,102);border-radius: 4px; padding: 5px 10px;" ></td>
            </tr>
            <tr>
                <td colspan="2">Waktu Masuk *</td>
                <td colspan="2">Waktu Keluar</td>
            </tr>
            <tr>
                <td>
                    <select style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;" name="bulan" type="text" th:value="*{item.joinMonth}" class="form-control" id="bulan" required>
                        <option value=''>--Pilih Bulan--</option>
                        <option value='1'>January</option>
                        <option value='2'>February</option>
                        <option value='3'>March</option>
                        <option value='4'>April</option>
                        <option value='5'>May</option>
                        <option value='6'>June</option>
                        <option value='7'>July</option>
                        <option value='8'>August</option>
                        <option value='9'>September</option>
                        <option value='10'>October</option>
                        <option value='11'>November</option>
                        <option value='12'>December</option>
                    </select>
                </td>
                <td><select th:value="*{item.joinYear}" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;" id="tahun" required>
                    <option value="">--Pilih Tahun--</option>
                    <option th:each="i : ${#numbers.sequence(#dates.year(#dates.createNow())-100, #dates.year(#dates.createNow())+7)}" th:value="${i}" th:text="${i}">
                    </option>
                </select></td>
                <td>
                    <select style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;" type="text" th:value="*{item.resignMonth}" id="resignM" class="form-control">
                        <option value=''>--Pilih Bulan--</option>
                        <option value='1'>January</option>
                        <option value='2'>February</option>
                        <option value='3'>March</option>
                        <option value='4'>April</option>
                        <option value='5'>May</option>
                        <option value='6'>June</option>
                        <option value='7'>July</option>
                        <option value='8'>August</option>
                        <option value='9'>September</option>
                        <option value='10'>October</option>
                        <option value='11'>November</option>
                        <option value='12'>December</option>
                    </select>
                </td>
                <td><select th:value="*{item.resignYear}"  style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;" id="resignY">
                    <option value="">--Pilih Tahun--</option>
                    <option th:each="i : ${#numbers.sequence(#dates.year(#dates.createNow())-100, #dates.year(#dates.createNow())+7)}" th:value="${i}" th:text="${i}">
                    </option>
                </select></td>
            </tr>
            <tr>
                <td colspan="2">Posisi Terakhir*</td>
                <td colspan="2">Penghasilan Terakhir (IDR)</td>
            </tr>
            <tr>
                <td colspan="2"><input type="text" th:value="*{item.lastPosition}" class="form-control" style="border: 2px solid rgb(0,0,102);border-radius: 4px; padding: 5px 10px;" id="posisi" required></td>
                <td colspan="2"><input type="text" th:value="*{item.income}" id="income" class="form-control" style="border: 2px solid rgb(0,0,102);border-radius: 4px; padding: 5px 10px;" ></td>
            </tr>
            <tr>
                <td><input id="cek" type="hidden" th:value="*{item.isItRelated}">
                    <input id="checkbox1" type="checkbox" th:value="*{item.isItRelated}" value="true">
                    <label>IT Related?</label>
                </td>
            </tr>
            <tr>
                <td>Keterangan Singkat Mengenai Pekerjaan</td>
            </tr>
            <tr>
                <td colspan="4"><textarea rows="3" th:text="*{item.aboutJob}" id="job" class="form-control" style="border: 2px solid rgb(0,0,102);border-radius: 4px; padding: 5px 10px;" /></td>
            </tr>
            <tr>
                <td>Alasan Keluar</td>
            </tr>
            <tr>
                <td colspan="4"><input type="text" th:value="*{item.exitReason}" id="exit" class="form-control" style="border: 2px solid rgb(0,0,102);border-radius: 4px; padding: 5px 10px;" ></td>
            </tr>
            <tr>
                <td>Catatan</td>
            </tr>
            <tr>
                <td colspan="4"><textarea rows="3" th:text="*{item.notes}" id="notes" class="form-control" style="border: 2px solid rgb(0,0,102);border-radius: 4px; padding: 5px 10px;" /></td>
            </tr>
            <tr align="right">
                <td colspan="3">
                </td>
                <td class="btn-group">
                    <button class="btn btn-warning" style="width:100px;" onclick="bataleditRK()">Batal</button>
                    <button class="btn btn-primary" style="width:100px;" th:value="${item.id}" onclick="editRK(this.value)">Simpan</button>
                </td>
            </tr>
        </table>
<th:block layout:fragment="jsgilang">
    <script>

var cek = $('#cek').val();

if (cek == ',true') {
$("#checkbox1").prop('checked', true);
}else{
$("#checkbox1").prop('checked', false);
}

        $("#btn-batal").click(function () {
            $("#modalkerja").hide();
            $(".modal-backdrop.in").hide();
    });

        var checkbox = $( "#checkbox1" );
        checkbox.val( checkbox[0].checked ? "true" : "false" );


        $(document).ready(function () {
            $("#bulan").click(function () {
                var t = $("#bulan").val()

                if (t > 0) {
                    $("#resignM").prop("disabled", false);
                    $("#resignY").prop("disabled", false);
                } else {
                    $("#resignM").prop("disabled", true);
                    $("#resignY").prop("disabled", true);
                }
            });
        });
    </script>
</th:block>
</html>