
        <table class="table no-border" cellpadding="4" cellspacing="0">
            <tr>
                <td colspan="2">Nama Perusahaan/Instansi*</td>
                <td>Kota</td>
                <td>Negara</td>
            </tr>
            <tr>
                <td colspan="2"><input onclick="normalizingstyle(this.id)" type="text" class="form-control" style="border: 2px solid rgb(0,0,102);border-radius: 4px; padding: 5px 10px;" id="namapt" required></td>
                <td><input type="text" id="city" class="form-control" style="border: 2px solid rgb(0,0,102);border-radius: 4px; padding: 5px 10px;" ></td>
                <td><input type="text" id="country" class="form-control" style="border: 2px solid rgb(0,0,102);border-radius: 4px; padding: 5px 10px;" ></td>
            </tr>
            <tr>
                <td colspan="2">Waktu Masuk *</td>
                <td colspan="2">Waktu Keluar</td>
            </tr>
            <tr>
                <td>
                    <select class="form-control" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;" type="text" onclick="normalizingstyle(this.id)" id="bulan" required>
                        <option value=''>--Pilih Bulan--</option>
                        <option value='1'>January</option>
                        <option value='2'>February</option>
                        <option value='3'>March</option>
                        <option value='4'>April</option>
                        <option value='5'>May</option>
                        <option value='6'>June</option>
                        <option value='7'>July</option>
                        <option value='8'>August</option>
                        <option value='9'>September</option>
                        <option value='10'>October</option>
                        <option value='11'>November</option>
                        <option value='12'>December</option>
                    </select>
                </td>
                <td><select class="form-control" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;" id="tahun" onclick="normalizingstyle(this.id)" required>
                    <option value="">--Pilih Tahun--</option>
                    <option th:each="i : ${#numbers.sequence(#dates.year(#dates.createNow())-100, #dates.year(#dates.createNow())+7)}" th:value="${i}" th:text="${i}">
                    </option>
                </select></td>
                <td>
                    <select style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;" type="text" class="form-control" id="resignM">
                        <option value=''>--Pilih Bulan--</option>
                        <option value='1'>January</option>
                        <option value='2'>February</option>
                        <option value='3'>March</option>
                        <option value='4'>April</option>
                        <option value='5'>May</option>
                        <option value='6'>June</option>
                        <option value='7'>July</option>
                        <option value='8'>August</option>
                        <option value='9'>September</option>
                        <option value='10'>October</option>
                        <option value='11'>November</option>
                        <option value='12'>December</option>
                    </select>
                </td>
                <td><select class="form-control" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;" id="resignY">
                    <option value="">--Pilih Tahun--</option>
                    <option th:each="i : ${#numbers.sequence(#dates.year(#dates.createNow())-100, #dates.year(#dates.createNow())+7)}" th:value="${i}" th:text="${i}">
                    </option>
                </select></td>
            </tr>
            <tr>
                <td colspan="2">Posisi Terakhir*</td>
                <td colspan="2">Penghasilan Terakhir (IDR)</td>
            </tr>
            <tr>
                <td colspan="2"><input type="text" class="form-control" style="border: 2px solid rgb(0,0,102);border-radius: 4px; padding: 5px 10px;" id="posisi" onclick="normalizingstyle(this.id)" required></td>
                <td colspan="2"><input type="text" id="income" class="form-control" style="border: 2px solid rgb(0,0,102);border-radius: 4px; padding: 5px 10px;" ></td>
            </tr>
            <tr>
                <td><input type="checkbox" id="checkbox1" value="true">
                    <label>IT Related?</label>
                </td>
            </tr>
            <tr>
                <td>Keterangan Singkat Mengenai Pekerjaan</td>
            </tr>
            <tr>
                <td colspan="4"><textarea rows="3" id="job" class="form-control" style="border: 2px solid rgb(0,0,102);border-radius: 4px; padding: 5px 10px;" /></td>
            </tr>
            <tr>
                <td>Alasan Keluar</td>
            </tr>
            <tr>
                <td colspan="4"><input type="text" id="exit" class="form-control" style="border: 2px solid rgb(0,0,102);border-radius: 4px; padding: 5px 10px;" ></td>
            </tr>
            <tr>
                <td>Catatan</td>
            </tr>
            <tr>
                <td colspan="4"><textarea rows="3" id="notes" class="form-control" style="border: 2px solid rgb(0,0,102);border-radius: 4px; padding: 5px 10px;" /></td>
            </tr>
            <tr align="right">
                <td colspan="3">
                </td>
                <td class="btn-group">
                    <Button class="btn btn-warning" style="width:100px;" onclick="batalsaveRK()">Batal</Button>
                    <button class="btn btn-primary" style="width:100px;" onclick="saveRK(this.value)">Simpan</button>
                </td>
            </tr>
        </table>
    </form>
</th:block>
<th:block layout:fragment="jsgilang">
    <script>
         $("#btn-batal").click(function () {
            $("#modalkerja").hide();
            $(".modal-backdrop.in").hide();
        });

        $("#resignM").prop("disabled", true);
        $("#resignY").prop("disabled", true);

        $(document).ready(function () {
            $("#bulan").click(function () {
                var t = $("#bulan").val()

                if (t > 0) {
                    $("#resignM").prop("disabled", false);
                    $("#resignY").prop("disabled", false);
                } else {
                    $("#resignM").prop("disabled", true);
                    $("#resignY").prop("disabled", true);
                }
            });
        });
    </script>
</th:block>
</html>