<form th:action="@{~/D_RiwayatKerja/is_delete}" method="post" th:object = "${objrole}">
    <input type="hidden" th:field="*{id}">
    <input type="hidden" th:field="*{companyName}">
    <input type="hidden" th:field="*{city}">
    <input type="hidden" th:field="*{joinYear}">
    <input type="hidden" th:field="*{joinMonth}">
    <input type="hidden" th:field="*{resignYear}">
    <input type="hidden" th:field="*{resignMonth}">
    <input type="hidden" th:field="*{country}">
    <input type="hidden" th:field="*{lastPosition}">
    <input type="hidden" th:field="*{income}">
    <input type="hidden" th:field="*{aboutJob}">
    <input type="hidden" th:field="*{exitReason}">
    <input type="hidden" th:field="*{notes}">
    <input type="hidden" th:field="*{createdBy}">
    <input id="datepicker" type="hidden" th:field="*{createdOn}">
    <input type="hidden" th:field="*{biodataId}" id="biodid">
    <table class="table no-border" cellpadding="5" cellspacing="0">
        <tr>
            <td rowspan="2">
                <i class="fa fa-trash" style="font-size: 100px;"></i>
            </td>
        </tr>
        <tr>
            <td align="center"><h3 th:utext="${'Anda yakin ingin menghapus pengalaman di '+'&lt;br/&gt;'+'&lt;strong&gt;'+objrole.companyName+' ?'+'&lt;/strong&gt;'}"/></td>
        </tr>
        <tr align="right">
            <td></td>
            <td class="btn-group">
                <input class="btn btn-warning" style="width:100px;" type="button" value="Tidak" data-dismiss="modal">
                <input class="btn btn-danger" style="width:100px;" type="submit" value="Ya">
            </td>
        </tr>
    </table>
</form>
<th:block layout:fragment="jsgilang">
    <script>
        var dobId = $("#datepicker").val();

        if (dobId == '') {
        } else {
            var cutDob = dobId.split(" ");
            cutDob = cutDob[0].split("-");
            console.log(cutDob);
            $("#datepicker").val(cutDob[0] + "/" + cutDob[1] + "/" + cutDob[2]);
        }
    </script>
</th:block>
