<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with" >

<th:block layout:fragment="content">
    <title>Role</title>
    <div id="list-kerja">
        <div>
            <h2 style="color:rgb(0, 0, 102)">Pengalaman Kerja
                <button type="button"
                        style="border:0;background: none;color: inherit;border: none;padding: 0;font: inherit;cursor: pointer;outline: inherit;"
                        class="btn  btn-primary btn-round" id="addbutton">
                    <span class="fa fa-plus-circle" style="color:black"></span></button>
            </h2>
        </div>
        <input type="hidden" id="viewo" th:value="${biodataid}">
        <table class="table table-striped"  id="kerjatable">
            <thead>
            <tr style="border-top: 2px solid rgb(0,0,102);border-bottom: 3px solid rgb(0,0,102);">
                <th>DETAIL PEKERJAAN</th>
                <th>CATATAN</th>
                <th>#</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${kerjaList}">
                <td th:utext="${item.companyName+' ('+item.joinYear+'-'+item.joinMonth+' s/d '+item.resignYear+'-'+item.resignMonth+')'+'&lt;br/&gt;'
                +'coba'}"></td>
                <td th:text="${item.notes}"></td>
                <td>
                    <li class="dropdown ">
                        <button style="background-color:rgb(0, 0, 102); color:white" class="dropdown-toggle btn btn-primary" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span></span>More
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu">
                            <li class=""><button class="form-control" onclick="tampileditRK(this.value)" type="button" th:value="${item.id}"
                                                 style="background-color: Transparent; background-repeat:no-repeat;
                                            border: none; cursor:pointer;overflow: hidden;outline:none">Edit</button></li>
                            <li class=""><button class="form-control" onclick="tampilhapusRK(this.value)" type="button" th:value="${item.id}"
                                                 style="background-color: Transparent; background-repeat:no-repeat;
                                            border: none; cursor:pointer;overflow: hidden;outline:none">Hapus</button></li>
                            <li class=""><button class="form-control" id="projectbutton" type="button" th:value="${item.id}"
                                                 style="background-color: Transparent; background-repeat:no-repeat;
                                            border: none; cursor:pointer;overflow: hidden;outline:none">Tambah Project</button></li>
                        </ul>
                    </li>
                </td>
            </tr>
            </tbody>
        </table>

        <!--  Add Modal -->
        <div class="modal fade" id="modalkerja" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document" style="height:relative;width:90%">
                <div class="modal-content" style="border-radius:10px;border: 2px solid rgb(0,0,102);">
                    <div class="modal-header " style="border-top-left-radius:8px;border-top-right-radius:8px;background-color:rgb(0,0,102); color:white;">
                        <h3 class="modal-title" >Tambah Pengalaman Kerja
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button></h3>
                    </div>
                    <div class="modal-bodykerja" id="modalkerjabody" style="overflow:auto">

                    </div>
                </div>
            </div>
        </div>

        <!--  Delete  Modal -->
        <div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-danger" role="document">
                <div class="modal-content" style="border-radius:10px;border: 2px;">
                    <div class="modal-header" style="border-top-left-radius:8px;border-top-right-radius:8px;">
                        <h3 class="modal-title" >Hapus Role?
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button></h3>
                    </div>
                    <div class="modal-delete" id="deletebody">

                    </div>
                </div>
            </div>
        </div>

    </div>
</th:block>
<th:block layout:fragment="jsgilang">
    <!--Hapus-->
    <script>
    function tampilhapusRK(id) {
        console.log('in click delete...');
        console.log(id);
        $.ajax({
            url: '/D_RiwayatKerja/getRK/' + id,
            type: 'get',
            success: function (hasil) {
                var str = '<table cellpadding="5" cellspacing="0" class="table no-border">'+
                '<tr><td rowspan="2"><i class="fa fa-trash" style="font-size: 100px;"></i></td><tr align="center">'+
                '<td style="color:#B30909;">'+
                '<h3>Anda yakin ingin menghapus pengalaman di <br/><strong>'+hasil.companyName+'</strong> ?</h3></td></tr>'+
                '<tr align="right"><td></td>'+
                '<td class="btn-group"><button class="btn btn-warning" style="width:100px;" onclick="batalhapusRK()">Batal</button>'+
                '<button class="btn btn-danger" style="width:100px;" onclick="hapusRK('+hasil.id+')">Hapus</button></td></tr></table>';
                document.getElementById('deletebody').innerHTML = str;
                $("#deletemodal").modal('show');
            }
        });
    };

    function batalhapusRK(){
        console.log('keklik');
        $("#deletemodal").modal('hide');
        $("#detailmodal").modal('show');
    };

    function hapusRK(id){
        console.log(id);
        var d = new Date();

        var month = d.getMonth()+1;
        var day = d.getDate();

        var strDate = d.getFullYear() + '-' +
        (month<10 ? '0' : '') + month + '-' +
        (day<10 ? '0' : '') + day ;
        $.ajax({
            url: '/D_RiwayatKerja/getRK/' + id,
            type: 'get',
            success: function (hasil) {
                $.ajax({
                    url: '/D_RiwayatKerja/editRK/' + id,
                    type:'put',
                    data:'{"id":'+hasil.id+',"createdBy":'+hasil.createdBy+',"createdOn":"'+hasil.createdOn+'","modifiedBy":'+hasil.modifiedBy+
                    ',"modifiedOn":"'+hasil.modifiedOn+'","deletedBy":'+1+',"deletedOn":"'+strDate+'","biodataId":'+hasil.biodataId+
                    ',"companyName":"'+hasil.companyName+'","city":"'+hasil.city+'","country":"'+hasil.country+'","joinYear":"'+hasil.joinYear+
                    '","joinMonth":"'+hasil.joinMonth+'","resignYear":"'+hasil.resignYear+'","resignMonth":"'+hasil.resignMonth+'","lastPosition":"'+hasil.lastPosition+
                    '","income":"'+hasil.income+'","isItRelated":"'+hasil.isItRelated+'","aboutJob":"'+hasil.aboutJob+'","exitReason":"'+hasil.exitReason+
                    '","notes":"'+hasil.notes+'","delete":'+true+'}',
                    success:function(){
                        $("#deletemodal").modal('hide');
                        $.ajax({
                            url:'/D_RiwayatKerja/lihat_riwayatKerja/' + hasil.biodataId,
                            type: 'get',
                            dataType: 'html',
                            success: function(hasil2) {
                                $('#fragmentpelamar').html(hasil2);
                            }
                        });
                    },
                    dataType:'json',
                    contentType:'application/json'
                });
            }
        });
    }


</script>

    <!--Save-->
    <script>
    function normalizingstyle(param){
        var data = document.getElementById(param);
        data.style.borderColor="rgb(0,0,102)";
        data.style.boxShadow="none";
    }

    $('#addbutton').click(function () {
            console.log('Click in here...');
            var b = $('#viewo').val();
            console.log(b);

            $.ajax(
                {
                    url: '/D_RiwayatKerja/form',
                    dataType: "html",
                    success: function (data) {
                        $('.modal-bodykerja').html(data);
                        $('#modalkerja').modal('show');

                        $(function () {
                            $("#datepicker").datepicker();
                        });


                    },
                    error: function (e) {
                        alert('Error: ' + e);
                    }
                });
        });

    function batalsaveRK(){
        console.log('keklik');
        $("#modalkerja").modal('hide');
        $("#detailmodal").modal('show');
    };

    function saveRK(){
        console.log('saveRk....');
        var b = $('#viewo').val();
        console.log('bio id'+b);
        var d = new Date();

        var month = d.getMonth()+1;
        var day = d.getDate();

        var strDate = d.getFullYear() + '-' +
        (month<10 ? '0' : '') + month + '-' +
        (day<10 ? '0' : '') + day ;

            if ($('#namapt').val() == "" || $('#bulan').val() == "" || $('#tahun').val() == "" || $('#posisi').val() == "") {
                alert('Harap Masukkan Data Pada Kolom Berwarna Merah')
                if($('#namapt').val() == ""){
                document.getElementById('namapt').style.borderColor="rgb(200,0,0)";
                document.getElementById('namapt').style.boxShadow="0px 0px 5px rgb(150,0,0)";}
                if($('#bulan').val() == "" || $('#tahun').val() == ""){
                document.getElementById('bulan').style.borderColor="rgb(200,0,0)";
                document.getElementById('bulan').style.boxShadow="0px 0px 5px rgb(150,0,0)";
                document.getElementById('tahun').style.borderColor="rgb(200,0,0)";
                document.getElementById('tahun').style.boxShadow="0px 0px 5px rgb(150,0,0)";
                }
                if($('#posisi').val() == ""){
                document.getElementById('posisi').style.borderColor="rgb(200,0,0)";
                document.getElementById('posisi').style.boxShadow="0px 0px 5px rgb(150,0,0)";}
            }else{
                $.ajax({
                    url: '/D_RiwayatKerja/saveRK/',
                    type:'post',
                    data:'{"createdBy":'+1+',"createdOn":"'+strDate+'","modifiedBy":'+null+
                    ',"modifiedOn":"'+null+'","deletedBy":'+null+',"deletedOn":"'+null+'","biodataId":'+b+
                    ',"companyName":"'+$('#namapt').val()+'","city":"'+$('#city').val()+'","country":"'+$('#country').val()+'","joinYear":"'+$('#tahun').val()+
                    '","joinMonth":"'+$('#bulan').val()+'","resignYear":"'+$('#resignY').val()+'","resignMonth":"'+$('#resignM').val()+'","lastPosition":"'+$('#posisi').val()+
                    '","income":"'+$('#income').val()+'","isItRelated":"'+$('#checkbox1').val()+'","aboutJob":"'+$('#job').val()+'","exitReason":"'+$('#exit').val()+
                    '","notes":"'+$('#notes').val()+'","delete":'+false+'}',
                    success:function(){
                        $("#modalkerja").modal('hide');
                        $.ajax({
                            url:'/D_RiwayatKerja/lihat_riwayatKerja/' + b,
                            type: 'get',
                            dataType: 'html',
                            success: function(hasil2) {
                                $('#fragmentpelamar').html(hasil2);
                                $("#detailmodal").modal('show');
                            }
                        });
                    },
                    dataType:'json',
                    contentType:'application/json'
                })
            }
            }



</script>

    <!--Edit-->
    <script>
    function tampileditRK(vId) {
            console.log('in click editbutton...');
            $.ajax({
                url: '/D_RiwayatKerja/edit/' + vId,
                type: 'get',
                dataType: 'html',
                success: function (hasil) {
                    $('#modalkerjabody').html(hasil);
                    $("#modalkerja").modal('show');
                }
            })
        };

    function bataleditRK(){
        console.log('keklik');
        $("#modalkerja").modal('hide');
        $("#detailmodal").modal('show');
    };

    function editRK(id){
        console.log('editRk....');
        console.log(id);
        var d = new Date();

        var month = d.getMonth()+1;
        var day = d.getDate();

        var strDate = d.getFullYear() + '-' +
        (month<10 ? '0' : '') + month + '-' +
        (day<10 ? '0' : '') + day ;
        $.ajax({
            url: '/D_RiwayatKerja/getRK/' + id,
            type: 'get',
            success: function (hasil) {
                $.ajax({
                    url: '/D_RiwayatKerja/editRK/' + id,
                    type:'put',
                    data:'{"id":'+hasil.id+',"createdBy":'+hasil.createdBy+',"createdOn":"'+hasil.createdOn+'","modifiedBy":'+1+
                    ',"modifiedOn":"'+strDate+'","deletedBy":'+hasil.deletedBy+',"deletedOn":"'+hasil.deletedOn+'","biodataId":'+hasil.biodataId+
                    ',"companyName":"'+$('#namapt').val()+'","city":"'+$('#city').val()+'","country":"'+$('#country').val()+'","joinYear":"'+$('#tahun').val()+
                    '","joinMonth":"'+$('#bulan').val()+'","resignYear":"'+$('#resignY').val()+'","resignMonth":"'+$('#resignM').val()+'","lastPosition":"'+$('#posisi').val()+
                    '","income":"'+$('#income').val()+'","isItRelated":"'+$('#checkbox1').val()+'","aboutJob":"'+$('#job').val()+'","exitReason":"'+$('#exit').val()+
                    '","notes":"'+$('#notes').val()+'","delete":'+hasil.delete+'}',
                    success:function(){
                        $("#modalkerja").modal('hide');
                        $.ajax({
                            url:'/D_RiwayatKerja/lihat_riwayatKerja/' + hasil.biodataId,
                            type: 'get',
                            dataType: 'html',
                            success: function(hasil2) {
                                $('#fragmentpelamar').html(hasil2);
                                $("#detailmodal").modal('show');
                            }
                        });
                    },
                    dataType:'json',
                    contentType:'application/json'
                });
            }
        });
    }


</script>

    <script>


        $('#addbutton').click(function () {
            console.log('Click in here...');
            var b = $('#viewo').val();
            console.log(b);
            $.ajax(
                {
                    url: '/D_RiwayatKerja/form',
                    dataType: "html",
                    success: function (data) {
                        $('.modal-bodykerja').html(data);
                        $('#modalkerja').modal('show');
                        $('#biodid').val(b);

                        $(function () {
                            $("#datepicker").datepicker();
                        });


                    },
                    error: function (e) {
                        alert('Error: ' + e);
                    }
                });
        });

        $("#list-kerja").on('click', '#editbutton', function () {
            console.log('Klik Disini');
            var vId = $(this).val();

            $.ajax({
                url: '/D_RiwayatKerja/edit/' + vId,
                type: 'get',
                dataType: 'html',
                success: function (hasil) {
                    $('.modal-bodykerja').html(hasil);
                    $("#modalkerja").modal('show');
                }
            });
        });

        $("#list-kerja").on('click', '#deletebutton', function () {
            console.log('Klik Disini');
            var vId = $(this).val();

            $.ajax({
                url: '/D_RiwayatKerja/hapus/' + vId,
                type: 'get',
                dataType: 'html',
                success: function (hasil) {
                    $('.modal-delete').html(hasil);
                    $("#deletemodal").modal('show');
                }
            });
        });

        function loadData() {
            $.ajax({
                url: '/D_RiwayatKerja/lihat_riwayatKerja',
                type: 'get',
                dataType: 'html',
                success: function (hasil) {
                    $(".modal-backdrop.in").hide();
                    $('#list-kerja').html(hasil);
                }
            });
        }
    </script>
</th:block>
</html>