<form th:action="@{/D_Catatan/save}" method="post" th:object="${objc}">
    <table class="table" style="border-spacing:20px; border:none;">
        <tr>
            <td hidden><input type="hidden" th:field="*{Id}">
                <input type="hidden" th:field="*{biodataId}" id="biodidc" >
            </td>
        </tr>
            <td>Judul Catatan*<br><input type="text" th:field="*{title}" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;" required></td>
            <td>Jenis Catatan*<br>
                <select th:field="*{noteTypeId}" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;" required>
<!--                    <option value="">- Pilih -</option>-->
                    <option th:each="item:${listn}" th:value="${item.Id}" th:text="${item.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2">Catatan<br><textarea aria-rowspan="3" type="text" th:field="*{notes}" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"></textarea></td>
        </tr>
        <tr align="right">
            <td> </td>
            <td colspan="2" class="btn-group" >
                <input class="btn btn-primary" type="submit" value="Simpan" id="btn-simpan" style="width:100px;">
                <input class="btn btn-warning" onclick="batalcat()" value="Batal" type="button" style="width:100px;">
            </td>
        </tr>

    </table>
</form>

<script>
    function batalcat() {
        $("#cmodal").modal('hide');
        $("#detailmodal").modal('show');
    }
</script>