<form th:action="@{/D_Catatan/delete}" method="POST" th:object="${objc}">
    <input type="hidden" th:field="*{id}">
    <input type="hidden" th:field="*{biodataId}">
    <input type="hidden" th:field="*{title}">
    <input type="hidden" th:field="*{noteTypeId}">
    <input type="hidden" th:field="*{createdBy}">
    <input type="hidden" th:field="*{createdOn}" id="datacreated">
    <table class="table no-border" cellspacing="0" cellpadding="5">
        <tr>
            <td rowspan="2">
                <i class="fa fa-trash" style="font-size: 100px;"></i>
            </td>
        </tr>
        <tr align="center">
            <td style="color:#B30909;"><h3 th:utext="${'Anda yakin ingin menghapus Organisasi '+'&lt;br/&gt;'+' '+'&lt;strong&gt;'+objc.title +' ?'+'&lt;/strong&gt;'}"></h3></td>
        </tr>
        <tr align="right">
            <td> </td>
            <td colspan="2" class="btn-group">
                <input id="btn-tidak" class="btn btn-warning" type="button" style="width:100px;"value="Tidak"/>
                <input id="btn-ya" class="btn btn-danger" type="submit" style="width:100px;" value="Ya" />
            </td>
        </tr>
    </table>
</form>
<script th:inline="javascript">
    var dobId2 = $("#datacreated").val();

if (dobId2 == '') {
} else {
    var cutDob2 = dobId2.split(" ");
    cutDob2 = cutDob2[0].split("-");
    console.log(cutDob2);
    $("#datacreated").val(cutDob2[0] + "/" + cutDob2[1] + "/" + cutDob2[2]);
}

</script>
<script>
    $("#btn-tidak").click(function () {
        $("#deletemodal").hide();
        $(".modal-backdrop.in").hide();
    });
    $("#btn-ya").click(function () {
        $("#deletemodal").hide();
        $(".modal-backdrop.in").hide();
    });
</script>
