<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with" >

<th:block layout:fragment="content">
    <div id="list-catatan" >
        <div>
            <h3>Catatan <button id="buttontambaho"
                                   style="border:0;background: none;color: inherit;border: none;padding: 0;font: inherit;cursor: pointer;outline: inherit;"
                                   type="button"><span class="fa fa-plus-circle"></span></button></h3>
        </div>
        <input type="hidden" id="viewc" th:value="${biodataid}">
        <table class="table" style="align:center;">
            <thead>
            <tr style="border-top: 2px solid rgb(0,0,102);border-bottom: 3px solid rgb(0,0,102);">
                <th>Judul Catatan</th>
                <th>Jenis Catatan</th>
                <th>Dibuat Oleh</th>
                <th>#</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item, key: ${listcatatan}" style="border-top: 2px solid rgb(0,0,102);">
                <td th:text="${item.title}"></td>
                <td th:text="${item.note.name}"></td>
                <td th:text="${item.createdBy}"></td>
                <!--                    <input type="hidden" th:value="${item.biodataId}">-->
                <td>
                    <div class="btn-group">
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">More <span
                                class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><button type="button" id="btn-update"
                                        style="border:0;background: none;color: inherit;border: none;padding: 0;font: inherit;cursor: pointer;outline: inherit;"
                                        th:value="${item.Id}">Ubah</button></li>
                            <li><button type="button" id="btn-delete"
                                        style="border:0;background: none;color: inherit;border: none;padding: 0;font: inherit;cursor: pointer;outline: inherit;"
                                        th:value="${item.Id}">Hapus</button></li>
                        </ul>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="cmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="width:70%;">
            <div class="modal-content" style="border-radius:10px;border: 2px solid rgb(0,0,102);">
                <div class="modal-header" style="border-top-left-radius:8px;border-top-right-radius:8px;background-color:rgb(0,0,102); color:white;">
                    <h5 class="modal-title" id="exampleModalLongTitle" style="font-size:20px;color:white;">Tambah Catatan
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h5>
                </div>
                <div class="modal-bodyc">
                    ...
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="cmodaledit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="width:70%;">
            <div class="modal-content" style="border-radius:10px;border: 2px solid rgb(0,0,102);">
                <div class="modal-header" style="border-top-left-radius:8px;border-top-right-radius:8px;background-color:rgb(0,0,102); color:white;">
                    <div class="modal-title" style="font-size:20px;color:white;">Edit Catatan
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <div class="modal-bodycedit">
                    ...
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deletemodalc" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-danger" role="document">
            <div class="modal-content" style="border-radius:10px;border: 2px solid rgb(204,0,0);">
                <div class="modal-header" style="border-top-left-radius:8px;border-top-right-radius:8px; color:white;">
                    <h4 class="modal-title" id="deleteTitle" style="font-size:20px;color:white;">Hapus Catatan
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h4>
                </div>
                <div class="modalc-delete">
                    ...
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="jsolif">
    <script>
        $(document).ready(function(){
            $('#datatable').DataTable();
        });
        $('#buttontambaho').click(function () {
            console.log('Click in here...');
            var b = $('#viewc').val();
            console.log(b);
            $.ajax(
                {
                    url: '/D_Catatan/form',
                    dataType: "html",
                    success: function (data) {
                        $('.modal-bodyc').html(data);
                        $('#cmodal').modal('show');
                        $('#biodidc').val(b);
                    },
                    error: function (e) {
                        alert('Error: ' + e);
                    }
                });
        });

        $("#list-catatan").on('click', '#btn-update', function () {
            console.log('Klik Disini');
            var vId = $(this).val();

            $.ajax({
                url: '/D_Catatan/edit/' + vId,
                type: 'get',
                dataType: 'html',
                success: function (hasil) {
                    $('.modal-bodycedit').html(hasil);
                    $("#cmodaledit").modal('show');
                }
            });
        });

        $("#list-catatan").on('click', '#btn-delete', function () {
            console.log('Klik Disini');
            var vId = $(this).val();

            $.ajax({
                url: '/D_Catatan/hapus/' + vId,
                type: 'get',
                dataType: 'html',
                success: function (hasil) {
                    $('.modalc-delete').html(hasil);
                    $("#deletemodalc").modal('show');
                }
            });
        });

        function loadData() {
            $.ajax({
                url: '/D_Catatan/view',
                type: 'get',
                dataType: 'html',
                success: function (hasil) {
                    $(".modal-backdrop.in").hide();
                    $('#list-catatan').html(hasil);
                }
            });
        }

    </script>

</th:block>

</html>