<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:with="http://www.thymeleaf.org/extras/with" layout:decorate="~{layout}" with:title="'B210'">
<th:block layout:fragment="content">
    <table class="table" style="border-spacing:20px; border:none;">
        <tr>
            <td>Tahun*
                <select id="tahun-mulai"
                    style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"
                    class="form-control">
                    <option value="">- Pilih Tahun -</option>
                    

                </select>
            </td>
            <td>Bulan
                <select id="bulan-mulai"
                    style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"
                    class="form-control">
                    <option value="">- Pilih Bulan -</option>
                    <option th:value=1 th:text="Januari"></option>
                    <option th:value=2 th:text="Februari"></option>
                    <option th:value=3 th:text="Maret"></option>
                    <option th:value=4 th:text="April"></option>
                    <option th:value=5 th:text="Mei"></option>
                    <option th:value=6 th:text="Juni"></option>
                    <option th:value=7 th:text="Juli"></option>
                    <option th:value=8 th:text="Agustus"></option>
                    <option th:value=9 th:text="September"></option>
                    <option th:value=10 th:text="Oktober"></option>
                    <option th:value=11 th:text="November"></option>
                    <option th:value=12 th:text="Desember"></option>
                </select>
            </td>

        </tr>

    </table>

    
    <div>
        <div align="right">
            <button class="btn btn-warning" id="btn-batal" disabled>Batal</button>
            <button class="btn btn-danger" id="btn-tolak" disabled>Tolak</button>
            <button class="btn btn-primary" id="btn-setuju" disabled>Setujui</button>
        </div>
    </div>
    <script th:inline="javascript">
        // $("#tahun-akhir").prop("disabled", true);
        //     $("#bulan-akhir").prop("disabled", true);

        $(document).ready(function () {
            $("#tahun-mulai").click(function () {
                var id = parseInt( $("#tahun-mulai").val());
                $("#bulan-mulai").click(function () {
                    var id2 = $("#bulan-mulai").val();
                    if ((id > 0) && (id2 > 0)) {
                        $("#btn-batal").prop("disabled", false);
                        $("#btn-tolak").prop("disabled", false);
                        $("#btn-setuju").prop("disabled", false);
                        $.ajax({
                        url: '/timesheet/' + id + '/' +
                            id2,
                        type: 'get',
                        dataType: "html",
                        success: function (result) {
                            window.location.href = '/timesheet/' + id + '/' +
                                id2;
                        }
                    });
                    }
                    if ((id == 0) && (id2 == 0)) {
                        $("#btn-batal").prop("disabled", true);
                        $("#btn-tolak").prop("disabled", true);
                        $("#btn-setuju").prop("disabled", true);
                        
                    }
                    

                });
            });
        });
        for (i = 2010; i < 2025; i++) {
            $('#tahun-mulai').append($('<option />').val(i).html(i));
        }
    </script>
</th:block>