<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with">

<th:block layout:fragment="content">
    <form  id="form-rencana" th:object="${objrencana}">
    <table class="table no-border" cellpadding="5" cellspacing="0">
        <tr>
            <td>
                <input type="text" id="scheduleDate" placeholder="Tgl.Rencana Jadwal"
                       style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;">
            </td>
            <td>
                <input required type="hidden" id="timedata">
                <input required type="time" id="time" placeholder="Jam *" onchange="pindahin(this.value)"
                       style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;">
            </td>
        </tr>
        <tr>
            <td>
                <select id="ro"
                        style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;">
                    <option value="">RO</option>
                    <option th:each="item:${rolist}" th:value="${item.Id}" th:text="${item.roName}"></option>
                </select>
            </td>
            <td>
                <select id="tro"
                        style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;">
                    <option value="">TRO</option>
                    <option th:each="item:${trolist}" th:value="${item.Id}" th:text="${item.troName}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <select required id="scheduleTypeId"
                        style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;">
                    <option value="">Jenis Jadwal *</option>
                    <option th:each="item:${schlist}" th:value="${item.Id}" th:text="${item.name}"></option>
                </select>
            </td>
            <td>
                <input type="text" id="location" placeholder="Lokasi"
                       style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="text" id="otherRoTro" placeholder="RO / TRO Lain"
                       style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <textarea id="notes" placeholder="Catatan"
                          style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox" id="isAutomaticMail">Kirim Undangan Otomatis
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" id="sentDate"
                       style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;">
            </td>
        </tr>
        <tr>
            <td style="border-bottom: 2px solid rgb(0,0,102);" colspan="2">Pelamar</td>
            <br>
        </tr>
    </table>
    <div id="listbiodata">

    </div>
    <br>
    <table>
        <tr align="right">
            <td>

            </td>
            <td class="btn-group">
                <button type="button" data-dismiss="modal" id="batalbutton" class="btn"
                        style="background-color:#66CCCC;color:white;">Batal
                </button>
                <button id="simpanbutton" class="btn btn-primary" type="button">Simpan</button>
            </td>
        </tr>
    </table>
    </form>

    <script>
    $(document).ready(function() {
                console.log($('#isAutomaticMail').val());

        //getrencanadata();
        console.log("Ready...........");
        $.ajax({
            url: '/D_Rencana_Jadwal/view_list_biodata',
            type: 'get',
            dataType: 'html',
            success: function (hasil) {
            $('#listbiodata').show();
            $('#listbiodata').html(hasil);
            }
        });
        $('#simpanbutton').click(function(){
            console.log('apa aka');
            tambahdatarencana();
        });
    });

    /*function getrencanadata(){
        $.ajax({

        url: '/D_TambahPelamar/getbiodata',
        type: 'get',
        success:function(data){
            console.log(data);
            var str = '<table cellpadding="5" cellspacing="0" class="table no-border">';
                for( i = 0; i < data.length; i++){
                    str += '<tr><td>';
                    str += '<input type="checkbox" name="biodata" value="'+ data[i].id +'">';
                    str += '<span>'+ data[i].fullName +'</span>';
                    str += '</td></tr>';
                }
                str += '</table>';
                document.getElementById('listbiodata').innerHTML = str;
            },
        });
    }*/

    function pindahin (value){
        $('#timedata').val(value);
        console.log($('#timedata').val());
    }

    $(function () {
            $("#scheduleDate").datepicker({
                dateFormat: 'yy-mm-dd'
            });
            $("#sentDate").datepicker({
                dateFormat: 'yy-mm-dd'
            });
    });

    function tambahdatarencana(){
		$.ajax({
                    url: '/D_Rencana_Jadwal/idmax',
                    type: 'get',
					success: function(data){
						var c = Date().toString().split(" ");
						if(c[1]=="Jan"){c[1] = "1"}
						else if(c[1]=="Feb"){c[1] = "2"}
						else if(c[1]=="Mar"){c[1] = "3"}
						else if(c[1]=="Apr"){c[1] = "4"}
						else if(c[1]=="May"){c[1] = "5"}
						else if(c[1]=="Jun"){c[1] = "6"}
						else if(c[1]=="Jul"){c[1] = "7"}
						else if(c[1]=="Aug"){c[1] = "8"}
						else if(c[1]=="Sep"){c[1] = "9"}
						else if(c[1]=="Oct"){c[1] = "10"}
						else if(c[1]=="Nov"){c[1] = "11"}
						else if(c[1]=="Dec"){c[1] = "12"};
						var b = c[3]+"-"+c[1]+"-"+c[2]+"T"+c[4]+".000+0000";
						var id = data + 1;
						console.log('ini idnya '+ id);

						var automail = new Boolean;
						var sentdate = $('#sentDate').val()+'T10:00:00.000+0700';
						if(document.getElementById('isAutomaticMail').checked==true){
							automail = true;
						}
						else if(document.getElementById('isAutomaticMail').checked==false){
							automail = false;
							sentdate = null;
						}

						var schCode = "JDW0000000";
						if ((id > 0) && (id < 10)){
							schCode = schCode + "00" + id.toString();
						} else if ((id >= 10) && (id < 100)){
							schCode = schCode + "0" + id.toString();
						} else if ((id >= 100) && (id < 1000)){
							schCode += id.toString();
						}

						if(($('#scheduleDate').val()=="") || ($('#timedata').val()=="") || ($('#scheduleTypeId').val()=="")){
							alert('Anda harus mengisi Form Bertanda *');
						}
						else{
							var c = $('#scheduleDate').val().split("-");
							if(c[1]=="Jan"){c[1] = "1"}
							else if(c[1]=="Feb"){c[1] = "2"}
							else if(c[1]=="Mar"){c[1] = "3"}
							else if(c[1]=="Apr"){c[1] = "4"}
							else if(c[1]=="May"){c[1] = "5"}
							else if(c[1]=="Jun"){c[1] = "6"}
							else if(c[1]=="Jul"){c[1] = "7"}
							else if(c[1]=="Aug"){c[1] = "8"}
							else if(c[1]=="Sep"){c[1] = "9"}
							else if(c[1]=="Oct"){c[1] = "10"}
							else if(c[1]=="Nov"){c[1] = "11"}
							else if(c[1]=="Dec"){c[1] = "12"};
							var schTime = c[0]+"-"+c[1]+"-"+c[2]+"T"+"00:00:00"+".000+0000";

							var str = '{';
							//str += '"id": "' + id + '",';
							str += '"createdBy": 1, ';
							str += '"createdOn": "' +  b + '",';
							str += '"modifiedBy": null,';
							str += '"modifiedOn": null,';
							str += '"deletedBy": null,';
							str += '"deletedOn": null,';

							str += '"scheduleCode": "' + schCode + '",';
							str += '"scheduleDate": "' + schTime + '",';
							str += '"time": "' + $('#timedata').val() + '",';
							str += '"ro": "' + $('#ro').val() + '",';
							str += '"tro": "' + $('#tro').val() + '",';
							str += '"scheduleTypeId": ' + $('#scheduleTypeId').val() + ',';
							str += ' "location": "' + $('#location').val() + '",';
							str += ' "otherRoTro": "' + $('#otherRoTro').val() + '",';
							str += ' "notes": "' + $('#notes').val() + '",';
							str += ' "isAutomaticMail": ' + automail + ',';
							str += ' "sentDate": "' + sentdate + '",';
							str += ' "status": "ready",';

							str += '"delete": false';

							str += '}';

							console.log('masuk save');
							console.log(str);


							$.ajax({
							url: '/D_Rencana_Jadwal/saveRencana/',
							type: 'post',
							data: str,
							success:function(){
								$.ajax({
									url: '/D_Rencana_Jadwal/idmax',
									type: 'get',
									success: function(data){
										var array = document.getElementsByName('biodata');
										console.log(array);
										for ( i = 0; i < array.length ; i++){
                                            if(array[i].checked==true){
                                                var str2 = '{';

                                                str2 += '"biodataId": ' + array[i].value + ',';
                                                str2 += '"createdBy": 1, ';
                                                str2 += '"createdOn": "' + b + '",'
                                                str2 += '"modifiedBy": null,';
                                                str2 += '"modifiedOn": null,';
                                                str2 += '"deletedBy": null,';
                                                str2 += '"deletedOn": null,';

                                                str2 += '"rencanaJadwalId": ' + data + ',';


                                                str2 += '"delete": false';
                                                str2 += '}';

											$.ajax({
												url:'/D_Rencana_Jadwal/saveRJD',
												type : 'post',
												data : str2,
												success : function (){
													$('#addmodalrencana').modal('hide');
													//location.replace('/D_Rencana_Jadwal/view');
												},
											dataType:'json',
											contentType:'application/json'
											})
											}
										}
									}
								})
							},
							dataType:'json',
							contentType:'application/json'
							})
							}
						}
						})
	}


    </script>

</th:block>

</html>