<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with">

<table class="table table-striped">
    <tr th:each="item : ${listbiodata}">
        <td>
            <input type="checkbox" name="biodata" th:value="*{item.id}">
            <span th:text="*{item.fullName}"></span>
        </td>
    </tr>
</table>

</html>