<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with">

<table class="table table-striped" id="thistable">
    <tr class="yangdiurut" th:each="item : ${listren}">
        <td>
            <label th:text="${item.scheduleCode}"></label><br>
        </td>
        <td class="rubahdate" th:text="${#dates.format(item.scheduleDate, 'dd-MMM-yyyy')} + ', ' + ${item.time}">

        </td>
        <td>
            <label th:text="'RO : ' + ${item.modelro.roName}"></label><br>
            <label th:text="'TRO : ' + ${item.modeltro.troName}"></label><br>
            <label th:text="'Lokasi : ' + ${item.location}"></label><br>
            <label th:text="${item.isAutomaticMail} ? 'Model : ' + 'Otomatis' : 'Model : ' + 'Manual'"></label><br>
            <label th:text="'Jenis Jadwal : ' + ${item.schedule.name}"></label><br>
        </td>
        <td valign="top" align="right">
            <button class="btn  btn-primary btn-round" style="background-color:rgb(0, 0, 102); color:white"
                    type="button" id="detailbuttonPT" onclick="bambang(this.value)" th:value="${item.id}">Tampilkan
            </button>
            <button class="btn  btn-primary btn-round"
                    style="background-color:rgb(0, 0, 102); color:white" id="editrencanabutton" th:value="${item.id}">
                Ubah
            </button>
            <button class="btn  btn-primary btn-round"
                    style="background-color:rgb(0, 0, 102); color:white" id="hapusrencanabutton" th:value="${item.id}">
                Hapus
            </button>
        </td>
    </tr>
</table>

<div class="modal fade" id="detailmodalPT" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="height:100%;width:70%">
        <div class="modal-content" style="border-radius:10px;border: 2px solid rgb(0,0,102);">
            <div class="modal-header"
                 style="border-top-left-radius:8px;border-top-right-radius:8px;background-color:rgb(0, 0, 102); color:white">
                <h5 class="modal-title" id="exampleModalLongTitle" style="font-size:25"><strong>Pelamar
                    Terjadwal</strong></h5>
            </div>
            <div class="modal-body" style="overflow:auto" id="modalbodyPT">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modaleditrencana" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="width:80%;">
        <div class="modal-content" style="border-radius:10px;border: 2px solid rgb(0,0,102);">
            <div class="modal-header"
                 style="border-top-left-radius:8px;border-top-right-radius:8px;background-color:rgb(0,0,102); color:white;">
                <h5 class="modal-title" style="font-size:25"><strong>Ubah Rencana Jadwal</strong></h5>
            </div>
            <div class="modal-body" id="modalbodyeditrencana">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalhapusrencana" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="width:80%;">
        <div class="modal-content" style="border-radius:10px;border: 2px solid rgb(0,0,102);">
            <div class="modal-header"
                 style="border-top-left-radius:8px;border-top-right-radius:8px;background-color:rgb(0,0,102); color:white;">
                <h5 class="modal-title" style="font-size:25"><strong>Hapus Rencana Jadwal</strong></h5>
            </div>
            <div class="modal-body" id="modalbodyhapusrencana">
            </div>
        </div>
    </div>
</div>
</th:block>
<th:block layout:fragment="jsghifari">
    <script>
        $(document).ready(function(){
            var vId = $('#detailbuttonPT').val();
            $('#editrencanabutton').click(function(){
                $.ajax({
                    url: '/D_Rencana_Jadwal/edit_rencana/' + vId,
                    dataType: "html",
                    success: function (data) {
                        $('#modalbodyeditrencana').html(data);
                        $('#modaleditrencana').modal('show');
                    },
                    error: function (e) {
                        alert('Error: ' + e);
                    }
                });
            })
            $('#hapusrencanabutton').click(function(){

            })
        })

       function bambang(id){
            console.log("keteken");
            $.ajax({
                url: '/D_PelamarTerjadwal/view/' + id,
                type: 'get',
                dataType: 'html',
                success: function (hasil) {
                    $("#modalbodyPT").html(hasil);
                    $('#detailmodalPT').modal('show');
                }
            });
        }

        function loadData() {
            $.ajax({
                url: '/D_Rencana_Jadwal/view',
                type: 'get',
                dataType: 'html',
                success: function (hasil) {
                    $(".modal-backdrop.in").hide();
                    $('#listrencana').html(hasil);
                }
            });
        }


    </script>
</th:block>


</html>