<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block layout:fragment="content">
    <head>
        <title>Form Edit Referensi</title>
    </head>

    <body>
        <div style="padding: 5px 15px 0px 15px;">
<!--            <form>-->
                <table class="table table-striped table-bordered" cellpadding="5" cellspacing="0" th:each="item: ${formref}">
                    <tr>
                        <td>Nama</td>
                        <td>Alamat & No. HP</td>
                    </tr>

                    <tr>
                        <td>
                            <input id="idHapus" type="hidden" th:value="${item.id}">
<!--                            <input id="isiBioRef" type="hidden" th:value="${m_biodata.biodataId}">-->
<!--                            <input type="hidden" th:value="${item.createdBy}">-->
<!--                            <input type="hidden" th:value="${item.createdOn}" id="createdRP">-->
                            <input id="refName" type="text" th:value="${item.name}" class="form-control" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;">
                        </td>
                        <td>
                            <input id="addressPhone" type="text" th:value="${item.addressPhone}" class="form-control" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;">
                        </td>
                    </tr>

                    <tr>
                        <td>Jabatan</td>
                        <td>Hubungan</td>
                    </tr>

                    <tr>
                        <td>
                            <input id="position" type="text" th:value="${item.position}" class="form-control" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;">
                        </td>
                        <td>
                            <input id="relation" type="text" th:value="${item.relation}" class="form-control" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;">
                        </td>
                    </tr>

                    <tr align="right">
                        <td>

                        </td>
                        <td class="btn btn-group">
                            <button value="Batal" class="btn btn-warning"  style="width:100px;" onclick="bataleditRef()">Batal</button>
                            <button value="Simpan" class="btn btn-primary" style="width:100px;" onclick="editRef($('#idHapus').val())" th:value="${item.id}">Simpan</button>
                        </td>
                    </tr>
                </table>
<!--            </form>-->
        </div>
    </body>

</th:block>

<!--    <script>-->
<!--        var dobId = $('#createdRP').val();-->
<!--        var cutDob = dobId.split(" ");-->
<!--                cutDob = cutDob[0].split("-");-->
<!--                console.log(cutDob);-->
<!--                $('#createdRP').val(cutDob[0] + "/" + cutDob[1] + "/" + cutDob[2]);-->
<!--    </script>-->

</html>