<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block layout:fragment="content">

    <title>Keterangan Tambahan</title>
    <div id="list-lainnya">
        <div id="list-refresh-ref">
            <input id="viewtambbioid" type="hidden" th:value="${biodataId}">
            <table class="table table-striped display">
                <thead>
                <tr>
                    <th colspan="5">
                        <h4>Referensi (Dosen Pembimbing/Atasan sebelumnya yang dapat dimintai keterangan diri)
                            <button type="button" class="btn  btn-primary btn-round" id="btntambahref" style="border: none; padding: 0; background: none;">
                                <i class="fa fa-plus-circle" style="color: black"></i>
                            </button>
                        </h4>
                    </th>
                </tr>
                <tr>
                    <th>NAMA</th>
                    <th>ALAMAT</th>
                    <th>JABATAN</th>
                    <th>HUBUNGAN</th>
                    <th>#</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="item : ${listreferensi}">
                    <td th:text="${item.name}"></td>
                    <td th:text="${item.addressPhone}"></td>
                    <td th:text="${item.position}"></td>
                    <td th:text="${item.relation}"></td>
                    <td>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                More
                                <span class="fa fa-angle-down"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li class="">
                                    <button type="button" th:value="${item.id}" onclick="tampileditRef(this.value)" style="border: none; padding: 0; background: none;">Ubah</button>
                                </li>
                                <li class="">
                                    <button type="button" onclick="tampilhapusRef(this.value)" th:value="${item.id}" style="border: none; padding: 0; background: none;">Hapus</button>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--  Modal Tambah Referensi  -->
        <div class="modal fade" id="tambahref" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" style="border-radius:10px;border: 2px solid rgb(0,0,102);">
                    <div class="modal-header" style="border-top-left-radius:8px;border-top-right-radius:8px;background-color:rgb(0,0,102); color:white;">

                    <table>
                            <tr>
                                <td>
                                    <h5 class="modal-title" style="color:white">Tambah Referensi</h5>
                                </td>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </tr>
                        </table>
                    </div>
                    <div id="modal-body-tamb-ref">

                    </div>
                </div>
            </div>
        </div>

        <!--  Modal Edit Referensi  -->
        <div class="modal fade" id="editref" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" style="border-radius:10px;border: 2px solid rgb(0,0,102);">
                    <div class="modal-header" style="border-top-left-radius:8px;border-top-right-radius:8px;background-color:rgb(0,0,102); color:white;">
                    <table>
                            <tr>
                                <td>
                                    <h5 class="modal-title" style="color:white">Edit Tambahan</h5>
                                </td>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </tr>
                        </table>
                    </div>
                    <div id="modal-body-edit-ref">

                    </div>
                </div>
            </div>
        </div>

        <!--  Modal Hapus Referensi  -->
        <div class="modal fade" id="hapusref" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="border-radius:10px;border: 2px solid rgb(204,0,0);">
                    <div class="modal-header" style="border-top-left-radius:8px;border-top-right-radius:8px; background-color:rgb(211,55,36);">
                        <table>
                            <tr>
                                <td>
                                    <h5 class="modal-title" style="color:white">Hapus Referensi</h5>
                                </td>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </tr>
                        </table>
                    </div>
                    <div id="modal-body-hap-ref">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="list-tambahan">
        <table class="table table-striped display">
            <thead>
            <tr>
                <th colspan="3">
                    <h4>Keterangan Tambahan
                        <button type="button" onclick="tampildetailTamb($('#idDetail').val())" class="btn  btn-primary btn-round" id="btndetail" style="border: none; padding: 0; background: none;">
                            <i class="fa fa-search" style="color: black"></i>
                        </button>
                        <button type="button" class="btn  btn-primary btn-round" id="btndittamb" style="border: none; padding: 0; background: none;">
                            <i class="fa fa-edit" style="color: black"></i>
                        </button>
                    </h4>
                </th>
            </tr>
            </thead>

            <tbody th:each="item:${listlainnya}">
            <input type="hidden" hidden id="idDetail" th:value="${item.id}"/>
            <tr>
                <td>Gaji Yang Diharapkan</td>
                <td>:</td>
                <td th:text="${item.expectedSalary}"></td>
            </tr>

            <tr>
                <td>Negotiable</td>
                <td>:</td>
                <td th:text="${item.isNegotiable} ? 'Ya' : 'Tidak'" ></td>

            </tr>

            <tr >
                <td>Kapan Siap Mulai Bekerja</td>
                <td>:</td>
                <td th:text="${item.startWorking}"></td>
            </tr>

            <tr th:each="item:${listlainnya}">
                <td>Bersedia Ditempatkan Di Luar Kota</td>
                <td>:</td>
                <td th:text="${item.isReadyToOutoftown} ? 'Ya' : 'Tidak'"></td>
            </tr>

            <tr>
                <td>Kontak Darurat (Keluarga Tidak Serumah)</td>
                <td>:</td>
                <td th:text="${item.emergencyContactName}"></td>
            </tr>

            <tr >
                <td>Nomor Telp. Darurat</td>
                <td>:</td>
                <td th:text="${item.emergencyContactPhone}"></td>
            </tr>

            </tbody>
        </table>

        <!--  Modal Edit Tambahan  -->
        <div class="modal fade" id="formedittamb" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-group-item" role="document">
                <div class="modal-content" style="border-radius:10px;border: 2px solid rgb(0,0,102);">
                    <div class="modal-header" style="border-top-left-radius:8px;border-top-right-radius:8px;background-color:rgb(0,0,102); color:white;">
                        <table>
                            <tr>
                                <td>
                                    <h5 class="modal-title" style="color:white">Edit Tambahan</h5>
                                </td>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </tr>
                        </table>
                    </div>
                    <div id="modal-body-edit-tamb" style="overflow:auto;">

                    </div>
                </div>
            </div>
        </div>

        <!--  Modal Detail Tambahan  -->
        <div class="modal fade" id="detailtamb" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" style="border-radius:10px;border: 2px solid rgb(0,0,102);">
                    <div class="modal-header" style="border-top-left-radius:8px;border-top-right-radius:8px;background-color:rgb(0,0,102); color:white;">

                    <table>
                            <tr>
                                <td>
                                    <h5 class="modal-title" style="color:white">Detail Tambahan</h5>
                                </td>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </tr>
                        </table>
                    </div>
                    <div id="modal-body-det-tamb" style="overflow:auto;">

                    </div>
                </div>
            </div>
        </div>

    </div>

</th:block>

<th:block layout:fragment="jsokta" >

    <!--Hapus data Referensi-->
    <script>
        function tampilhapusRef(id) {
            console.log('Klik Tombol Hapus Referensi');
            $.ajax({
                url: '/D_Lain_lain/getRef/' + id,
                type: 'get',
                success: function (hasil) {
                    var str = '<table cellpadding="5" cellspacing="0" class="table no-border">' +
                        '<tr><td rowspan="2"><i class="fa fa-trash" style="font-size: 100px;"></i></td><tr align="center">' +
                        '<td style="color:#B30909;">' +
                        '<h3>Anda yakin ingin menghapus referensi <strong>' + hasil.name + '</strong> ?</h3></td></tr>' +
                        '<tr align="right"><td colspan="2">' +
                        '<button class="btn btn-warning" onclick="batalhapusRef()">Batal</button>' +
                        '<button class="btn btn-danger" onclick="hapusRef(' + hasil.id + ')">Hapus</button></td></tr></table>';
                    document.getElementById('modal-body-hap-ref').innerHTML = str;
                    $("#hapusref").modal('show');
                }
            });
        };

        function batalhapusRef() {
            console.log('keklik');
            $("#hapusref").modal('hide');
            $("#detailmodal").modal('show');
        };

        function hapusRef(id) {
            var bioRefId = $('#viewtambbioid').val();
            console.log("ID APAAN SIH INI = " + id);

            var c = Date().toString().split(" ");
            if (c[1] == "Jan") { c[1] = "1" }
            else if (c[1] == "Feb") { c[1] = "2" }
            else if (c[1] == "Mar") { c[1] = "3" }
            else if (c[1] == "Apr") { c[1] = "4" }
            else if (c[1] == "May") { c[1] = "5" }
            else if (c[1] == "Jun") { c[1] = "6" }
            else if (c[1] == "Jul") { c[1] = "7" }
            else if (c[1] == "Aug") { c[1] = "8" }
            else if (c[1] == "Sep") { c[1] = "9" }
            else if (c[1] == "Oct") { c[1] = "10" }
            else if (c[1] == "Nov") { c[1] = "11" }
            else if (c[1] == "Dec") { c[1] = "12" };
            var b = c[3] + "-" + c[1] + "-" + c[2] + "T" + c[4] + ".000+0700";
            $.ajax({
                url: '/D_Lain_lain/getRef/' + id,
                type: 'get',
                success: function (hasil) {
                    $.ajax({
                        url: '/D_Lain_lain/editRef/' + id,
                        type: 'put',
                        data: '{"id": ' + hasil.id + ', "createdBy": ' + hasil.createdBy + ', "createdOn": "' + hasil.createdOn + '", "modifiedBy": ' + 1 + ', "modifiedOn": "' + b + '", "deletedBy": ' + 1 +
                            ', "deletedOn": "' + b + '", "biodataId": ' + hasil.biodataId + ', "name": "' + hasil.name +
                            '", "addressPhone": "' + hasil.addressPhone + '", "position": "' + hasil.position + '", "relation": "' + hasil.relation + '", "delete": ' + true + '}',
                        success: function () {
                            $('#hapusref').modal('hide');
                            $.ajax({
                                url: '/D_Lain_lain/lihat_ket_tamb_gabung/' + hasil.biodataId,
                                type: 'get',
                                dataType: 'html',
                                success: function (hasil2) {
                                    $('#fragmentpelamar').html(hasil2);
                                    $("#detailmodal").modal('show');
                                }
                            });
                        },
                        dataType: 'json',
                        contentType: 'application/json'
                    })
                }
            })
        }
    </script>

    <!--Tambah data Referensi-->
    <script>
        $('#btntambahref').click(function () {
            console.log('Klik Tombol Tambah Referensi');
            var bioRefId = $('#viewtambbioid').val();
            $.ajax(
                {
                    url: '/D_Lain_lain/form_tambah_referensi',
                    dataType: "html",
                    success: function (data) {
                        $('#modal-body-tamb-ref').html(data);
                        $('#tambahref').modal('show');
                    },
                    error: function (e) {
                        alert('Error: ' + e);
                    }
                });
        });

        function bataltambahRef() {
            $('#tambahref').modal('hide');
            $("#detailmodal").modal('show');
        }

        function tambahRef() {
            var c = Date().toString().split(" ");
            if (c[1] == "Jan") { c[1] = "1" }
            else if (c[1] == "Feb") { c[1] = "2" }
            else if (c[1] == "Mar") { c[1] = "3" }
            else if (c[1] == "Apr") { c[1] = "4" }
            else if (c[1] == "May") { c[1] = "5" }
            else if (c[1] == "Jun") { c[1] = "6" }
            else if (c[1] == "Jul") { c[1] = "7" }
            else if (c[1] == "Aug") { c[1] = "8" }
            else if (c[1] == "Sep") { c[1] = "9" }
            else if (c[1] == "Oct") { c[1] = "10" }
            else if (c[1] == "Nov") { c[1] = "11" }
            else if (c[1] == "Dec") { c[1] = "12" };
            var b = c[3] + "-" + c[1] + "-" + c[2] + "T" + c[4] + ".000+0700";

            var id = $('#viewtambbioid').val();
            console.log('ini bionya ' + id);

            $.ajax({
                url: '/D_Lain_lain/postRef/',
                type: 'post',
                data: '{"createdBy": ' + 1 + ', "createdOn": "' + b + '", "modifiedBy": ' + null + ', "modifiedOn": "' + null + '", "deletedBy": ' + null +
                    ', "deletedOn": "' + null + '", "biodataId": ' + id + ', "name": "' + $('#refName').val() +
                    '", "addressPhone": "' + $('#addressPhone').val() + '", "position": "' + $('#position').val() + '", "relation": "' + $('#relation').val() + '", "delete": false}',
                success: function () {
                    $('#tambahref').modal('hide');
                    $.ajax({
                        url: '/D_Lain_lain/lihat_ket_tamb_gabung/' + id,
                        type: 'get',
                        dataType: 'html',
                        success: function (hasil2) {
                            $('#fragmentpelamar').html(hasil2);
                            $("#detailmodal").modal('show');
                        }
                    });
                },
                dataType: 'json',
                contentType: 'application/json'
            })
        }
    </script>

    <!--Edit data Referensi-->
    <script>
        function tampileditRef(id) {
            $.ajax({
                url: '/D_Lain_lain/editform/' + id,
                dataType: "html",
                success: function (data) {
                    $('#modal-body-edit-ref').html(data);
                    $('#editref').modal('show');
                },
                error: function (e) {
                    alert('Error: ' + e);
                }
            });
        };

        function bataleditRef() {
            $("#editref").modal('hide');
            $("#detailmodal").modal('show');
        }
        function editRef(id) {
            console.log('Klik Tombol Edit Referensi');
            var c = Date().toString().split(" ");
            if (c[1] == "Jan") { c[1] = "1" }
            else if (c[1] == "Feb") { c[1] = "2" }
            else if (c[1] == "Mar") { c[1] = "3" }
            else if (c[1] == "Apr") { c[1] = "4" }
            else if (c[1] == "May") { c[1] = "5" }
            else if (c[1] == "Jun") { c[1] = "6" }
            else if (c[1] == "Jul") { c[1] = "7" }
            else if (c[1] == "Aug") { c[1] = "8" }
            else if (c[1] == "Sep") { c[1] = "9" }
            else if (c[1] == "Oct") { c[1] = "10" }
            else if (c[1] == "Nov") { c[1] = "11" }
            else if (c[1] == "Dec") { c[1] = "12" };
            var b = c[3] + "-" + c[1] + "-" + c[2] + "T" + c[4] + ".000+0700";
            $.ajax({
                url: '/D_Lain_lain/getRef/' + id,
                type: 'get',
                success: function (hasil) {
                    $.ajax({
                        url: '/D_Lain_lain/editRef/' + id,
                        type: 'put',
                        data: '{"id": ' + hasil.id + ', "createdBy": ' + hasil.createdBy + ', "createdOn": "' + hasil.createdOn + '", "modifiedBy": ' + 1 + ', "modifiedOn": "' + b + '", "deletedBy": ' + hasil.deletedBy +
                            ', "deletedOn": "' + hasil.deletedOn + '", "biodataId": ' + hasil.biodataId + ', "name":  "' + $('#refName').val() +
                            '", "addressPhone": "' + $('#addressPhone').val() + '", "position": "' + $('#position').val() + '", "relation": "' + $('#relation').val() + '", "delete": ' + false + '}',
                        success: function () {
                            $('#editref').modal('hide');
                            $.ajax({
                                url: '/D_Lain_lain/lihat_ket_tamb_gabung/' + hasil.biodataId,
                                type: 'get',
                                dataType: 'html',
                                success: function (hasil2) {
                                    $('#fragmentpelamar').html(hasil2);
                                    $("#detailmodal").modal('show');
                                }
                            });
                        },
                        dataType: 'json',
                        contentType: 'application/json'
                    })
                }
            })
        }
    </script>

    <!--Edit Tambahan-->
    <script>
        function enableCekApply() {

            if(document.getElementById('cekapply').checked == true){
                document.getElementById("tempatapply").disabled = false;
                document.getElementById("tahapseleksi").disabled = false;
            }
            else {
                document.getElementById("tempatapply").disabled = true;
                document.getElementById("tahapseleksi").disabled = true;
            }
        };

        function enableCekSakit()
        {
            if (document.getElementById('ceksakit').checked == true) {
                document.getElementById("namasakit").disabled = false;
                document.getElementById("waktusakit").disabled = false;
            }
            else {
                document.getElementById("namasakit").disabled = true;
                document.getElementById("waktusakit").disabled = true;
            }
        };

        function enableCekPsiko()
        {
            if (document.getElementById('cekpsiko').checked == true) {
                document.getElementById("perlupsiko").disabled = false;
                document.getElementById("waktupsiko").disabled = false;
            }
            else {
                document.getElementById("perlupsiko").disabled = true;
                document.getElementById("waktupsiko").disabled = true;
            }
        };

        function tampileditTamb(id) {
            $.ajax({
                url: '/D_Lain_lain/edittamb/' + id,
                dataType: "html",
                success: function (data) {
                    $('#modal-body-edit-tamb').html(data);
                    $('#formedittamb').modal('show');

                    if(document.getElementById('ceknego') == true) {
                        document.getElementById('ceknego').checked == true;
                    }
                    else if(document.getElementById('ceknego') == false) {
                        document.getElementById('ceknego').checked == false;
                    }

                    if(document.getElementById('cekluarkota') == true) {
                        document.getElementById('cekluarkota').checked == true;
                    }
                    else if(document.getElementById('cekluarkota') == false) {
                        document.getElementById('cekluarkota').checked == false;
                    }

                    if(document.getElementById('cekapply') == true) {
                        document.getElementById('cekapply').checked == true;
                    }
                    else if(document.getElementById('cekapply') == false) {
                        document.getElementById('cekapply').checked == false;
                    }

                    var inputempat = $("#tempatapply").val();
                    var inputseleksi = $("#tahapseleksi").val();

                    if(inputempat.length > 0) {
                        document.getElementById("tempatapply").disabled = false;
                    } else {
                        document.getElementById("tempatapply").disabled = true;
                    }

                    if(inputseleksi.length > 0) {
                        document.getElementById("tahapseleksi").disabled = false;
                    } else {
                        document.getElementById("tahapseleksi").disabled = true;
                    }

                    if(document.getElementById('ceksakit') == true) {
                        document.getElementById('ceksakit').checked == true;
                    }
                    else if(document.getElementById('ceksakit') == false) {
                        document.getElementById('ceksakit').checked == false;
                    }

                    var inputnamasakit = $("#namasakit").val();
                    var inputwaktusakit = $("#waktusakit").val();

                    if(inputnamasakit.length > 0) {
                        document.getElementById("namasakit").disabled = false;
                    } else {
                        document.getElementById("namasakit").disabled = true;
                    }

                    if(inputwaktusakit.length > 0) {
                        document.getElementById("waktusakit").disabled = false;
                    } else {
                        document.getElementById("waktusakit").disabled = true;
                    }

                    if(document.getElementById('cekpsiko') == true) {
                        document.getElementById('cekpsiko').checked == true;
                    }
                    else if(document.getElementById('cekpsiko') == false) {
                        document.getElementById('cekpsiko').checked == false;
                    }

                    var inputperlupsiko = $("#perlupsiko").val();
                    var inputwaktupsiko = $("#waktupsiko").val();

                    if(inputperlupsiko.length > 0) {
                        document.getElementById("perlupsiko").disabled = false;
                    } else {
                        document.getElementById("perlupsiko").disabled = true;
                    }

                    if(inputwaktupsiko.length > 0) {
                        document.getElementById("waktupsiko").disabled = false;
                    } else {
                        document.getElementById("waktupsiko").disabled = true;
                    }
                },
                error: function (e) {
                    alert('Error: ' + e);
                }
            });
        };

        function bataleditTamb() {
            $("#formedittamb").modal('hide');
            $("#detailmodal").modal('show');
        }
        function editTamb(id) {
            console.log('Klik Tombol Edit Tambahan');
            var c = Date().toString().split(" ");
            if (c[1] == "Jan") { c[1] = "1" }
            else if (c[1] == "Feb") { c[1] = "2" }
            else if (c[1] == "Mar") { c[1] = "3" }
            else if (c[1] == "Apr") { c[1] = "4" }
            else if (c[1] == "May") { c[1] = "5" }
            else if (c[1] == "Jun") { c[1] = "6" }
            else if (c[1] == "Jul") { c[1] = "7" }
            else if (c[1] == "Aug") { c[1] = "8" }
            else if (c[1] == "Sep") { c[1] = "9" }
            else if (c[1] == "Oct") { c[1] = "10" }
            else if (c[1] == "Nov") { c[1] = "11" }
            else if (c[1] == "Dec") { c[1] = "12" };
            var b = c[3] + "-" + c[1] + "-" + c[2] + "T" + c[4] + ".000+0700";

            var isinego = new Boolean;
            if(document.getElementById('ceknego').checked==true){
                isinego = true;
            }
            else if(document.getElementById('ceknego').checked==false){
                isinego = false;
            }

            var isiluarkota = new Boolean;
            if(document.getElementById('cekluarkota').checked==true){
                isiluarkota = true;
            }
            else if(document.getElementById('cekluarkota').checked==false){
                isiluarkota = false;
            }

            var isiapply = new Boolean;
            var kosonginapply = "";
            var isitempatapply = $('#tempatapply').val();
            var isitahapseleksi = $('#tahapseleksi').val();
            if(document.getElementById('cekapply').checked==true){
                isiapply = true;
                isitempatapply = $('#tempatapply').val();
                isitahapseleksi = $('#tahapseleksi').val();
            }
            else if(document.getElementById('cekapply').checked==false){
                isiapply = false;
                isitempatapply = kosonginapply;
                isitahapseleksi = kosonginapply;
            }

            var isisakit = new Boolean;
            var kosonginsakit = "";
            var isinamasakit = $('#namasakit').val();
            var isiwaktusakit = $('#waktusakit').val();
            if(document.getElementById('ceksakit').checked==true){
                isisakit = true;
                isinamasakit = $('#namasakit').val();;
                isiwaktusakit = $('#waktusakit').val();
            }
            else if(document.getElementById('ceksakit').checked==false){
                isisakit = false;
                isinamasakit = kosonginsakit;
                isiwaktusakit = kosonginsakit;
            }

            var isipsiko = new Boolean;
            var kosonginpsiko = "";
            var isiperlupsiko = $('#perlupsiko').val();
            var isiwaktupsiko = $('#waktupsiko').val();
            if(document.getElementById('cekpsiko').checked==true){
                isipsiko = true;
                isiperlupsiko = $('#perlupsiko').val();
                isiwaktupsiko = $('#waktupsiko').val();
            }
            else if(document.getElementById('cekpsiko').checked==false){
                isipsiko = false;
                isiperlupsiko = kosonginpsiko;
                isiwaktupsiko = kosonginpsiko;
            }

            $.ajax({
                url: '/D_Lain_lain/getTamb/' + id,
                type: 'get',
                success: function (hasil) {
                    $.ajax({
                        url: '/D_Lain_lain/editTambAPI/' + id,
                        type: 'put',
                        data: '{"id": ' + hasil.id + ', "createdBy": ' + hasil.createdBy + ', "createdOn": "' + hasil.createdOn + '", "modifiedBy": ' + 1 + ', "modifiedOn": "' + b + '", "deletedBy": ' + hasil.deletedBy +
                            ', "deletedOn": "' + hasil.deletedOn + '", "biodataId": ' + hasil.biodataId + ', "emergencyContactName":  "' + $('#emergencyContactName').val() +
                            '", "emergencyContactPhone": "' + $('#emergencyContactPhone').val() + '", "expectedSalary": "' + $('#expectedSalary').val() + '", "isNegotiable": ' + isinego +
                            ', "startWorking": "' + $('#startWorking').val() + '", "isReadyToOutoftown": ' + isiluarkota +
                            ', "isApplyOtherPlace": ' + isiapply + ', "applyPlace": "' + isitempatapply +
                            '", "selectionPhase": "' + isitahapseleksi + '", "isEverBadlySick": ' + isisakit +
                            ', "diseaseName": "' + isinamasakit + '", "diseaseTime": "' + isiwaktusakit +
                            '", "isEverPsychotest": ' + isipsiko + ', "psychotestNeeds": "' + isiperlupsiko +
                            '", "psychotestTime": "' + isiwaktupsiko + '", "requirementesRequired": "' + $('#requirementesRequired').val() +
                            '", "otherNotes": "' + $('#otherNotes').val() +
                            '", "delete": ' + false + '}',
                        success: function () {
                            $('#formedittamb').modal('hide');
                            $.ajax({
                                url: '/D_Lain_lain/lihat_ket_tamb_gabung/' + hasil.biodataId,
                                type: 'get',
                                dataType: 'html',
                                success: function (hasil2) {
                                    $('#fragmentpelamar').html(hasil2);
                                    $("#detailmodal").modal('show');
                                }
                            });
                        },
                        dataType: 'json',
                        contentType: 'application/json'
                    })
                }
            })
        }
    </script>

    <!--Detail Tambahan-->
    <script>
        function tampildetailTamb(id) {
            $.ajax({
                url: '/D_Lain_lain/tampilkan_semua_tamb/' + id,
                dataType: "html",
                success: function (data) {
                    $('#modal-body-det-tamb').html(data);
                    $('#detailtamb').modal('show');
                }
            });
        }

        function bataldetailTamb() {
            $("#detailtamb").modal('hide');
            $("#detailmodal").modal('show');
        }
    </script>

    <script>
    $('#btntambahref').click(function () {
        console.log('Klik Tombol Tambah Referensi');
        var bioRefId = $('#viewtambbioid').val();
        var bioTambId = $('#viewtambbioid').val();

        $.ajax(
            {
                url: '/D_Lain_lain/form_tambah_referensi',
                dataType: "html",
                success: function (data) {
                    $('#modal-body-tamb-ref').html(data);

                    $('#isiBioRef').val(bioRefId);
                    $('#isiBioTamb').val(bioTambId);

                    // $('#isiBioRef').val(getUrlVars()[4]);
                    // $('#isiBioTamb').val(getUrlVars()[4]);
                    $('#tambahref').modal('show');
                },
                error: function (e) {
                    alert('Error: ' + e);
                }
            });
        });

        $("#list-lainnya").on('click', '#btndit', function() {
            console.log('Klik Tombol Edit Referensi');
            var vId = $(this).val();

            var bioRefId = $('#viewtambbioid').val();
            var bioTambId = $('#viewtambbioid').val();

            $('#isiBioRef').val(bioRefId);
            $('#isiBioTamb').val(bioTambId);

            //$ ('#isiBioRef').val(getUrlVars()[4]);
            // $('#isiBioTamb').val(getUrlVars()[4]);

            $.ajax({
                url:'/D_Lain_lain/editref/'+ vId,
                type:'get',
                dataType:'html',
                success:function(hasil){
                    $('#modal-body-tamb-ref').html(hasil);
                    $("#tambahref").modal('show');
                }
            });
        }).on('click', '#btndel', function () {
            console.log('in click deletebutton...');
            var vId = $(this).val();

            $.ajax({
            url: '/D_Lain_lain/konfirm_hapus_referensi/' + vId,
            type: 'get',
            dataType: 'html',
            success: function (hasil) {
                $('.modal-body-hap-ref').html(hasil);
                $("#hapusref").modal('show');
            }
        });
    });

    $("#list-tambahan").on('click', '#btndittamb', function() {
        console.log('Klik Tombol Edit Tambahan');
        // $('#isiBioRef').val(getUrlVars()[4]);
        // $('#isiBioTamb').val(getUrlVars()[4]);

        var bioRefId = $('#viewtambbioid').val();
        var bioTambId = $('#viewtambbioid').val();

        $('#isiBioRef').val(bioRefId);
        $('#isiBioTamb').val(bioTambId);

        $.ajax({
            url:'/D_Lain_lain/edittamb/' + bioTambId,
            type:'get',
            dataType:'html',
            success:function(hasil){
                $('#modal-body-edit-tamb').html(hasil);
                $("#formedittamb").modal('show');

                // Disable Input Ketika Load
                var inputempat = $("#tempatapply").val();
                var inputseleksi = $("#tahapseleksi").val();

                if(inputempat.length > 0) {
                    document.getElementById("tempatapply").disabled = false;
                } else {
                    document.getElementById("tempatapply").disabled = true;
                }

                if(inputseleksi.length > 0) {
                    document.getElementById("tahapseleksi").disabled = false;
                } else {
                    document.getElementById("tahapseleksi").disabled = true;
                }

                var inputnamasakit = $("#namasakit").val();
                var inputwaktusakit = $("#waktusakit").val();

                if(inputnamasakit.length > 0) {
                    document.getElementById("namasakit").disabled = false;
                } else {
                    document.getElementById("namasakit").disabled = true;
                }

                if(inputwaktusakit.length > 0) {
                    document.getElementById("waktusakit").disabled = false;
                } else {
                    document.getElementById("waktusakit").disabled = true;
                }

                var inputperlupsiko = $("#perlupsiko").val();
                var inputwaktupsiko = $("#waktupsiko").val();

                if(inputperlupsiko.length > 0) {
                    document.getElementById("perlupsiko").disabled = false;
                } else {
                    document.getElementById("perlupsiko").disabled = true;
                }

                if(inputwaktupsiko.length > 0) {
                    document.getElementById("waktupsiko").disabled = false;
                } else {
                    document.getElementById("waktupsiko").disabled = true;
                }
            }
        });
    });

    $('#btndetail').click(function () {
        console.log('Tekan Tombol Detail Tambahan');

        var bioRefId = $('#viewtambbioid').val();
        var bioTambId = $('#viewtambbioid').val();

        $('#isiBioRef').val(bioRefId);
        $('#isiBioTamb').val(bioTambId);

        $.ajax({
            url: '/D_Lain_lain/tampilkan_semua_tamb/' + bioTambId,
            dataType: "html",
            success: function (data) {
                $('#modal-body-det-tamb').html(data);
                $('#detailtamb').modal('show');
            },
            error: function (e) {
                alert('Error: ' + e);
            }
        });
    });

    function enableCekApply()
    {
        console.log('Cek tombol apply');
        if (document.getElementById('cekapply').checked == true) {
            console.log('Checked Apply');
            document.getElementById("tempatapply").disabled = false;
            document.getElementById("tahapseleksi").disabled = false;
        }
        else {
            document.getElementById("tempatapply").disabled = true;
            document.getElementById("tahapseleksi").disabled = true;
        }
    }

    function enableCekSakit()
    {
        if (document.getElementById('ceksakit').checked == true) {
            document.getElementById("namasakit").disabled = false;
            document.getElementById("waktusakit").disabled = false;
        }
        else {
            document.getElementById("namasakit").disabled = true;
            document.getElementById("waktusakit").disabled = true;
        }
    }

    function enableCekPsiko()
    {
        if (document.getElementById('cekpsiko').checked == true) {
            document.getElementById("perlupsiko").disabled = false;
            document.getElementById("waktupsiko").disabled = false;
        }
        else {
            document.getElementById("perlupsiko").disabled = true;
            document.getElementById("waktupsiko").disabled = true;
        }
    }

    function disableMe()
    {
          var tbppsiko = document.getElementById('perlupsiko'),
              tbwpsiko = document.getElementById('waktupsiko');

          if (tbppsiko.value != 'Ya')
          {
                tbppsiko.disabled = true;
          }
          else
          {
                tbppsiko.disabled = false;
          }
    }

    function loadData(){
        console.log('In Load Data');

        $.ajax({
            url :'/D_Lain_lain/lihat_ket_tamb/' + getUrlVars()[4],
            type:'get',
            dataType:'html',
            success:function(hasil){
                $(".modal-backdrop.in").hide();
                $('#list-refresh-ref').html(hasil);
            }
        });
    }

    function getUrlVars()
    {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('/') + 1).split('/');

        return hashes;
    }
    <!--console.log(getUrlVars()[4]);-->
</script>
</th:block>

</html>
