<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block layout:fragment="content">
    <title>Keterangan Tambahan</title>
    <div style="padding: 15px 15px 60px 15px;">
    <div id="list-tambahan">
        <input id="viewtambbioid" type="hidden" th:value="${biodataId}">
        <table class="table table-striped display">
            <tbody>

            <tr th:each="item:${listlainnya}">
                <td>Gaji Yang Diharapkan</td>
                <td>:</td>
                <td th:text="${item.expectedSalary} ? ${item.expectedSalary} : '-'"></td>
            </tr>

            <tr th:each="item:${listlainnya}">
                <td>Negotiable</td>
                <td>:</td>
                <td th:text="${item.isNegotiable} ? 'Ya' : 'Tidak'"></td>
            </tr>

            <tr th:each="item:${listlainnya}">
                <td>Kapan Siap Mulai Bekerja</td>
                <td>:</td>
                <td th:text="${item.startWorking}"></td>
            </tr>

            <tr th:each="item:${listlainnya}">
                <td>Bersedia Ditempatkan Di Luar Kota</td>
                <td>:</td>
                <td th:text="${item.isReadyToOutoftown} ? 'Ya' : 'Tidak'"></td>
            </tr>

            <tr th:each="item:${listlainnya}">
                <td>Kontak Darurat (Keluarga Tidak Serumah)</td>
                <td>:</td>
                <td th:text="${item.emergencyContactName}"></td>
            </tr>

            <tr th:each="item:${listlainnya}">
                <td>Nomor Telp. Darurat</td>
                <td>:</td>
                <td th:text="${item.emergencyContactPhone}"></td>
            </tr>

            <tr th:each="item:${listlainnya}">
                <td>Sedang Melamar Di Tempat Lain</td>
                <td>:</td>
                <td th:text="${item.isApplyOtherPlace} ? 'Ya' : 'Tidak'"></td>
            </tr>

            <tr th:each="item:${listlainnya}">
                <td>Dimana (Tempat Melamar)</td>
                <td>:</td>
                <td th:text="${item.isApplyOtherPlace} ? ${item.applyPlace} : '-'"></td>
            </tr>

            <tr th:each="item:${listlainnya}">
                <td>Tahapan Selesai Melamar</td>
                <td>:</td>
                <td th:text="${item.isApplyOtherPlace} ? ${item.selectionPhase} : '-'"></td>
            </tr>

            <tr th:each="item:${listlainnya}">
                <td>Pernah Sakit Berat / Lama Sembuh</td>
                <td>:</td>
                <td th:text="${item.isEverBadlySick} ? 'Ya' : 'Tidak'"></td>
            </tr>

            <tr th:each="item:${listlainnya}">
                <td>Nama Penyakit</td>
                <td>:</td>
                <td th:text="${item.isEverBadlySick} ? ${item.diseaseName} : '-'"></td>
            </tr>

            <tr th:each="item:${listlainnya}">
                <td>Kapan (Waktu Sakit)</td>
                <td>:</td>
                <td th:text="${item.isEverBadlySick} ? ${item.diseaseTime} : '-'"></td>
            </tr>

            <tr th:each="item:${listlainnya}">
                <td>Pernah Mengikut Psikotes</td>
                <td>:</td>
                <td th:text="${item.isEverPsychotest} ? 'Ya' : 'Tidak'"></td>
            </tr>

            <tr th:each="item:${listlainnya}">
                <td>Keperluan Psikotes</td>
                <td>:</td>
                <td th:text="${item.isEverPsychotest} ? ${item.psychotestNeeds} : '-'"></td>
            </tr>

            <tr th:each="item:${listlainnya}">
                <td>Kapan (Waktu Psikotes)</td>
                <td>:</td>
                <td th:text="${item.isEverPsychotest} ? ${item.psychotestTime} : '-'"></td>
            </tr>

            <tr th:each="item:${listlainnya}">
                <td>Keterangan Lain</td>
                <td>:</td>
                <td th:text="${item.otherNotes} ? ${item.otherNotes} : '-'"></td>
            </tr>
            </tbody>
        </table>
        <table align="right">
            <tr>
                <td align="right" class="btn btn-group">
                    <button class="btn btn-warning" onclick="bataldetailTamb();" width="70px">Close</button>
                </td>
            </tr>
        </table>
    </div>
    </div>

</th:block>

</html>