<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block layout:fragment="content">
    <head>
        <title>Form Ubah Keterangan Tambahan</title>
    </head>

    <body>
    <div style="padding: 15px 15px 0px 15px;">
<!--        <form method="POST" th:action="@{/D_Lain_lain/savetambmodif/1}" th:object="${formtamb}">-->
            <table class="table table-striped table-bordered" cellpadding="5" cellspacing="0" th:each="item: ${formtamb}">
                <tr>
                    <td>
                        Kontak Darurat (Keluarga Tidak  Serumah)*
                    </td>
                    <td>
                        Gaji Yang Diharapkan
                    </td>
                </tr>

                <tr>
                    <td>
                        <input id="tambId" type="hidden" th:value="${item.id}" class="form-control" >
                        <input id="emergencyContactName" type="text" th:value="${item.emergencyContactName}" required class="form-control" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;">
                    </td>
                    <td>
                        <input id="expectedSalary" type="text" th:value="${item.expectedSalary}" class="form-control" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;">
                    </td>
                    <td>
                        <input type="hidden" th:object="${formtamb}">
                        <input id="ceknego" type="checkbox" th:field="*{formtamb.isNegotiable}"> Negotiable
                    </td>
                </tr>

                <tr>
                    <td>
                        Nomor Telp Darurat*
                    </td>
                    <td>
                        Kapan Siap Mulai Bekerja*
                    </td>
                </tr>

                <tr>
                    <td>
                        <input id="emergencyContactPhone" type="text" th:value="${item.emergencyContactPhone}" required class="form-control" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;">
                    </td>
                    <td>
                        <input id="startWorking" type="text" th:value="${item.startWorking}" required class="form-control" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;">
                    </td>
                    <td>
                        <input type="hidden" th:object="${formtamb}">
                        <input id="cekluarkota" type="checkbox" th:field="*{formtamb.isReadyToOutoftown}"> Bersedia Ditempatkan di Luar Kota
                    </td>
                </tr>

                <tr>
                    <td colspan="3">
                        <input type="hidden" th:object="${formtamb}">
                        <input id="cekapply" type="checkbox" th:field="*{formtamb.isApplyOtherPlace}" onclick="enableCekApply();"> Sedang Melamar Ditempat Lain
                    </td>
                </tr>

                <tr>
                    <td>
                        Dimana (Tempat Melamar)?
                    </td>
                    <td colspan="2">
                        Tahapan Seleksi Melamar
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="hidden" th:object="${formtamb}">
                        <input id="tempatapply" type="text" th:field="*{formtamb.applyPlace}" class="form-control" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;">
                    </td>
                    <td colspan="2">
                        <input id="tahapseleksi" type="text" th:field="*{formtamb.selectionPhase}" class="form-control" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;">
                    </td>
                </tr>

                <tr>
                    <td colspan="3">
                        <input type="hidden" th:object="${formtamb}">
                        <input type="checkbox" id="ceksakit" th:field="*{formtamb.isEverBadlySick}" onclick="enableCekSakit()" > Pernah Sakit Berat / Lama Sembuh
                    </td>
                </tr>

                <tr>
                    <td>
                        Nama Penyakit
                    </td>
                    <td colspan="2">
                        Kapan (Waktu Sakit) ?
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="hidden" th:object="${formtamb}">
                        <input id="namasakit" type="text" th:field="*{formtamb.diseaseName}" class="form-control" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;">
                    </td>
                    <td colspan="2">
                        <input id="waktusakit" type="text" th:field="*{formtamb.diseaseTime}" class="form-control" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;">
                    </td>
                </tr>

                <tr>
                    <td colspan="3">
                        <input type="hidden" th:object="${formtamb}">
                        <input id="cekpsiko" type="checkbox" th:field="*{formtamb.isEverPsychotest}" onclick="enableCekPsiko()"> Pernah Mengikuti Psikotes
                    </td>
                </tr>

                <tr>
                    <td>
                        Keperluan Psikotes
                    </td>
                    <td colspan="2">
                        Kapan (Waktu Psikotes) ?
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="hidden" th:object="${formtamb}">
                        <input id="perlupsiko" type="text" th:field="*{formtamb.psychotestNeeds}" class="form-control" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;">
                    </td>
                    <td colspan="2">
                        <input id="waktupsiko" type="text" th:field="*{formtamb.psychotestTime}" class="form-control" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;">
                    </td>
                </tr>

                <tr>
                    <td colspan="3">
                        Persyaratan yang Diperlukan untuk Jabatan yang Dilamar (menurut kandidat karyawan)
                    </td>
                </tr>

                <tr>
                    <td colspan="3">
                        <textarea id="requirementesRequired" type="text" class="form-control" th:text="${item.requirementesRequired}" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"></textarea>
                    </td>
                </tr>

                <tr>
                    <td colspan="3">
                        Keterangan Lain yang ingin Dikemukakan
                    </td>
                </tr>

                <tr>
                    <td colspan="3">
                        <textarea id="otherNotes" type="text" class="form-control" th:text="${item.otherNotes}" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"></textarea>
                    </td>
                </tr>

                <tr align="right">
                    <td>

                    </td>
                    <td>

                    </td>
                    <td class="btn btn-group">
                        <button class="btn btn-warning" style="width:70px;" onclick="bataleditTamb();">Batal</button>
                        <button class="btn btn-primary" style="width:70px;" onclick="editTamb($('#tambId').val())" th:value="${item.id}">Simpan</button>
                    </td>
                </tr>

            </table>
<!--        </form>-->
    </div>
    </body>

</th:block>

<!--<script>-->
<!--    var dobId = $('#createdRP').val();-->
<!--    var cutDob = dobId.split(" ");-->
<!--            cutDob = cutDob[0].split("-");-->
<!--            console.log(cutDob);-->
<!--            $('#createdRP').val(cutDob[0] + "/" + cutDob[1] + "/" + cutDob[2]);-->
<!--  </script>-->

</html>