<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link th:href="@{/bootstrap/dist/css/style.css}" rel="stylesheet">
<link th:href="@{/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/style.css}" rel="stylesheet">
<link th:href="@{/css/button.css}" rel="stylesheet">
<link th:href="@{/css/dataTables.bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
<link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet">
<link th:href="@{/css/admintemplate.css}" rel="stylesheet">
<link th:href="@{/css/button.css}" rel="stylesheet">
<link th:href="@{/css/jquery-ui.css}" rel="stylesheet">
<head>
<style>
.btn-group button {
	color: white;
	padding: 10px 24px;
	cursor: pointer;
	float: right;
}

.btn-group button:not(:last-child) {
	border-right: none;
}

.btn-group:after {
	content: "";
	clear: both;
	display: table;
}

.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}
</style>
</head>
<th:block layout:fragment="content">
    <div style="padding : 10px; margin-left:200px; margin-right:200px;">
        <form autocomplete="off" action="/action_page.php">
            <div class="autocomplete" style="width:300px;margin-left:3px;padding 0px 0px">
                <button class="btn-primary" style="border: 2px solid rgb(0,0,102);border-top-left-radius:5px;border-bottom-left-radius:5px; font-size:14px; padding: 6px 12px" disabled><i class="fa fa-search"></i></button>
                <input id="inputanku" onclick="normalizingstyle(this)" onchange="masukinvalue(this.value)" type="text" name="myCountry" style="border: 2px solid rgb(0,0,98);border-top-right-radius: 5px; border-bottom-right-radius: 5px; width: 70%; font-size:14px; padding: 3px">
            </div>
        </form>
        <div style="display: flex; position:static;border-top: 3px solid rgb(0,0,102);border-bottom: 3px solid rgb(0,0,102)">
            <div style="flex: 0 0 65%;margin-top:10px;margin-bottom:10px">
                <table class="table no-border" cellpadding="5" cellspacing="0" style="width:100%">
                    <tr>
                        <td colspan="2">Nama Lengkap*<br>
                            <input type="text" id="username" class="form-control"
                                   style="border: 2px solid rgb(0,0,102);border-radius: 5px; padding: 5px 10px; width: 100%;height:38px" onclick="normalizingstyle(this)" onchange="normalizingstyle(this)" disabled>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">Email*<br>
                            <input type="text" id="useremail" class="form-control"
                                   style="border: 2px solid rgb(0,0,102);border-radius: 5px; padding: 5px 10px; width: 100%;height:38px" onclick="normalizingstyle(this)" onchange="normalizingstyle(this)">
                        </td>
                    </tr>
                    <tr>
                        <td>Sandi*<br>
                            <input type="password" id="password" class="form-control" maxlength="16"
                                   style="border: 2px solid rgb(0,0,102);border-radius: 5px; padding: 5px 10px; width: 100%;height:38px" onclick="normalizingstyle(this)" onchange="normalizingstyle(this)">
                        </td>
                        <td>Ulangi Sandi*<br>
                            <input type="password" id="repeatpassword" class="form-control" maxlength="16"
                                   style="border: 2px solid rgb(0,0,102);border-radius: 5px; padding: 5px 10px; width: 100%;height:38px" onclick="normalizingstyle(this)" onchange="normalizingstyle(this)">
                        </td>
                    </tr>
                </table>
            </div>
            <div style="flex: 2;margin-top:10px;margin-bottom:10px">
                <div style="border: 2px solid rgb(0,0,102);border-radius : 10px;width:70%;height:95%;float:right">
                    <div style="background-color : rgb(0,0,102); color:white;border-top-left-radius:8px;border-top-right-radius:8px;height:25%;">
                        <h4 style="font-size:20px; margin-top:0px; padding: 18px 10px;"> <strong>Role*</strong> </h4>
                    </div>
                    <div style="height:75%;padding:18px 10px;">
                        <table cel>
                            <tr th:each="item : ${objectrole}">
                                <td><input class="cekbok" name="checkbox" type="checkbox" th:value="${item.id}"></td>
                                <td th:text="${item.name}"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top:5px">
            <button id="hapususer" onclick="tampilhapusUR()" class="btn btn-danger" style="border-radius:4px;border: 2px solid rgb(217,83,79); float:left"><i class="fa fa-trash" style="font-size: 20px;"></i></button>
            <div class="btn-group" style="float:right">
                <button class="btn btn-warning" style="border-bottom-left-radius:4px;border-top-left-radius:4px;border: 2px solid rgb(240, 173, 78);width:130px;font-size: 15px; padding: 6px 12px" onclick="location.href='/'">Batal</button>
                <button class="btn btn-primary" style="border-bottom-right-radius:4px;border-top-right-radius:4px;border: 2px solid rgb(0,0,102);width:130px;font-size: 15px; padding: 6px 12px" onclick="semua()">Simpan</button>
            </div>
        </div>
    </div>

    <!--  Modal Hapus Pengguna  -->
    <div class="modal fade" id="deletemodalUR" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="width:relative;height:relative">
            <div class="modal-content" style="border-radius:10px;border: 2px solid rgb(0,0,102);">
                <div class="modal-header"
                     style="border-top-left-radius:8px;border-top-right-radius:8px;background-color:rgb(217,83,79); color:white;">
                    <h5 class="modal-title" style="font-size:20"><strong>Hapus Pendidikan?</strong></h5>
                </div>
                <div class="modal-body" style="overflow:auto" id="modalbodyhapusUR">
                </div>
            </div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="jsghozy">
    <script th:src="@{/bootstrap/dist/js/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/dist/js/bootstrap.min.js}"></script>
    <script th:src="@{/bootbox/bootbox.min.js}"></script>
    <script th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/js/jquery-ui.js}"></script>
    <script th:src="@{/js/smtp.js}"></script>
    <script th:src="@{/js/pagination.js}"></script>
    <script th:src="@{/js/pagination.min.js}"></script>
    <script th:src="@{/js/md5.js}"></script>
    <!--Documentready-->
    <script>
        $(document).ready(function(){
            if($('#inputanku').val() == "" || $('#inputanku').val() == null){
                document.getElementById('hapususer').disabled = true;
            }
        })
    </script>
    <!--Disable input box saat namanya nongol-->
    <script>
        function masukinvalue(a){
            var array1 = document.getElementsByClassName('cekbok');
            if(a==null || a==""){
                document.getElementById('password').disabled = false;
                document.getElementById('repeatpassword').disabled = false;
                document.getElementById('hapususer').disabled = true;
                $('#username').val("");
                $('#useremail').val("");
                $('#password').val("");
                $('#repeatpassword').val("");
                for(i=0;i<array1.length;i++){
                array1[i].checked = false;
                }
            }else{
                document.getElementById('hapususer').disabled = true;
                document.getElementById('password').disabled = false;
                document.getElementById('repeatpassword').disabled = false;
                for(i=0;i<array1.length;i++){
                array1[i].checked = false;
                };
                $.ajax({
                    url:'/D_Pengguna/getinfo/'+a,
                    type:'get',
                    success:function(hasil){
                        normalizingstyle(document.getElementById('username'));
                        normalizingstyle(document.getElementById('useremail'));
                        normalizingstyle(document.getElementById('password'));
                        normalizingstyle(document.getElementById('repeatpassword'));
                        $('#username').val(hasil.fullName);
                        $('#useremail').val(hasil.email);
                        $.ajax({
                            url:'/D_Pengguna/getdataAB/' + hasil.email,
                            type:'get',
                            success:function(result){
                                if(result.length !=0){
                                    $.ajax({
                                        url:'/D_Pengguna/getdataUR/' + result.id,
                                        type:'get',
                                        success:function(data){
                                            if(data.length != 0){
                                                document.getElementById('hapususer').disabled = false;
                                                document.getElementById('hapususer').name = result.id;
                                                document.getElementById('password').disabled = true;
                                                document.getElementById('repeatpassword').disabled = true;
                                                for(i=0;i<data.length;i++){
                                                    for(j=0;j<array1.length;j++){
                                                        if(data[i].roleId == array1[j].value){
                                                            array1[j].checked = true;
                                                        }
                                                    }
                                                }
                                            }else{
                                                document.getElementById('hapususer').disabled = true;
                                                document.getElementById('password').disabled = false;
                                                document.getElementById('repeatpassword').disabled = false;
                                                for(i=0;i<array1.length;i++){
                                                    array1[i].checked = false;
                                                }
                                            }
                                        }
                                    })
                                }
                            }
                        })
                    }
                })
            }
        }
    </script>
    <!--autocomplete-->
    <script>
        function autocomplete(inp) {
            var arr = [];
            $.ajax({
                url:'/D_Pengguna/getfullname',
                type:'get',
                success:function(data){
                    for(i=0;i<data.length;i++){
                        arr[i] = data[i].fullName;
                    }
                }
            });
            var currentFocus;
            inp.addEventListener("input", function(e) {
                var a, b, i, val = this.value;
                closeAllLists();
                if (!val) { return false;}
                currentFocus = -1;
                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "autocomplete-list");
                a.setAttribute("class", "autocomplete-items");
                this.parentNode.appendChild(a);
                for (i = 0; i < arr.length; i++) {
                    if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                        b = document.createElement("DIV");
                        b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                        b.innerHTML += arr[i].substr(val.length);
                        b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                        b.addEventListener("click", function(e) {
                            inp.value = this.getElementsByTagName("input")[0].value;
                            closeAllLists();
                        });
                        a.appendChild(b);
                    }
                }
            });
            inp.addEventListener("keydown", function(e) {
                  var x = document.getElementById(this.id + "autocomplete-list");
                  if (x) x = x.getElementsByTagName("div");
                  if (e.keyCode == 40) {
                      currentFocus++;
                      addActive(x);
                  } else if (e.keyCode == 38) {
                      currentFocus--;
                      addActive(x);
                  } else if (e.keyCode == 13) {
                      e.preventDefault();
                      if (currentFocus > -1) {
                         if (x) x[currentFocus].click();
                      }
                  }
            });
            function addActive(x) {
                if (!x) return false;
                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);
                x[currentFocus].classList.add("autocomplete-active");
            }
            function removeActive(x) {
                for (var i = 0; i < x.length; i++) {
                  x[i].classList.remove("autocomplete-active");
                }
            }
            function closeAllLists(elmnt) {
                var x = document.getElementsByClassName("autocomplete-items");
                for (var i = 0; i < x.length; i++) {
                     if (elmnt != x[i] && elmnt != inp) {
                        x[i].parentNode.removeChild(x[i]);
                     }
                }
            }
            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });
        }

        autocomplete(document.getElementById("inputanku"));
    </script>
    <!--Validate-->
    <script>
        function normalizingstyle(a){
            a.style.borderColor="rgb(0,0,102)";
            a.style.boxShadow="none";
        }

        function validatepwd(){
            var boxname = document.getElementById('inputanku');
            var emailbox = document.getElementById('useremail');
            var box1 = document.getElementById('password');
            var box2 = document.getElementById('repeatpassword');
            var validasi = true;
            if(boxname.value == "" || boxname.value == null){
                boxname.style.borderColor="rgb(200,0,0)";
                boxname.style.boxShadow="0px 0px 5px rgb(150,0,0)";
                validasi = false;
            }
            if(emailbox.value == "" || emailbox.value == null){
                emailbox.style.borderColor="rgb(200,0,0)";
                emailbox.style.boxShadow="0px 0px 5px rgb(150,0,0)";
                validasi = false;
            }
            if(box1.value == "" || box1.value == null){
                box1.style.borderColor="rgb(200,0,0)";
                box1.style.boxShadow="0px 0px 5px rgb(150,0,0)";
                validasi = false;
            }
            if(box2.value == "" || box2.value == null){
                box2.style.borderColor="rgb(200,0,0)";
                box2.style.boxShadow="0px 0px 5px rgb(150,0,0)";
                validasi = false;
            }
            if(box1.value!=box2.value){
                alert('anda belum mengulang password dengan benar.');
                box1.style.borderColor="rgb(200,0,0)";
                box1.style.boxShadow="0px 0px 5px rgb(150,0,0)";
                box2.style.borderColor="rgb(200,0,0)";
                box2.style.boxShadow="0px 0px 5px rgb(150,0,0)";
                validasi = false;
            }
            if(validasi == false){
                alert('Periksa kembali kolom berwarna merah.');
            }
            else{
                var cek = validatepswd();
                if(cek == false){
                    alert('"PASSWORD" harus berisi 8 karakter dengan minimal 1 HURUF BESAR, 1 HURUF KECIL, 1 ANGKA dan 1 Simbol.');
                    box1.style.borderColor="rgb(200,0,0)";
                    box1.style.boxShadow="0px 0px 5px rgb(150,0,0)";
                    box2.style.borderColor="rgb(200,0,0)";
                    box2.style.boxShadow="0px 0px 5px rgb(150,0,0)";
                }else{
                    $.ajax({
                        url:'/D_Pengguna/getdataAB/' + emailbox.value,
                        type:'get',
                        success: function(data){
                            saveuser();
                        }
                    })
                }
            }
        }

        function semua(){
            console.log('klik');
            if(document.getElementById('hapususer').disabled == false){
                alert('Fitur Edit Belum Ditambahkan');
            }else if(document.getElementById('hapususer').disabled == true){
                validatepwd();
            }
        }
    </script>
    <!--Validasi password keren-->
    <script>
        function validatepswd() {
            var validated = true;
            $('#password').each(function () {
                if(this.value.length < 8)
                    validated = false;
                if(!/\d/.test(this.value))
                    validated = false;
                if(!/[a-z]/.test(this.value))
                    validated = false;
                if(!/[A-Z]/.test(this.value))
                    validated = false;
                if(!/[!@#$%^&*?]/.test(this.value))
                    validated = false;
                if(/[^0-9a-zA-Z!@#$%^&*?]/.test(this.value))
                    validated = false;
            });
            return validated;
        };
    </script>
    <!--Edit Data UserRole-->
    <script>
        function editRole(a){
            var arraycekbox = document.getElementByClassName('cekbok');
            $.ajax({
                url:'/D_Pengguna/getdataUR/'+a,
                type:'get',
                success:function(hasil){
                    for(i=0;i<arraycekbox.length;i++){
                        for(j=0;j<hasil.length;j++){
                            if(arraycekbox[i].value == hasil[j].roleId && arraycekbox[i] == true){
                            }
                            else if(arraycekbox[i].value == hasil[j].roleId && arraycekbox[i] == false){
                            }
                        }
                    }
                }
            })
        }

        function saveURtrue(addrbookid,roleid){
            $.ajax({
                url:'/D_Pengguna/getdataUR/',
                type:'',
                succes:function(data){
                    $.ajax({
                        url:'/D_Pengguna/editUR/'+id,
                        type:'put',
                        data:'{"createdBy": 1, "createdOn": "'+newdate+'", "modifiedBy": null, "modifiedOn": null,'+
                             '"deletedBy": null, "deletedOn": null, "addrbookId": '+addrbookid+', "roleId": '+roleid+', "delete": false}',
                        success:function(){
                            console.log('sukses');
                        }
                    })
                }
            })
        }
        function saveURfalse(id){}
    </script>
    <!--save data ke x_addrbook trus save x_userrole-->
    <script>
        function saveuser(){
            var expired = expireddate();
            var b = getdate();
            var token = makeid(8);
            var toMD5 = calcMD5($('#password').val());
            $.ajax({
                url:'/D_Pengguna/saveAddrbook',
                type:'post',
                data:'{"createdBy" : 1,'+
                     '"createdOn" : "'+b+'",'+
                     '"modifiedBy": ' + null + ','+
                     '"modifiedOn": "' + null + '",'+
                     '"deletedBy": ' + null + ','+
                     '"deletedOn": "' + null + '",'+
                     '"delete": false,'+
                     '"locked": false,'+
                     '"attempt" : 0,'+
                     '"email" : "'+$('#useremail').val()+'",'+
                     '"abuid" : "'+$('#useremail').val()+'",'+
                     '"abpwd" : "'+toMD5+'",'+
                     '"fpToken" : "'+token+'",'+
                     '"fpExpiredDate" : "'+expired+'",'+
                     '"fpCounter" : 0}',
                success:function(){
                    $.ajax({
                        url:'/D_Pengguna/getmaxidAB',
                        type:'get',
                        success:function(maxid){
                            var newdate = getdate();
                            var role = document.getElementsByClassName('cekbok');
                            for(i=0;i<role.length;i++){
                                if(role[i].checked == true){
                                    $.ajax({
                                        url:'/D_Pengguna/saveUR',
                                        type:'post',
                                        data:'{"createdBy": 1, "createdOn": "'+newdate+'", "modifiedBy": null, "modifiedOn": null,'+
                                             '"deletedBy": null, "deletedOn": null, "addrbookId": '+maxid+', "roleId": '+role[i].value+', "delete": false}',
                                        success:function(){
                                            $.ajax({
                                                url:'/D_Pengguna/getdataBio/'+ $('#username').val(),
                                                type:'get',
                                                success:function(hasill){
                                                    console.log(hasill)
                                                    $.ajax({
                                                        url:'/D_Pengguna/editBio/' + hasill.id,
                                                        type:'put',
                                                        data:'{"createdBy": '+hasill.createdBy+','+
                                                            '"createdOn": "'+hasill.createdOn+'",'+
                                                            '"modifiedBy": 1,'+
                                                            '"modifiedOn": "'+newdate+'",'+
                                                            '"deletedBy": '+hasill.deletedBy+','+
                                                            '"deletedOn": "'+hasill.deletedOn+'",'+
                                                            '"fullName": "'+hasill.fullName+'",'+
                                                            '"nickName": "'+hasill.nickName+'",'+
                                                            '"pob": "'+hasill.pob+'",'+
                                                            '"dob": "'+hasill.dob+'",'+
                                                            '"gender": '+hasill.gender+','+
                                                            '"religionId": '+hasill.religionId+','+
                                                            '"high": '+hasill.high+','+
                                                            '"weight": '+hasill.weight+','+
                                                            '"nationality": "'+hasill.nationality+'",'+
                                                            '"ethnic": "'+hasill.ethnic+'",'+
                                                            '"hobby": "'+hasill.hobby+'",'+
                                                            '"identityTypeId": '+hasill.identityTypeId+','+
                                                            '"identityNo": "'+hasill.identityNo+'",'+
                                                            '"email": "'+hasill.email+'",'+
                                                            '"phoneNumber1": "'+hasill.phoneNumber1+'",'+
                                                            '"phoneNumber2": "'+hasill.phoneNumber2+'",'+
                                                            '"parentPhoneNumber": "'+hasill.parentPhoneNumber+'",'+
                                                            '"childSequence": '+hasill.childSequence+','+
                                                            '"howManyBrothers": "'+hasill.howManyBrothers+'",'+
                                                            '"maritalStatusId": '+hasill.maritalStatusId+','+
                                                            '"addrbookId": '+maxid+','+
                                                            '"token": "'+hasill.token+'",'+
                                                            '"expiredToken": "'+hasill.expiredToken+'",'+
                                                            '"marriageYear": '+hasill.marriageYear+','+
                                                            '"companyId": '+hasill.companyId+','+
                                                            '"id": '+hasill.id+','+
                                                            '"delete": '+hasill.delete+','+
                                                            '"complete": '+hasill.complete+','+
                                                            '"process": '+hasill.process+'}',
                                                        success:function(){
                                                        console.log('YEAY SUKSES!!!!!');
                                                        location.reload(true);
                                                        },
                                                        dataType: 'json',
                                                        contentType: 'application/json'
                                                    })
                                                }
                                            })
                                        },
                                        dataType: 'json',
                                        contentType: 'application/json'
                                    });
                                }
                            }
                        }
                    });
                },
                dataType: 'json',
                contentType: 'application/json'
            })
        }
    </script>
    <!--get date and converse into JSON-->
    <script>
        function getdate(){
            var c = Date().toString().split(" ");
            if (c[1] == "Jan") { c[1] = "1" }
            else if (c[1] == "Feb") { c[1] = "2" }
            else if (c[1] == "Mar") { c[1] = "3" }
            else if (c[1] == "Apr") { c[1] = "4" }
            else if (c[1] == "May") { c[1] = "5" }
            else if (c[1] == "Jun") { c[1] = "6" }
            else if (c[1] == "Jul") { c[1] = "7" }
            else if (c[1] == "Aug") { c[1] = "8" }
            else if (c[1] == "Sep") { c[1] = "9" }
            else if (c[1] == "Oct") { c[1] = "10" }
            else if (c[1] == "Nov") { c[1] = "11" }
            else if (c[1] == "Dec") { c[1] = "12" };
            var b = c[3] + "-" + c[1] + "-" + c[2] + "T" + c[4] + ".000+0700";
            return b;
        }
        function expireddate(){
            var future = new Date();
            future.setDate(future.getDate() + 30);
            var c = future.toString().split(" ");
            if (c[1] == "Jan") { c[1] = "1" }
            else if (c[1] == "Feb") { c[1] = "2" }
            else if (c[1] == "Mar") { c[1] = "3" }
            else if (c[1] == "Apr") { c[1] = "4" }
            else if (c[1] == "May") { c[1] = "5" }
            else if (c[1] == "Jun") { c[1] = "6" }
            else if (c[1] == "Jul") { c[1] = "7" }
            else if (c[1] == "Aug") { c[1] = "8" }
            else if (c[1] == "Sep") { c[1] = "9" }
            else if (c[1] == "Oct") { c[1] = "10" }
            else if (c[1] == "Nov") { c[1] = "11" }
            else if (c[1] == "Dec") { c[1] = "12" };
            var b = c[3] + "-" + c[1] + "-" + c[2] + "T" + c[4] + ".000+0700";
            return b;
        }
    </script>
    <!--get random token-->
    <script>
        function makeid(length) {
           var result           = '';
           var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
           var charactersLength = characters.length;
           for ( var i = 0; i < length; i++ ) {
              result += characters.charAt(Math.floor(Math.random() * charactersLength));
           }
           return result;
        }
    </script>
    <!--Hapus userrole-->
    <script>
        function tampilhapusUR() {
            console.log('---click button delete---');
            $.ajax({
                url: '/D_Pengguna/getdataAB/' + document.getElementById('useremail').value,
                type: 'get',
                success: function (hasil) {
                    var str = '<table cellpadding="5" cellspacing="0" class="table no-border">' +
                        '<tr><td rowspan="2"><i class="fa fa-trash" style="font-size: 100px;"></i></td><tr align="center">' +
                        '<td style="color:#B30909;">' +
                        '<h3>Anda yakin ingin menghapus pengguna <strong>' + document.getElementById('username').value + '</strong> ?</h3></td></tr>' +
                        '<tr align="right"><td colspan="2">' +
                        '<button class="btn btn-warning" data-dismiss="modal">Batal</button>' +
                        '<button class="btn btn-danger" onclick="hapusaddrbook(' + hasil.id + ')">Hapus</button></td></tr></table>';
                    document.getElementById('modalbodyhapusUR').innerHTML = str;
                    $('#deletemodalUR').modal('show');
                }
            });
        };

        function batalhapusRP() {
            console.log('keklik');
            $("#deletemodalUR").modal('hide');
        };

        function hapusUR(a){
            $.ajax({
                url:'/D_Pengguna/getdataUR/'+ a,
                type:'get',
                success:function(hasil){
                    var newdate = getdate();
                    for(i=0;i<hasil.length;i++){
                        $.ajax({
                            url:'/D_Pengguna/editUR/'+hasil[i].id,
                            type:'put',
                            data:'{"createdBy": '+hasil[i].createdBy+', "createdOn": "'+hasil[i].createdOn+'", "modifiedBy": '+hasil[i].modifiedBy+', "modifiedOn": '+hasil[i].modifiedOn+','+
                                 '"deletedBy": 1, "deletedOn": "'+newdate+'", "addrbookId": '+hasil[i].addrbookId+', "roleId": '+hasil[i].roleId+', "id" : '+hasil[i].id+', "delete": true}',
                            success:function(){
                                console.log('YEAY SUKSES!!!!!');
                            },
                            dataType: 'json',
                            contentType: 'application/json'
                        });
                    };
                    location.reload(true);
                }
            })
        }

        function hapusaddrbook(a){
            $.ajax({
                url:'/D_Pengguna/getAddrbookbyid/'+ a,
                type:'get',
                success:function(hasil){
                    var newdate = getdate();
                    console.log('{"id": '+hasil.id+', "createdBy": '+hasil.createdBy+', "createdOn": "'+hasil.createdOn+'",'+
                             '"modifiedBy": '+hasil.modifiedBy+', "modifiedOn": "'+hasil.modifiedOn+'", "deletedBy": 1, "deletedOn": "'+newdate+'",'+
                             '"isLocked": '+hasil.isLocked+', "attempt": '+hasil.attempt+', "email": "'+hasil.email+'", "abuid": "'+hasil.abuid+'",'+
                             '"abpwd": "'+hasil.abpwd+'", "fpToken": "'+hasil.fpToken+'", "fpExpiredDate": "'+hasil.fpExpiredDate+'",'+
                             '"fpCounter": '+hasil.fpCounter+', "locked": '+hasil.locked+', "delete": true}');
                    $.ajax({
                        url:'/D_Pengguna/editAddrbook/'+a,
                        type:'put',
                        data:'{"id": '+hasil.id+', "createdBy": '+hasil.createdBy+', "createdOn": "'+hasil.createdOn+'",'+
                             '"modifiedBy": '+hasil.modifiedBy+', "modifiedOn": "'+hasil.modifiedOn+'", "deletedBy": 1, "deletedOn": "'+newdate+'",'+
                             '"isLocked": '+hasil.isLocked+', "attempt": '+hasil.attempt+', "email": "'+hasil.email+'", "abuid": "'+hasil.abuid+'",'+
                             '"abpwd": "'+hasil.abpwd+'", "fpToken": "'+hasil.fpToken+'", "fpExpiredDate": "'+hasil.fpExpiredDate+'",'+
                             '"fpCounter": '+hasil.fpCounter+', "locked": '+hasil.locked+', "delete": true}',
                        success:function(){
                            hapusURygceklis(a,newdate);
                        },
                        dataType: 'json',
                        contentType: 'application/json'
                    });
                }
            })
        }

        function hapusURygceklis(a,b){
            var array1 = document.getElementsByClassName('cekbok');
            $.ajax({
                url:'/D_Pengguna/getdataUR/'+ a,
                type:'get',
                success:function(hasil){
                    for(i=0;i<hasil.length;i++){
                        for(j=0;j<array1.length;j++){
                            if(array1[j].checked == true && array1[j].value == hasil[i].roleId){
                                $.ajax({
                                    url:'/D_Pengguna/editUR/'+hasil[i].id,
                                    type:'put',
                                    data:'{"createdBy": '+hasil[i].createdBy+', "createdOn": "'+hasil[i].createdOn+'", "modifiedBy": '+hasil[i].modifiedBy+', "modifiedOn": '+hasil[i].modifiedOn+','+
                                         '"deletedBy": 1, "deletedOn": "'+b+'", "addrbookId": '+hasil[i].addrbookId+', "roleId": '+hasil[i].roleId+', "id" : '+hasil[i].id+', "delete": true}',
                                    success:function(){
                                        console.log('YEAY SUKSES!!!!!');
                                    },
                                    dataType: 'json',
                                    contentType: 'application/json'
                                });
                            }
                        }
                    };
                    location.reload(true);
                }
            })
        }
    </script>
</th:block>
</html>