<html>

<body>
    <table th:each="item : ${objectaccount}">
        <tr>
            <td>
                <input type="text" id="idInput" th:value="${item.id}">
                <input type="text" id="abuidInput" th:value="${item.abuid}">
                <input type="text" id="abupwdInput" th:value="${item.abpwd}">
                <input type="text" id="attemptInput" th:value="${item.attempt}">
                <input type="text" id="emailInput" th:value="${item.email}">
                <input type="text" id="fpcounterInput" th:value="${item.fpCounter}">
                <input type="text" id="fpexpireddateInput" th:value="${item.fpExpiredDate}">
                <input type="text" id="fptokenInput" th:value="${item.fpToken}">
                <input type="text" id="islockedInput" th:value="${item.isLocked}">
            </td>
        </tr>
    </table>
</body>
</html>