<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:with="http://www.thymeleaf.org/extras/with" layout:decorate="~{/D_Profile/layoutprofile}" with:title="'B210'">
<th:block layout:fragment="content">
    
    <div id="contentdiv" >
        <table id="my-table" class="table table-striped display" cellspacing="0" cellpadding="0"
        style="border: none;">
            <thead>
                <tr cellspacing="0" cellpadding="0"
        style="border: none;">
                    <td>
                        <img th:src="@{${foto.filePath}}" style=" display: block;
                          margin-left: auto;
                          margin-right: auto;
                          width: 150px;
                          height: 150px;border-radius: 50%;">
                    </td>
                    <td>
                        <li style="list-style-type: none;" th:text="${bio.fullName}"></li>
                        <li style="list-style-type: none;" th:text="${jk}"></li>
                        <li style="list-style-type: none;" th:text="${usia+' tahun'}"></li>
                    </td>
                    <td>
                        <button id="pdfDownloader" class="btn btn-primary" style="float: right;
                            display: block;">Download CV</button>
                    </td>
                  
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <li style="list-style-type: none;font-size: 150%;">Pendidikan</li>
                        <ul th:each="pend : ${pendidikan}">
                            <li th:text="${pend.entryYear +'-'+pend.graduationYear}"></li>
                            <br>
                            <br>
                        </ul>
                    </td>
                    <td>
                        <br>
                        <ul th:each="pend : ${pendidikan}">
                            <li th:text="${pend.SchoolName}"></li>
                            <li th:text="${pend.major}"></li>
                            <li th:text="${pend.gpa}"></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <li style="list-style-type: none;font-size: 150%;">Pengalaman</li>
                        <ul th:each="pengalaman : ${pekerjaan}">
                            <li th:text="${pengalaman.joinYear +'-'+pengalaman.resignYear}"></li>
                            <br>
                            <br>
                        </ul>
                    </td>
                    <td>
                        <br>
                        <ul th:each="pengalaman : ${pekerjaan}">
                            <li th:text="${pengalaman.lastPosition}"></li>
                            <li th:text="${pengalaman.companyName}"></li>
                            <li th:text="${pengalaman.income}"></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <li style="list-style-type: none;font-size: 150%;">Keterampilan</li>                       
                        <ul th:each="keterampilan : ${keahlian}">
                            <li th:text="${keterampilan.skillLevel.name}"></li>
                        </ul>
                    </td>
                    <td>
                       <br>
                        <ul th:each="keterampilan : ${keahlian}">
                            <li th:text="${keterampilan.skillName}"></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="editor"></div>
    
</th:block>
<th:block layout:fragment="jsmaria" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {          
            $("#pdfDownloader").click(function () {
                html2canvas(document.getElementById("contentdiv"), {
                    onrendered: function (canvas) {
                        var imgData = canvas.toDataURL('image/png');
                        console.log('Report Image URL: ' + imgData);
                        var doc = new jsPDF(); 
                        doc.addImage(imgData, 'PNG', 150, 10, 40, 20);
                        doc.save('sample.pdf');
                    }
                });

            });


        })

    </script>

</th:block>