<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block layout:fragment="content">

    <table class="table no-border" cellspacing="0">
        <tr>
            <td><label>Status</label></td>
            <td><label>Client</label></td>
            <td></td>
        </tr>
        <tr>
            <td th:text="${item.status}"></td>
            <td th:text="${item.placement.client.name}"></td>
            <td></td>
        </tr>
        <tr>
            <td><label>Tanggal</label></td>
            <td><label>Jam Kerja</label></td>
            <td></td>
        </tr>
        <tr>
            <td th:text="${#dates.format(item.timesheetDate, 'MMMM dd, yyyy')}"></td>
            <td th:utext="${item.start+'-'+item.selesai}"></td>
            <td></td>
        </tr>
        <tr>
            <td><label>Overtime</label></td>
            <td><label>Jam Overtime</label></td>
            <td></td>
        </tr>
        <tr>
            <td th:text="${item.overtime}"></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><label>Status Persetujuan User</label></td>
            <td><label>Tgl. Submit</label></td>
            <td><label>Tgl. Disetujui</label></td>
        </tr>
        <tr>
            <td th:text="${item.userApproval}"></td>
            <td th:text="${#dates.format(item.submittedOn, 'MMMM dd, yyyy')}"></td>
            <td th:text="${#dates.format(item.approvedOn, 'MMMM dd, yyyy')}"></td>
        </tr>
        <tr>
            <td><label>Status Ero</label></td>
            <td><label>Tgl. Kirim</label></td>
            <td><label>Tgl. Terima/Collect</label></td>
        </tr>
        <tr>
            <td th:text="${item.eroStatus}"></td>
            <td th:text="${item.sentOn}"></td>
            <td th:text="${item.collectedOn}"></td>
        </tr>
        <tr>
            <td><label>Kegiatan</label></td>
        </tr>
        <tr>
            <td th:text="${item.activity}"></td>
        </tr>
        <tr align="right">
            <td colspan="3">
                <input class="btn btn-warning" style="width:100px;" type="button" value="Batal" id="btn-batal" data-dismiss="modal">
            </td>
        </tr>
    </table>
    
</th:block>
</html>