<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block layout:fragment="content">

    <form th:action="@{~/D_Timesheet/save_edit}" method="post" th:object="${objrole}">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{placementId}">
        <input type="hidden" th:field="*{eroStatus}">
        <input type="hidden" th:field="*{submittedOn}" id="submitedon">
        <input type="hidden" th:field="*{createdBy}">
        <input type="hidden" th:field="*{createdOn}" id="tanggal">
        <table class="table no-border" cellspacing="0">
            <tr>
                <td colspan="2">Status*</td>
                <td colspan="2">Client</td>
            </tr>
            <tr>
                <td colspan="2">
                    <select class="form-control" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;" type="text" th:field="*{status}" id="status" required>
                        <option value=''>--Pilih Status--</option>
                        <option value='Masuk'>Masuk</option>
                        <option value='Cuti'>Cuti</option>
                        <option value='Libur'>Libur</option>
                        <option value='Alfa'>Alfa</option>
                        <option value='Sakit'>Sakit</option>
                    </select>
                </td>
                <td colspan="2">
                    <p th:text="${objrole.placement.client.name}" class="form-control" style="border: 2px solid rgb(0,0,102);border-radius: 4px; padding: 5px 10px;background-color:#EBEBE4;" id="client"></p>
                </td>
            </tr>
            <tr>
                <td colspan="2">Tanggal*</td>
                <td colspan="2">Jam Kerja*</td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="text" th:field="*{timesheetDate}" class="form-control" id="Tdate" style="border: 2px solid rgb(0,0,102);border-radius: 4px; padding: 5px 10px;" required>
                </td>
                <td>
                    <input type="text" th:field="*{start}" id="start" placeholder="Mulai" style="border: 2px solid rgb(0,0,102);border-radius: 4px; padding: 5px 10px;" required>
                </td>
                <td>
                    <input type="text" th:field="*{selesai}" id="end" placeholder="Selesai" style="border: 2px solid rgb(0,0,102);border-radius: 4px; padding: 5px 10px;" required>
                </td>
            </tr>
            <tr>
                <td colspan="2">Overtime</td>
                <td colspan="2">Jam Overtime</td>
            </tr>
            <tr>
                <td colspan="2">
                    <select class="form-control" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;" type="text" th:field="*{overtime}" id="ot">
                        <option value='true'>Ya</option>
                        <option value='false'>Tidak</option>
                    </select>
                </td>
                <td>
                    <input type="text" th:field="*{startOt}" id="start_ot" placeholder="Mulai" style="border: 2px solid rgb(0,0,102);border-radius: 4px; padding: 5px 10px;">
                </td>
                <td>
                    <input type="text" th:field="*{endOt}" id="end_ot" placeholder="Selesai" style="border: 2px solid rgb(0,0,102);border-radius: 4px; padding: 5px 10px;">
                </td>
            </tr>
            <tr>
                <td colspan="4">Kegiatan*</td>
            </tr>
            <tr>
                <td colspan="4"><textarea rows="3" th:field="*{activity}" class="form-control" style="border: 2px solid rgb(0,0,102);border-radius: 4px; padding: 5px 10px;" /></td>
            </tr>
            <tr align="right">
                <td colspan="3">
                </td>
                <td class="btn-group">
                    <input class="btn btn-warning" style="width:100px;" type="button" value="Batal" id="btn-batal" data-dismiss="modal">
                    <input class="btn btn-primary" style="width:100px;" type="submit" value="Simpan" id="btn-simpan">
                </td>
            </tr>
        </table>
    </form>
</th:block>
<th:block layout:fragment="jsgilang">
    <script>
        $( function() {
            $( "#Tdate" ).datepicker();
        } );

        var dobId = $("#Tdate").val();

        if (dobId == '') {
        } else {
            var cutDob = dobId.split(" ");
            cutDob = cutDob[0].split("-");
            console.log(cutDob);
            $("#Tdate").val(cutDob[0] + "/" + cutDob[1] + "/" + cutDob[2]);
        }

        var dobId = $("#submitedon").val();

        if (dobId == '') {
        } else {
            var cutDob = dobId.split(" ");
            cutDob = cutDob[0].split("-");
            console.log(cutDob);
            $("#submitedon").val(cutDob[0] + "/" + cutDob[1] + "/" + cutDob[2]);
        }

        var dobId = $("#tanggal").val();

        if (dobId == '') {
        } else {
            var cutDob = dobId.split(" ");
            cutDob = cutDob[0].split("-");
            console.log(cutDob);
            $("#tanggal").val(cutDob[0] + "/" + cutDob[1] + "/" + cutDob[2]);
        }

        $("#client").prop("disabled", true);

        $(document).ready(function () {
            $("#status").click(function () {
                var t = $("#status").val()

                if (t == 'Masuk') {
                    $("#start").prop("disabled", false);
                    $("#end").prop("disabled", false);
                    $("#start_ot").prop("disabled", false);
                    $("#end_ot").prop("disabled", false);
                } else {
                    $("#start").prop("disabled", true);
                    $("#end").prop("disabled", true);
                    $("#start_ot").prop("disabled", true);
                    $("#end_ot").prop("disabled", true);
                }
            });
        });

        $(document).ready(function () {
            $("#Tdate").click(function () {
                var t = $("#Tdate").val()

                if (t != '') {
                    $("#start").prop("disabled", false);
                    $("#end").prop("disabled", false);
                    $("#start_ot").prop("disabled", false);
                    $("#end_ot").prop("disabled", false);
                } else {
                    $("#start").prop("disabled", true);
                    $("#end").prop("disabled", true);
                    $("#start_ot").prop("disabled", true);
                    $("#end_ot").prop("disabled", true);
                }
            });
        });

    </script>
</th:block>
</html>