<form th:action="@{~/D_Timesheet/is_delete}" method="post" th:object = "${objrole}">
    <input type="hidden" th:field="*{id}">
    <input type="hidden" th:field="*{status}">
    <input type="hidden" th:field="*{placementId}">
    <input type="hidden" th:field="*{start}">
    <input type="hidden" th:field="*{selesai}">
    <input type="hidden" th:field="*{activity}">
    <input type="hidden" th:field="*{placementId}">
    <input type="hidden" th:field="*{userApproval}">
    <input type="hidden" th:field="*{eroStatus}">
    <input type="hidden" th:field="*{submittedOn}" id="submitedon">
    <input type="hidden" th:field="*{timesheetDate}" id="timesheet">
    <input type="hidden" th:field="*{createdBy}">
    <input type="hidden" th:field="*{createdOn}" id="tanggal">
    <table class="table no-border" cellpadding="5" cellspacing="0">
        <tr>
            <td rowspan="2">
                <i class="fa fa-trash" style="font-size: 100px;"></i>
            </td>
        </tr>
        <tr>
            <td align="center"><h3 th:utext="${'Anda yakin ingin menghapus timesheet tanggal '+'&lt;strong&gt;'+#dates.format(objrole.timesheetDate, 'MMMM dd, yyyy')+' ?'+'&lt;/strong&gt;'}"/></td>
        </tr>
        <tr align="right">
            <td></td>
            <td class="btn-group">
                <input class="btn btn-warning" style="width:100px;" type="button" value="Tidak" data-dismiss="modal">
                <input class="btn btn-danger" style="width:100px;" type="submit" value="Ya">
            </td>
        </tr>
    </table>
</form>
<th:block layout:fragment="jsgilang">
    <script>
        var dobId = $("#datepicker").val();

        var dobId = $("#submitedon").val();

        if (dobId == '') {
        } else {
            var cutDob = dobId.split(" ");
            cutDob = cutDob[0].split("-");
            console.log(cutDob);
            $("#submitedon").val(cutDob[0] + "/" + cutDob[1] + "/" + cutDob[2]);
        }

        var dobId = $("#tanggal").val();

        if (dobId == '') {
        } else {
            var cutDob = dobId.split(" ");
            cutDob = cutDob[0].split("-");
            console.log(cutDob);
            $("#tanggal").val(cutDob[0] + "/" + cutDob[1] + "/" + cutDob[2]);
        }

        var dobId = $("#timesheet").val();

        if (dobId == '') {
        } else {
            var cutDob = dobId.split(" ");
            cutDob = cutDob[0].split("-");
            console.log(cutDob);
            $("#timesheet").val(cutDob[0] + "/" + cutDob[1] + "/" + cutDob[2]);
        }

    </script>
</th:block>
