<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with" layout:decorate="~{layout}" with:title="'B210'">

<th:block layout:fragment="content">
    <input type="text" id="dateawal" placeholder="From"
           style="border: 2px solid rgb(0,0,102);border-radius: 4px; padding: 5px 10px;">
    <input type="text" id="dateakhir" placeholder="To"
           style="border: 2px solid rgb(0,0,102);border-radius: 4px; padding: 5px 10px;">
    <button type="button" class="btn btn-primary btn-round" style="background-color:rgb(0, 0, 102); color:white"
            id="caributton"><span class="fa fa-search"></span></button>
    <div align="right">
        <button type="button" class="btn  btn-primary btn-round"
                style="background-color:rgb(0, 0, 102); color:white"
                id="sort" onclick="sortByDate()"><strong>Sort</strong></button>
        <button type="button" class="btn  btn-primary btn-round" style="background-color:rgb(0, 0, 102); color:white"
                id="addbutton"><strong>+</strong></button>
        <select name="state" id="maxRows" style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 113px; padding: 5px 10px;">
            <option value="5000">Show ALL Rows</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </div>

    <div id="listtimesheet">
        <table class="table table-striped" id="thistable">
            <tr style="border-top: 2px solid rgb(0,0,102);border-bottom: 3px solid rgb(0,0,102);">
                <th>STATUS</th>
                <th>TANGGAL</th>
                <th>CLIENT</th>
                <th>USER APPROVAL</th>
                <th>COLLECTED BY ERO</th>
                <th>#</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${List}">
                <td th:text="${item.status}"></td>
                <td th:text="${#dates.format(item.timesheetDate, 'MMMM dd, yyyy')}" id="datepicker"></td>
                <td th:text="${item.placement.client.name}"></td>
                <td th:text="${item.userApproval}" id="approval"></td>
                <td th:text="${item.eroStatus}"></td>
                <td>
                    <li class="dropdown ">
                        <button style="background-color:rgb(0, 0, 102); color:white"
                                class="dropdown-toggle btn btn-primary" data-toggle="dropdown" role="button"
                                aria-expanded="false">
                            <span></span>More
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu">
                            <li class="">
                                <button class="form-control" id="detailbutton" type="button" th:value="${item.id}"
                                        style="background-color: Transparent; background-repeat:no-repeat;
                                            border: none; cursor:pointer;overflow: hidden;outline:none">Detail
                                </button>
                            </li>
                            <li class="">
                                <button class="form-control" onclick="editTS(this.value)" type="button" th:value="${item.id}"
                                        style="background-color: Transparent; background-repeat:no-repeat;
                                            border: none; cursor:pointer;overflow: hidden;outline:none">Edit
                                </button>
                            </li>
                            <li class="">
                                <button class="form-control" id="deletebutton" type="button" th:value="${item.id}"
                                        style="background-color: Transparent; background-repeat:no-repeat;
                                            border: none; cursor:pointer;overflow: hidden;outline:none">Hapus
                                </button>
                            </li>
                        </ul>
                    </li>
                </td>
            </tr>
            </tbody>
        </table>
        <div>
            <nav>
                <ul class="pagination"></ul>
            </nav>
        </div>

        <!--  Add Modal -->
        <div class="modal fade" id="addmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document" style="height:relative;width:70%">
                <div class="modal-content" style="border-radius:10px;border: 2px solid rgb(0,0,102);">
                    <div class="modal-header "
                         style="border-top-left-radius:8px;border-top-right-radius:8px;background-color:rgb(0,0,102); color:white;">
                        <h3 class="modal-title">Timesheet
                        </h3>
                    </div>
                    <div class="modal-body">

                    </div>
                </div>
            </div>
        </div>

        <!--  detail Modal -->
        <div class="modal fade" id="detailmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document" style="height:relative;width:50%">
                <div class="modal-content" style="border-radius:10px;border: 2px solid rgb(0,0,102);">
                    <div class="modal-header "
                         style="border-top-left-radius:8px;border-top-right-radius:8px;background-color:rgb(0,0,102); color:white;">
                        <h3 class="modal-title">Detail
                        </h3>
                    </div>
                    <div class="modal-body" style="overflow:auto">

                    </div>
                </div>
            </div>
        </div>

        <!--  Delete  Modal -->
        <div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-danger" role="document">
                <div class="modal-content" style="border-radius:10px;border: 2px;">
                    <div class="modal-header" style="border-top-left-radius:8px;border-top-right-radius:8px;">
                        <h3 class="modal-title">Hapus Timesheet?
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </h3>
                    </div>
                    <div class="modal-delete">

                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>
<th:block layout:fragment="jsgilang">
    <script>
    $( function() {
        $( "#dateawal" ).datepicker();
        $( "#dateakhir" ).datepicker();
    } );



        $('#addbutton').click(function () {
            console.log('Click add timesheet...');

            $.ajax(
                {
                    url: '/D_Timesheet/form',
                    dataType: "html",
                    success: function (data) {

                        $('.modal-body').html(data);
                        $('#addmodal').modal('show');

                    },
                    error: function (e) {
                        alert('Error: ' + e);
                    }
                });
        });

        $("#listtimesheet").on('click', '#detailbutton', function () {
            console.log('Klik Disini');
            var vId = $(this).val();

            $.ajax({
                url: '/D_Timesheet/detail/' + vId,
                type: 'get',
                dataType: 'html',
                success: function (hasil) {
                    $('.modal-body').html(hasil);
                    $("#detailmodal").modal('show');
                }
            });
        });

        function editTS(id){
        $.ajax({
            url: '/D_Timesheet/getTS/' + id,
            type: 'get',
               success:function(hasil){
               console.log("value user approval : "+hasil.userApproval);

               if((hasil.userApproval == 'Submitted')||(hasil.userApproval=='Approved')){
               alert('Anda tidak dapat mengubah timesheet ini');
               }else{
               tampiledit(hasil.id);

               }
               }
             });
        }

        function tampiledit(vId) {
            console.log('in click editbutton...');
            $.ajax({
                url: '/D_Timesheet/edit/' + vId,
                type: 'get',
                dataType: 'html',
                success: function (hasil) {

                    $('.modal-body').html(hasil);
                    $("#addmodal").modal('show');
                }
            })
        };

<!--        $("#listtimesheet").on('click', '#editbutton', function () {-->
<!--            console.log('Klik Disini');-->
<!--            var vId = $(this).val();-->

<!--            $.ajax({-->
<!--                url: '/D_Timesheet/edit/' + vId,-->
<!--                type: 'get',-->
<!--                dataType: 'html',-->
<!--                success: function (hasil) {-->

<!--                    $('.modal-body').html(hasil);-->
<!--                    $("#addmodal").modal('show');-->

<!--                }-->
<!--            });-->
<!--        });-->


        $("#listtimesheet").on('click', '#deletebutton', function () {
            console.log('Klik Disini');
            var vId = $(this).val();

            $.ajax({
                url: '/D_Timesheet/hapus/' + vId,
                type: 'get',
                dataType: 'html',
                success: function (hasil) {
                    $('.modal-delete').html(hasil);
                    $("#deletemodal").modal('show');
                }
            });
        });


        $(document).ready(function(){
            $("#caributton").click(function() {
                var date1 = $(dateawal).val();
                var date2 = $(dateakhir).val();
                if(date1=="" && date2 == ""){
                }
                else{
                        console.log("benar");
                        console.log("button cari diklik");
                        var date1 = new Date("'"+$('#dateawal').val()+"'");
                        var date2 = new Date("'"+$('#dateakhir').val()+"'");
                        $.ajax({

                                url: '/D_Timesheet/view_by_date/' + date1 + '/' + date2,
                                type: 'get',
                                dataType: 'html',
                                success: function (hasil) {
                                    console.log(date1 + " - " + date2);
                                    window.location.href='/D_Timesheet/view_by_date/' + date1 + '/' + date2;
                                }
                            });
                }
            });
        });


        function loadData() {
            $.ajax({
                url: '/D_Timesheet/lihat_timesheet',
                type: 'get',
                dataType: 'html',
                success: function (hasil) {
                    $(".modal-backdrop.in").hide();
                    $('#listtimesheet').html(hasil);
                }
            });
        }


    </script>

    <script>
        $(document).ready(function () {
  getPagination('#thistable');
  $('#maxRows option:last').prop('selected', true).trigger('change');
});

function getPagination(table) {

  $('#maxRows').on('change', function(e) {
    $('.pagination').html(''); // reset pagination
    var trnum = 0; // reset tr counter
    var maxRows = parseInt($(this).val()); // get Max Rows from select option
    var totalRows = $(table + ' tbody tr').length; // numbers of rows
    $(table + ' tr:gt(0)').each(function() { // each TR in  table and not the header
      trnum++; // Start Counter
      if (trnum > maxRows) { // if tr number gt maxRows

        $(this).hide(); // fade it out
      }
      if (trnum <= maxRows) {
        $(this).show();
      } // else fade in Important in case if it ..
    }); //  was fade out to fade it in
    if (totalRows > maxRows) { // if tr total rows gt max rows option
      var pagenum = Math.ceil(totalRows / maxRows); // ceil total(rows/maxrows) to get ..
      //	numbers of pages
      for (var i = 1; i <= pagenum;) { // for each page append pagination li
        $('.pagination').append('<li class"wp" data-page="' + i + '">\
<span>' + i++ + '<span class="sr-only">(current)</span></span>\
</li>').show();
      } // end for i
    } // end if row count > max rows
    $('.pagination li:first-child').addClass('active'); // add active class to the first li
    $('.pagination li').on('click', function() { // on click each page
      var pageNum = $(this).attr('data-page'); // get it's number
      var trIndex = 0; // reset tr counter
      $('.pagination li').removeClass('active'); // remove active class from all li
      $(this).addClass('active'); // add active class to the clicked
      $(table + ' tr:gt(0)').each(function() { // each tr in table not the header
        trIndex++; // tr index counter
        // if tr index gt maxRows*pageNum or lt maxRows*pageNum-maxRows fade if out
        if (trIndex > (maxRows * pageNum) || trIndex <= ((maxRows * pageNum) - maxRows)) {
          $(this).hide();
        } else {
          $(this).show();
        } //else fade in
      }); // end of for each tr in table
    }); // end of on click pagination list


  });

  // end of on select change



  // END OF PAGINATION
}

    </script>
</th:block>