<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:with="http://www.thymeleaf.org/extras/with" with:title="'B210'">

<th:block layout:fragment="content">

    <form name="form-keluarga" id="form-keluarga" th:action="@{~/D_Keluarga/save}" method="POST"
        th:object="${objkeluarga}">
        <select style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"
            th:field="*{familyRelationId}" class="form-control" required>
            <option value="">-Pilih-</option>
            <option th:each="item:${listfamilyrelation}" th:value="${item.Id}" th:text="${item.Name}">
            </option>
        </select>
    </form>

</th:block>

</html>