<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:with="http://www.thymeleaf.org/extras/with" with:title="'B210'">

<th:block layout:fragment="content">
    <form name="form-keluarga" id="form-keluarga" th:action="@{~/D_Keluarga/save_edit}" method="POST"
        th:object="${objkeluarga}">

        <!-- Biodata-ID -->
        <input type="hidden" th:field="*{biodataId}" id="insert-biodata-id-keluarga" value=""></td>

        <!-- Insert Create_ON Secara Paksa -->
        <input type="hidden" th:field="*{createOn}" id="date_create_on">

        <!-- Table Form Tambah Keluarga -->
        <table class="table no-border" cellpadding="5" cellspacing="0">
            <tr>
                <!-- Tabel x_family_tree_type -->
                <td colspan="2">Jenis Susunan Keluarga*
                    <select style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"
                        th:field="*{familyTreeTypeId}" class="form-control" required>
                        <option value="">-Pilih-</option>
                        <option th:each="item:${listfamilytreetype}" th:value="${item.Id}" th:text="${item.Name}"
                            id="familyTreeTypeId">
                        </option>
                    </select>
                </td>

                <!-- Tabel x_family -->
                <td colspan="2">Hubungan Keluarga*
                    <div id="family_relation">
                        <select
                            style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"
                            th:field="*{familyRelationId}" class="form-control" required>
                            <option value="">-Pilih-</option>
                            <option th:each="item:${listfamilyrelation}" th:value="${item.Id}" th:text="${item.Name}">
                            </option>
                        </select>
                    </div>
                </td>

            </tr>
            <tr>
                <td>Nama*
                    <input type="hidden" th:field="*{Id}">
                    <input style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"
                        th:field="*{name}" type="text" class="form-control" id="logname" required>
                </td>
                <td>Jenis Kelamin
                    <select style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"
                        th:field="*{genderKeluarga}" class="form-control">
                        <option th:value="true" th:text="L"></option>
                        <option th:value="false" th:text="P"></option>
                    </select>
                </td>
                <td>Tgl. Lahir*
                    <input style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"
                        th:field="*{dob}" type="text" class="form-control" id="dob-edit-final" required>
                </td>
            </tr>
            <tr>
                <td>Pendidikan
                    <select style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"
                        th:field="*{educationLevelId}" class="form-control">
                        <option value="">-Pilih-</option>
                        <option th:each="item:${listeducationlevel}" th:value="${item.id}" th:text="${item.name}">
                        </option>
                    </select>
                </td>
                <td colspan="2">Pekerjaan
                    <input style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"
                        th:field="*{job}" type="text" class="form-control">
                </td>
            </tr>
            <tr>
                <td colspan="3">Catatan
                    <textarea type="text" th:field="*{notes}" class="form-control"
                        style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 100%; padding: 5px 10px;"></textarea>
                </td>
            </tr>

            <tr align="right">
                <td> </td>
                <td colspan="2" class="btn-group">
                    <input type="button" value="Batal" class="btn btn-warning" data-dismiss="modal">
                    <input id="submit-keluarga" class="btn btn-primary" type="submit" value="Simpan">
                </td>
            </tr>
        </table>
    </form>

    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script th:src="@{/js/jquery.validate.min.js}"></script>

    <script>
        $(function () {
            $("#dob-edit-final").datepicker();
        });

        $("#form-keluarga").validate();

        // Get ID Jenis Susunan Keluarga
        $('#familyTreeTypeId').click(function () {
            var valKeluarga = $('#familyTreeTypeId').val();
            console.log(valKeluarga);

            $.ajax({
                url: '/D_Keluarga/family_relation/' + valKeluarga,
                type: 'get',
                dataType: 'html',
                success: function (result) {
                    document.getElementById("family_relation").innerHTML = result
                }
            })

        });
    </script>

    <!-- JQUERY Tanggal DOB -->
    <script>
        var dobId = $("#dob-edit-final").val();

        if (dobId == '') {
        } else {
            var cutDob = dobId.split(" ");
            cutDob = cutDob[0].split("-");
            $("#dob-edit-final").val(cutDob[0] + "/" + cutDob[1] + "/" + cutDob[2]);
        }
    </script>

    <!-- JQUERY Tanggal CreateOn -->
    <script>
        var dobId = $("#date_create_on").val();

        if (dobId == '') {
        } else {
            var cutDob = dobId.split(" ");
            cutDob = cutDob[0].split("-");
            $("#date_create_on").val(cutDob[0] + "/" + cutDob[1] + "/" + cutDob[2]);
        }
    </script>

</th:block>

</html>