<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:with="http://www.thymeleaf.org/extras/with" with:title="'B210'">

<th:block layout:fragment="content">
    <form name="form-keluarga" id="form-keluarga" th:action="@{~/D_Keluarga/is_delete}" method="POST"
        th:object="${objkeluarga}">

        <!-- Insert Create_ON Secara Paksa -->
        <input th:field="*{createOn}" type="text" class="form-control" id="datepicker">

        <!-- Insert Modified Created By Secara Paksa -->
        <input type="hidden" th:field="*{createBy}">

        <!-- Insert Modified On Secara Paksa -->
        <input type="hidden" th:field="*{modifiedOn}" id="date_modified_on">

        <!-- Insert Modified By Secara Paksa -->
        <input type="hidden" th:field="*{modifiedBy}">

        <!-- Table Untuk Modal Hapus Keluarga -->
        <table class="table no-border" cellspacing="0" cellpadding="5">
            <tr>
                <td rowspan="2">
                    <i class="fa fa-trash" style="font-size: 100px;"></i>
                </td>
            </tr>
            <tr align="center">
                <td>
                    <h3
                        th:utext="${'Anda yakin ingin menghapus Keluarga '+'&lt;br/&gt;'+' '+'&lt;strong&gt;'+objkeluarga.Name +' ?'+'&lt;/strong&gt;'}">
                    </h3>
                </td>
            </tr>
            <tr align="right">
                <td colspan="2" class="btn-group">
                    <input class="btn btn-warning" type="button" style="width:100px;" data-dismiss="modal"
                        value="Tidak" />
                    <input class="btn btn-danger" type="submit" style="width:100px;" value="Ya" id="btn-delete-back" />
                </td>
            </tr>
        </table>

        <!-- Hidden Table Form Tambah Keluarga -->
        <table class="table no-border" cellpadding="5" cellspacing="0" hidden>
            <tr>
                <!-- Tabel x_family_relation -->
                <td colspan="2">Jenis Susunan Keluarga*
                    <select th:field="*{familyRelationId}" class="form-control">
                        <option value="">-Pilih-</option>
                        <option th:each="item:${listfamilyrelation}" th:value="${item.Id}" th:text="${item.Name}"
                            id="familyRelationId">
                        </option>
                    </select>
                </td>

                <!-- Tabel x_family_tree_type -->
                <td>Hubungan Keluarga*
                    <select th:field="*{familyTreeTypeId}" class="form-control">
                        <option value="">-Pilih-</option>
                        <option th:each="item:${listfamilytreetype}" th:value="${item.Id}" th:text="${item.Name}"
                            id="familyTreeTypeId">
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Nama*
                    <input type="hidden" th:field="*{Id}">
                    <input th:field="*{name}" type="text" class="form-control" id="logname">
                </td>
                <td>Jenis Kelamin
                    <select th:field="*{genderKeluarga}" class="form-control">
                        <option th:value="true" th:text="L"></option>
                        <option th:value="false" th:text="P"></option>
                    </select>
                </td>
                <td>Tgl. Lahir*
                    <input th:field="*{dob}" type="text" class="form-control" id="datepicker2">
                </td>
            </tr>
            <tr>
                <td>Pendidikan
                    <select th:field="*{educationLevelId}" class="form-control">
                        <option value="">-Pilih-</option>
                        <option th:each="item:${listeducationlevel}" th:value="${item.id}" th:text="${item.name}">
                        </option>
                    </select>
                </td>
                <td>Pekerjaan
                    <input th:field="*{job}" type="text" class="form-control">
                </td>
            </tr>
            <tr>
                <td>Catatan
                    <input th:field="*{notes}" type="text" class="form-control">

                    <!-- Biodata-ID -->
                    <input type="hidden" th:field="*{biodataId}" id="insert-biodata-id-keluarga" value=""></td>
                </td>
            </tr>
        </table>
    </form>

    <!-- JQUERY Tanggal DOB -->
    <script>
        var dobId2 = $("#datepicker2").val();

        if (dobId2 == '') {
        } else {
            var cutDob2 = dobId2.split(" ");
            cutDob2 = cutDob2[0].split("-");
            console.log(cutDob2);
            $("#datepicker2").val(cutDob2[0] + "/" + cutDob2[1] + "/" + cutDob2[2]);
        }
    </script>

    <!-- JQUERY Tanggal CreateOn -->
    <script>
        var dobId = $("#datepicker").val();

        if (dobId == '') {
        } else {
            var cutDob = dobId.split(" ");
            cutDob = cutDob[0].split("-");
            console.log(cutDob);
            $("#datepicker").val(cutDob[0] + "/" + cutDob[1] + "/" + cutDob[2]);
        }
    </script>

    <!-- JQUERY Tanggal ModifiedOn -->
    <script>
        var dobId = $("#date_modified_on").val();

        if (dobId == '') {
        } else {
            var cutDob = dobId.split(" ");
            cutDob = cutDob[0].split("-");
            $("#date_modified_on").val(cutDob[0] + "/" + cutDob[1] + "/" + cutDob[2]);
        }
    </script>

</th:block>

</html>