<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:with="http://www.thymeleaf.org/extras/with">

<!-- Tampilan Form -->
<th:block layout:fragment="content">
    <div id="list-keluarga">
        <div>
            <h3 style="color:rgb(0, 0, 102)">Keluarga
                <button type="button"
                    style="border:0;background: none;color: inherit;border: none;padding: 0;font: inherit;cursor: pointer;outline: inherit;"
                    class="btn  btn-primary btn-round" id="add-button-keluarga">
                    <span class="fa fa-plus-circle" style="color:black"></span></button>
            </h3>
        </div>

        <div>
            <!-- Input Biodata ID -->
            <input id="bio-id-keluarga" type="hidden" th:value="${keluargaid}">
            <table class="table">
                <thead>
                    <tr style="border-top: 4px solid rgb(0,0,102);border-bottom: 4px solid rgb(0,0,102);">
                        <th class="text-center">HUBUNGAN</th>
                        <th class="text-center">NAMA</th>
                        <th class="text-center">JK</th>
                        <th class="text-center">TGL. LAHIR</th>
                        <th class="text-center">PENDIDIKAN</th>
                        <th class="text-center">PEKERJAAN</th>
                        <th class="text-center">#</th>
                    </tr>
                </thead>

                <tbody class="text-center">
                    <tr th:each="item, key : ${listkeluarga}">
                        <input id="dob" type="hidden" th:value="${item.dob}">
                        <td th:text="${item.m_Family_Tree_Type.Name}"></td>
                        <td th:text="${item.name}"></td>
                        <td th:text="${item.genderKeluarga} ? 'L' : 'P'"></td>
                        <!-- <td th:text="${#dates.format(item.dob, 'yyyy/MM/dd')}"></td> -->
                        <td th:text="${item.m_EducationLevel.Name}"></td>
                        <td th:text="${item.job}"></td>
                        <td>
                            <li class="dropdown ">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-expanded="false">
                                    <span></span>MORE
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="">
                                        <button type="button" id="btn-edit" th:value="${item.id}"
                                            style="background-color: Transparent; background-repeat:no-repeat;
                                                border: none; cursor:pointer;overflow: hidden;outline:none">Edit</button>
                                    </li>
                                    <li class="">
                                        <button type="button" id="btn-delete-baru" th:value="${item.id}"
                                            style="background-color: Transparent; background-repeat:no-repeat;
                                                border: none; cursor:pointer;overflow: hidden;outline:none">Hapus</button>
                                    </li>
                                    <li></li>
                                </ul>
                            </li>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- Modal Tambah Keluarga -->
            <!-- <div class="modal fade" id="add-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document" style="width:80%;">
                    <div class="modal-content" style="border-radius:10px;border: 2px solid rgb(0,0,102);">
                        <div class="modal-header"
                            style="border-top-left-radius:8px;border-top-right-radius:8px;background-color:rgb(0,0,102); color:white;">
                            <h5 class="modal-title" id="titleadd" style="font-size:20"><strong>Tambah
                                    Keluarga</strong></h5>
                        </div>
                        <div class="modal-body" id="modal-body-tambah-keluarga">

                        </div>
                    </div>
                </div>
            </div> -->

            <!-- Modal Tambah Keluarga -->
            <div class="modal fade" id="add-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content" style="border-radius:10px;border: 2px solid rgb(0,0,102);">
                        <div class="modal-header"
                            style="border-top-left-radius:8px;border-top-right-radius:8px;background-color:rgb(0,0,102); color:white;">
                            <table>
                                <tr>
                                    <td>
                                        <h5 class="modal-title" style="color:white">Tambah ?</h5>
                                    </td>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </tr>
                            </table>
                        </div>
                        <div id="modal-body-tambah-keluarga">

                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Edit Keluarga -->
            <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content" style="border-radius:10px;border: 2px solid rgb(0,0,102);">
                        <div class="modal-header"
                            style="border-top-left-radius:8px;border-top-right-radius:8px;background-color:rgb(0,0,102); color:white;">

                            <table>
                                <tr>
                                    <td>
                                        <h5 class="modal-title" style="color:white">Ubah ?</h5>
                                    </td>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </tr>
                            </table>
                        </div>
                        <div id="modal-body-edit-keluarga">

                        </div>
                    </div>
                </div>
            </div>

            <!--  Modal Hapus Keluarga  -->
            <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" style="border-radius:10px;border: 2px solid rgb(204,0,0);">
                        <div class="modal-header"
                            style="border-top-left-radius:8px;border-top-right-radius:8px; background-color:rgb(211,55,36);">
                            <table>
                                <tr>
                                    <td>
                                        <h5 class="modal-title" style="color:white">Hapus ?</h5>
                                    </td>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </tr>
                            </table>
                        </div>
                        <div id="modal-body-hapus-keluarga">

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</th:block>

<th:block layout:fragment="jsfahri">
    <script>
        // Tambah Keluarga
        $('#add-button-keluarga').click(function () {
            var bioId = $('#bio-id-keluarga').val();

            $.ajax(
                {
                    url: '/D_Keluarga/form_tambah_keluarga',
                    dataType: "html",
                    success: function (data) {
                        $('#modal-body-tambah-keluarga').html(data);
                        $('#add-modal').modal('show');
                        $('#insert-biodata-id-keluarga').val(bioId);
                    },
                    error: function (e) {
                        alert('Error: ' + e);
                    }
                });
        });

        //Edit Keluarga
        $("#list-keluarga").on('click', '#btn-edit', function () {
            var vId = $(this).val();

            $.ajax({
                url: '/D_Keluarga/edit/' + vId,
                type: 'get',
                dataType: 'html',
                success: function (hasil) {
                    $('#modal-body-edit-keluarga').html(hasil);
                    $("#edit-modal").modal('show');
                }
            });
        });

        //Tidak Hapus
        $("#list-keluarga").on('click', '#btn-delete-baru', function () {
            var vId = $(this).val();

            $.ajax({
                url: '/D_Keluarga/hapus/' + vId,
                type: 'get',
                dataType: 'html',
                success: function (hasil) {
                    $('#modal-body-hapus-keluarga').html(hasil);
                    $("#delete-modal").modal('show');

                    $(function () {
                        $("#datepicker").datepicker();
                    });
                },
                error: function (e) {
                    alert('Error: ' + e);
                }
            });
        });

        function loadData() {
            $.ajax({
                url: '/D_Keluarga/lihat_keluarga',
                type: 'get',
                dataType: 'html',
                success: function (hasil) {
                    $(".modal-backdrop.in").hide();
                    $('#list-keluarga').html(hasil);
                }
            });
        }
    </script>
</th:block>

</html>