
<form th:action="@{/religion/save}" method="post" th:object="${religions}">
    <table class="table table-striped table-bordered" cellpadding="5" cellspacing="0">
        <tr>
            <td>Religion</td>
            <td> : </td>
            <td>
                <input type="hidden" th:field="*{id}">
                <input type="text" th:field="*{name}" class="form-control">
            </td>
        </tr>
        <tr>
            <td>Description</td>
            <td> : </td>
            <td>
                <!-- <input type="hidden" th:field="*{id}"> -->
                <textarea  th:field="*{description}" cols="30" rows="10"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <input type="submit" value="Simpan" class="btn btn-primary"
                    onclick="javascript:location.replace('lihatreligion')">
                <input type="button" value="Batal" class="btn btn-warning" data-dismiss="modal">
            </td>
        </tr>
    </table>
</form>
