<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:with="http://www.thymeleaf.org/extras/with" layout:decorate="~{layout}" with:title="'B210'">
<th:block layout:fragment="content">
    <div id="list-religion">
        <div class="col-md-12 top-20 padding-0">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">


                        <div align="left" style="margin-right:10px">
                            <input type="text" id="inputfilter" placeholder=" Search by Religion" style="border: 2px solid blue;
                border-radius: 25px;">
                        </div>
                        <div align="right" style="margin-right:10px">
                            <li class="dropdown ">
                                <a href="#" class="btn btn-primary" data-toggle="dropdown" role="button"
                                    aria-expanded="false">
                                    <span></span>SORT
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="">
                                        <button type="button" id="sortasc" 
                                            style="background-color: Transparent; background-repeat:no-repeat;
                            border: none; cursor:pointer;overflow: hidden;outline:none">Sort Ascending</button>
                                    </li>
                                    <li class="">
                                        <button type="button" id="sortdsc"
                                            style="background-color: Transparent; background-repeat:no-repeat;
                            border: none; cursor:pointer;overflow: hidden;outline:none">Sort Dscending</button>
                                    </li>
                                    <li></li>
                                </ul>
                            </li>
                            <button type="submit" class="btn  btn-primary btn-roundy" id="addreligion">
                                <strong>( + )</strong>
                            </button>
                        </div>

                    </div>
                    <div class="panel-body">
                        <div class="responsive-table">
                            <table id="religion-table" class="table table-striped table-bordered" width="100%"
                                cellspacing="0">
                                <thead align="center" style="background-color: blue;">
                                    <td>Nama</td>
                                    <td>Deskripsi</td>
                                    <td>Action</td>

                                </thead>
                                <tbody>
                                    <tr th:each="religions : ${religions}" align="center" id="sort">
                                        <td th:text="${religions.name}"></td>
                                        <td th:text="${religions.description}"></td>
                                        <td>
                                            <li class="dropdown ">
                                                <a href="#" class="btn btn-primary" data-toggle="dropdown" role="button"
                                                    aria-expanded="false">
                                                    <span></span>MORE
                                                    <span class="caret"></span></a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li class="">
                                                        <button type="button" id="editbutton" th:value="${religions.id}"
                                                            style="background-color: Transparent; background-repeat:no-repeat;
                                            border: none; cursor:pointer;overflow: hidden;outline:none">Edit</button>
                                                    </li>
                                                    <li class="">
                                                        <button type="button" id="deletebutton"
                                                            th:value="${religions.id}" style="background-color: Transparent; background-repeat:no-repeat;
                                            border: none; cursor:pointer;overflow: hidden;outline:none">Hapus</button>
                                                    </li>
                                                    <li></li>
                                                </ul>
                                            </li>

                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                            <!--  Modal Hapus Religion-->
                            <div class="modal fade" id="deletemodal" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content" style="border-radius:10%">
                                        <div class="modal-header" style="background-color:rgb(217,83,79); color:white">
                                            <h5 class="modal-title">Hapus Religion</h5>
                                        </div>
                                        <div class="modal-body">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--  Modal Edit Religion  -->
                            <div class="modal fade" id="editmodal" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-group-item" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header" style="background-color:rgb(0, 0, 102); color:white">
                                            <h5 class="modal-title">Edit Religion</h5>
                                        </div>
                                        <div class="modal-body">

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal Tambah Religion-->
                            <div class="modal fade" id="addmodal" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header" style="background-color:rgb(0, 0, 102); color:white">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Category</h5>
                                        </div>
                                        <div class="modal-body">
                                            ...
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>
<th:block layout:fragment="jsmaria">
    <script>
        $("#inputfilter").on("keyup", function () {
            var value = $(this).val();

            $("#religion-table tr").each(function (index) {
                console.log('masuk search');
                if (index != 0) {

                    $row = $(this);

                    var id = $row.find("td:first").text();

                    if (id.indexOf(value) != 0) {
                        $(this).hide();
                    }
                    else {
                        $(this).show();
                    }
                }
            });
        });

    function sortTable(table, order) {
        var asc = order === 'asc',
            tbody = table.find('tbody');

        tbody.find('tr').sort(function (a, b) {
            if (asc) {
                return $('td:first', a).text().localeCompare($('td:first', b).text());
            } else {
                return $('td:first', b).text().localeCompare($('td:first', a).text());
            }
        }).appendTo(tbody);
    }


    $("#list-religion").on('click', '#sortasc', function () {
        console.log("Sortttt");
        sortTable($('#religion-table'), 'asc');
    }).on('click','#sortdsc', function () {
        sortTable($('#religion-table'), 'dsc');
        
    })

        $('#addreligion').click(function () {
            console.log('Click in here...');
            $.ajax(
                {
                    url: '/religion/formtambahreligion',
                    dataType: "html",
                    success: function (data) {
                        $('.modal-body').html(data);
                        $('#addmodal').modal('show');
                    },
                    error: function (e) {
                        alert('Error: ' + e);
                    }
                });
        });

        $("#list-religion").on('click', '#editbutton', function () {
            console.log('in click editbutton...');
            var vId = $(this).val();

            $.ajax({
                url: 'edit/' + vId,
                type: 'get',
                dataType: 'html',
                success: function (hasil) {
                    $('.modal-body').html(hasil);
                    $("#editmodal").modal('show');
                }
            });
        }).on('click', '#deletebutton', function () {
            console.log('in click deletebutton...');
            var vId = $(this).val();

            $.ajax({
                url: 'delete/' + vId,
                type: 'get',
                dataType: 'html',
                success: function (hasil) {
                    $('.modal-body').html(hasil);
                    $("#deletemodal").modal('show');
                }
            });
        });
        function loadData() {
            $.ajax({
                url: 'lihatreligion',
                type: 'get',
                dataType: 'html',
                success: function (hasil) {
                    $(".modal-backdrop.in").hide();
                    $('#list-religion').html(hasil);
                }
            });
        }


    </script>
</th:block>